@use "shared/controls";

.game_hover {
	h4 {
		color: var(--color-fg-main);
		font: var(--text--heading-medium);
		letter-spacing: 0;
		margin: 0;
	}

	.content {
		padding: 0;
	}
}

.game_hover_box {
	@include controls.tooltip;
}

.hover_arrow_left,
.hover_arrow_right {
	display: none;
}

.hover_body {
	margin-block-end: var(--spacing-md);
}

// Friend reviews
.hover_details_block_full {
	display: none;
}

.hover_friends_blocks {
	margin: 0;

	.playerAvatar {
		margin-inline-end: var(--spacing-xxs);
	}
}

.hover_release {
	color: var(--color-fg-dim);
	font: var(--text--body-small);

	& > div {
		display: flex;
	}

	.vr_required,
	.vr_supported {
		color: inherit;
		font: inherit;
	}
}

.hover_review_summary {
	background-color: transparent;
	color: inherit;
	padding: 0;
}

.hover_tag_row {
	font: var(--text--body-small);
	gap: var(--spacing-xxs);
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	height: calc(1lh + 6.5px * 2);
}

.hover_screenshots {
	margin-block: var(--spacing-md);

	.screenshot {
		border-radius: var(--rounding-lg);
	}
}
