@use "shared/extends/style";

:root {
	--dialog_window-control-size: 25px;
	--dialog_window-control-spacing: 18px;
}

.title-area-icon {
	@include style.icon;

	--icon-size: var(--dialog_window-control-size);

	&:hover {
		color: var(--fg-main);
	}

	&.closeButton {
		--icon-name: var(--icon-close);
	}

	// TODO
	&.maximizeButton {
		--icon-name: var(--icon-restore);
	}

	&.minimizeButton {
		--icon-name: var(--icon-minimize);
	}

	&.restoreButton {
		--icon-name: var(--icon-restore);
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	color: var(--fg-dim);
	gap: var(--dialog_window-control-spacing);
}
