@use "shared/style";

.title-area-icon {
	@include style.icon;

	--icon-size: var(--dialog_window-control-size);

	&:hover {
		color: var(--fg-main);
	}

	&.closeButton {
		--icon-name: icon("close");
	}

	// TODO
	&.maximizeButton {
		--icon-name: icon("restore");
	}

	&.minimizeButton {
		--icon-name: icon("minimize");
	}

	&.restoreButton {
		--icon-name: icon("restore");
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	color: var(--fg-dim);
	gap: var(--dialog_window-control-spacing);
}
