@use "shared/extends/style";

:root {
	--dialog_window-control-size: 25px;
	--dialog_window-control-spacing: 18px;
}

.title-area-icon {
	// TODO: lol this looks like ass
	@include style.icon("name");

	--icon-size: var(--dialog_window-control-size);

	&:hover {
		background-color: var(--fg-main);
	}

	&.closeButton {
		--icon-name: var(--icon-close);
	}

	// TODO
	&.maximizeButton {
		--icon-name: var(--icon-restore);
	}

	&.minimizeButton {
		--icon-name: var(--icon-minimize);
	}

	&.restoreButton {
		--icon-name: var(--icon-restore);
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	gap: var(--dialog_window-control-spacing);
}
