:root {
	--achievementiconbase_size: 72px;
	--appportrait_landscape-width: 363px;
	--appportrait_landscape-height: 106px;
	// --appportrait_portrait-width: 191px;
	// --appportrait_portrait-height: 262px;
	--dialog_window-control-size: 25px;
	--dialog_window-control-spacing: 18px;
	--downloads_top-bar-height: calc(var(--spacing-sm) * 2 + 37px + 25px);
	--gamepaddialog_field-spacing-block: var(--spacing-sm);
	--library_gamelist-bar-spacing: 34px;
	// 18px * 1.4 = --gpText-HeadingSmall, like in store home page
	--pageablecontainer_header-offset: calc(
		18px * 1.4 + var(--carousel-section-spacing)
	);
	--steamavatar_size: 32px;
}
