@use "shared/menu";

#NotificationHeader {
	// TODO(vars): border vars
	border-block-end: var(--border-sm) solid var(--color-bg-hover);
	padding: 0;

	#AllNotificationsButton {
		@include menu.item;
		@include menu.item--primary;

		background-color: transparent;
		border-radius: 0;

		text-align: start;
		width: 100%;
	}

	#AllNotificationsTitle {
		display: none;
	}
}

#NotificationsMenu {
	background-image: none;
	border: none;
	box-shadow: none;
}

#NotificationsMenuEntriesContainer {
	margin: 0;
}

#NotificationMenuItem {
	&:hover {
		background-color: transparent;
	}
}

#NotificationsMenuScrollable {
	margin: 0;

	max-height: 500px;
}
