@use "shared/utils";

.MillenniumItem_Version {
	font: inherit;
	margin: 0;
}

.MillenniumLogs_TextContainer {
	margin: 0;
}

.MillenniumPlugins_PluginLabel {
	display: inline-flex;
}

.MillenniumSettings {
	border: none;

	.DialogBody {
		mask: none;
		padding-block: var(--dialog--spacing-container);
	}

	.DialogHeader {
		display: none;
	}
}

.MillenniumThemes_ThemeItem {
	&[data-theme-name="Juxtematic"] > :first-child {
		margin: 0;
	}

	& > div {
		margin-inline-start: calc(var(--icon--size-md) + var(--spacing-sm));
	}

	svg {
		@include utils.icon($name: "check", $remove: true);
	}

	.MillenniumButton:not(.MillenniumIconButton) {
		min-width: 100px;
	}

	.MillenniumIconButton {
		--icon-name: icon("favorite");
	}
}

.MillenniumThemes_ThemeLabel {
	display: inline-flex;
}
