@use "web/extends/store";

#DiscountBlock {
	@include store.discount(
		$discount-pct: "#DiscountPct",
		$final-price: "#FinalPrice",
		// Done elsewhere I forgot where
		$no-discount: "&.hack",
		$original-price: "#OriginalPrice",
		$prices-container: "#Prices"
	);
}
