@use "web/store";

// ??? you guys maybe wanna unify this into one component ?
#BrowseLinkButton {
	// lmfao, the gradient is replaced by a border of itself, leaving it as is
	--border-size: 1px;
	--label-size: calc(100% - var(--border-size) * 2);

	@include store.category($gradient: "&", $label: "#Label");

	&:hover {
		opacity: 1;

		img {
			transform: none;
		}

		#Label {
			transition: var(--transition);
			background-color: rgba(0, 0, 0, 0.5);
		}
	}

	#Label {
		background-color: transparent;
		text-transform: none;
		box-shadow: none;

		inset: var(--border-size);
		width: var(--label-size);
		height: var(--label-size);
	}
}

#BrowseLinkGrid {
	padding: var(--spacing-md);
}

#BrowseLinkStoreLinks {
	gap: 0;
}

#BrowseTopDestContainer {
	background: var(--bg-main-20);
	border-radius: var(--border-radius-large);
	gap: 0;
	padding: 0;

	// for border-radius
	overflow: hidden;
}

#StoreLinkWithPadding {
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	border: none;
	padding: var(--spacing-md);

	&:hover {
		background-image: linear-gradient(90deg, var(--bg-main-50), transparent);
	}

	#ButtonDescription {
		color: var(--fg-dim);
		font: var(--gpText-BodySmall);
	}
}
