@use "shared/carousel";
@use "shared/utils";
@use "web/store";

// Differences from the original mockup:
// - The live broadcast icon uses --bg-main-50 instead of --bg-hl to make it
//   consistent with the rest of in-capsule content

.broadcast_live_stream_icon {
	--circle-size: 1em;
	--offset: var(--spacing-md);

	@include store.capsule-icon;

	color: var(--accent-red);
	font: var(--gpText-BodyMedium);
	letter-spacing: 0;
	box-shadow: none;
	gap: var(--spacing-xs);
	padding: var(--spacing-xs);

	display: flex;
	align-items: center;
	inset-block-start: var(--offset);
	inset-inline-start: var(--offset);

	&::before {
		content: "";

		display: block;
		width: var(--circle-size);
		height: var(--circle-size);

		background-color: currentColor;
		border-radius: 100%;
	}
}

.carousel_container {
	--carousel-item-count: 4;
	--carousel-item-width: 100%;

	// calculations for image width
	--item-count-x2f5: calc(var(--carousel-item-count) * 2.5);
	--container-width: calc(
		var(--store-page-width) - var(--carousel-arrow-size) * 2
	);
	--item-width: calc(
		var(--container-width) - var(--spacing-md) * var(--item-count-x2f5)
	);
	--carousel-image-width: calc(var(--item-width) / var(--carousel-item-count));

	.arrow {
		@include carousel.arrow(
			$left: "&.left",
			$right: "&.right",
			$child: "& > div"
		);

		background-image: none;

		& > div {
			// I wonder if this declines an HTTP request...
			background-image: none;
		}
	}

	.carousel_thumbs[style="visibility: hidden;"] ~ .arrow {
		color: var(--fg-dim);

		height: 100%;

		pointer-events: none;
	}

	.carousel_items {
		@include carousel.container;

		& > * > * {
			margin: 0;
		}

		&:not(.no_paging) > * {
			transition: opacity var(--transition);

			justify-content: space-between;
			width: var(--carousel-item-width);
		}

		&:not(.no_paging) > :not(.focus) {
			--carousel-item-width: calc(100% - var(--carousel-arrow-size) * 2);

			inset-block-start: var(--spacing-lg);
			inset-inline: var(--carousel-arrow-size);
		}
	}

	.carousel_thumbs {
		gap: var(--spacing-sm);
		padding-block: var(--carousel-section-spacing) 0;

		display: flex;
		justify-content: center;
		min-height: unset;

		// Used in #module_top_new_releases
		&[style="visibility: hidden;"] {
			display: none;
		}

		& > div {
			@include carousel.thumb($active: "&.focus");

			margin: 0;
		}
	}
}

.discount_block {
	@include store.discount(
		$discount-pct: ".discount_pct",
		$final-price: ".discount_final_price",
		$no-discount:
			'.discount_final_price.free, &[data-discount="0"] .discount_final_price',
		$original-price: ".discount_original_price",
		$prices-container: ".discount_prices"
	);

	.discount_prices {
		background-color: transparent;
	}

	.your_price_label {
		display: none;
	}
}

.ds_options {
	--offset: var(--spacing-md);

	@include carousel.button($child: "& > div", $icon: "settings");
	@include store.capsule-icon;

	opacity: 1;
	padding: 0;

	display: none;
	inset-block-start: var(--offset);
	inset-inline-end: var(--offset);

	&.ds_hover,
	:hover > & {
		display: flex;
	}

	& > div {
		background-image: none;

		position: unset;
	}
}

.game_review_summary {
	color: color-mix(in srgb, var(--accent-red) 50%, white);

	&.mixed {
		color: var(--accent-yellow);
	}

	&.positive {
		color: var(--color-primary);
	}

	&.no_reviews,
	&.not_enough_reviews {
		color: var(--fg-dim);
	}
}

.main_cap_discount,
.main_cap_price {
	@include store.capsule-icon;

	padding: var(--spacing-sm);

	inset-block-end: 0;

	.discount_original_price {
		color: var(--fg-dim);
	}
}

.platform_img {
	--icon-size: 25px;

	@include utils.icon("name");

	// There are actually other icons, these are just the most common ones
	&:where(.linux, .mac, .win) {
		background-image: none;
	}

	&:not(.linux, .mac, .win) {
		background-color: transparent;
		background-position: center;
		mask: none;
	}

	&.linux {
		--icon-name: icon("platform-linux");
	}

	&.mac {
		--icon-name: icon("platform-mac");
	}

	&.win {
		--icon-name: icon("platform-win");
	}
}
