#DownloadGraph {
	mask: none;
}

#DownloadGraphStatsWrapper {
	position: fixed;
	top: var(--downloads_top-bar-height);
	height: 44px;
	display: flex;
	align-items: center;

	#Figure {
		all: initial;
		color: var(--color-fg-main);
		font: var(--text--body-medium);
	}

	#LegendBox {
		margin-right: var(--spacing-xs);

		width: var(--icon--size-sm);
		height: var(--icon--size-sm);

		&#Disk {
			background-color: var(--color-accent-green);

			height: 4px;
		}

		&#Network {
			svg {
				color: var(--color-primary);

				width: var(--icon--size-sm);
				height: var(--icon--size-sm);
			}
		}
	}

	#LegendRow {
		height: unset;
	}

	#LegendText {
		all: unset;
		color: var(--color-fg-main);
		font: var(--text--heading-small);
	}

	#Stat {
		padding-left: calc(var(--icon--size-sm) + var(--spacing-xs));
	}
}

#DownloadGraphWrapper {
	margin-left: var(--spacing-lg);
}

#GraphBarDownload {
	color: var(--color-primary);
}

#GraphLine {
	stroke: var(--color-accent-green);

	display: initial;
}

#HeroAndLogo {
	position: unset;
	width: var(--appportrait_width);
}

#HeroContainer {
	display: none;
}

#Logo,
#LogoShadow {
	margin: 0;

	left: 0;
	width: var(--appportrait_width);
	height: 100%;
}

#LogoShadow {
	opacity: 1;
}
