@use "shared/controls";
@use "shared/utils";

#DownloadItemName > #Name {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	padding-block: var(--spacing-sm) 0;
	margin: 0;
}

#DownloadsPage {
	background: none;
	// TODO(vars): button height
	margin-top: calc(44px + var(--spacing-xl));

	.DialogButton {
		// Assume download as this doesn't have a distinguishing class name lol
		--icon-name: icon("download");

		@include controls.icon-button($w: 44px, $child: "svg");

		// Match appactionbutton
		min-width: 44px;

		&#RemoveFromQueue {
			--icon-name: icon("delete");

			opacity: 1;
		}
	}
}

#DownloadSectionActiveItem {
	gap: var(--spacing-lg);

	position: unset;

	.DialogButton {
		--icon-name: icon("pause");
	}
}

#ItemLists {
	// TODO(vars):
	margin-left: var(--spacing-xl);
	// 16px = scrollbar for now
	margin-right: calc(var(--spacing-xl) - 16px);
}

#Progress {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	text-transform: uppercase;
}

#Section {
	padding: 0;
	margin: 0;

	&#EmptyQueue {
		display: none;
	}
}

#SectionItem {
	background-color: var(--color-bg-main);
	padding: var(--spacing-sm);
	padding-left: calc(var(--icon--size-lg) + var(--spacing-sm) * 2);
	margin-bottom: var(--spacing-md);
	border-radius: var(--rounding-lg);

	height: unset;

	#ActiveItemProgressBar #Label {
		color: inherit;
	}

	#Buttons {
		gap: var(--spacing-sm);
	}

	#ButtonWrapper {
		margin: 0;

		width: unset;
		height: unset;

		path {
			display: none;
		}
	}

	#DetailsAndType {
		margin-block-start: var(--spacing-sm);

		flex-direction: column;
		align-items: start;
		height: unset;
	}

	#DragHandle {
		@include utils.icon("drag-handle");

		opacity: 1;
		margin: 0;

		left: var(--spacing-sm);
	}

	#ProgressDetails {
		all: unset;
		color: var(--color-fg-dim);
		font: var(--text--body-small);

		#Denominator {
			color: inherit;
		}

		#Icon,
		#Label {
			display: none;
		}

		#InProgress {
			color: var(--color-fg-main);
		}
	}
}

#SectionItemButtons {
	min-width: 250px;
}

#SectionItemCenter {
	gap: var(--spacing-lg);

	height: 100%;
}

#SectionItemContent {
	gap: var(--spacing-lg);
}

#SectionItemColumn:not(#SectionItemStatus) {
	align-self: start;
}

#SectionItemStatus {
	all: unset;
	color: var(--color-fg-dim);
	font: var(--text--body-medium);

	flex-grow: 1;

	#Denominator {
		color: inherit;
	}

	#InProgress {
		color: var(--color-fg-main);
	}
}

#SectionList {
	padding: 0;
	margin: 0;
}

#SectionTitle {
	display: none;
}

#SettingsButton {
	gap: var(--spacing-sm);

	display: flex;
	align-items: center;
	top: var(--spacing-xl);
	left: var(--spacing-xl);

	// TODO(localization):
	&::before {
		content: "Downloads Manager";

		font: var(--text--heading-medium);
	}

	.DialogButton {
		--icon-name: icon("settings");

		background: color-mix(in srgb, var(--color-fg-dim) 10%, transparent);
		color: var(--color-fg-dim);
	}
}

#TopSection {
	margin: var(--spacing-xl);
	margin-bottom: 0;

	height: unset;

	#DetailsAndType {
		margin: 0;

		position: fixed;
		top: var(--downloads_top-bar-height);
		right: var(--spacing-xl);
		height: 44px;

		#Throttle {
			all: unset;
			color: var(--color-fg-dim);
			font: var(--text--body-large);
		}

		#ThrottleValue {
			color: var(--color-fg-main);
		}
	}

	#DownloadTimeRemaining {
		color: var(--color-fg-main);
		font: var(--text--body-medium);
	}

	#SectionItemColumn {
		padding: 0;
	}
}
