@use "client/titlebarcontrols";
@use "shared/controls";

@mixin -button($icon) {
	--icon-name: var(--icon-#{$icon});
	--icon--size-lg: var(--dialog--window-control-size);

	@include titlebarcontrols.button;
}

#AddGameButton {
	@include -button("plus");
}

#BottomBar {
	background-color: transparent;
	box-shadow: none;
	gap: var(--spacing-sm);
	padding: 0;
	margin-right: var(--spacing-sm);

	position: absolute;
	position-anchor: --titlebarcontrols;
	top: anchor(top);
	right: anchor(left);
}

#DetailedDownloadProgress {
	width: unset;
}

#DownloadStatusContent {
	@include -button("download");

	#Icon {
		border-radius: var(--rounding-md);
		box-shadow: none;

		overflow: hidden;
	}

	#Status {
		color: var(--color-fg-main);
		font: var(--text--body-large);
	}
}

#FriendsButton {
	@include -button("people");
}

#Icon {
	display: flex;
	width: var(--icon--size-lg);
	height: var(--icon--size-lg);
}

#IconBevel,
#ProgressBar,
#Status:not(#Percentage),
#Text,
#Queue {
	display: none;
}
