@use "shared/utils";

#RootMenuBar {
	gap: var(--dialog--window-control-spacing);
	padding: 0;
	margin: 0;
}

#RootMenuButton {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
	padding: 0;

	&:hover {
		color: var(--color-fg-main);
	}

	&:nth-child(3),
	&:nth-child(4) {
		display: none;
	}

	&::after {
		content: "";

		@include utils.icon("arrow");
	}
}
