#DragArea {
	display: none;
}

#FocusBar {
	opacity: 0;
	background-image: linear-gradient(
		to right,
		transparent,
		var(--color--primary),
		transparent
	);
	transition: var(--transition);

	display: block;
	z-index: 1500;

	&#Focused {
		// --color: var(--color--primary);
		// --color-20: color-mix(in srgb, var(--color) 20%, transparent);
		// --height: 67px;

		opacity: 1;
		// background-image:
		// 	linear-gradient(to right, transparent, var(--color), transparent),
		// 	radial-gradient(farthest-corner at 50% 0%, var(--color-20), transparent);
		// background-repeat: no-repeat;
		// background-size:
		// 	100% var(--border-sm),
		// 	100% 100%;
		// mask: linear-gradient(black, transparent);

		// height: var(--height);
	}
}

#SuperNavBar {
	padding: 0;

	flex: 1 0 auto;
	height: unset;
	min-height: unset;
}

#TitleBar {
	gap: var(--dialog--window-control-spacing);

	align-items: center;
	justify-content: end;
	height: unset;
}

#TitleBarControls {
	order: -1;
	margin-top: 0;
	margin-right: 40px;

	anchor-name: --titlebarcontrols;
}

#TopBar {
	background-color: var(--color--bg-main);
	box-shadow: none;
	padding: var(--spacing-sm) var(--spacing-lg);

	flex-direction: row-reverse;
	align-items: center;
}

// TODO
#URLBar {
	display: none;
}

#URLBarReplacement {
	display: none;
}

#WindowControls {
	flex-basis: calc(
		var(--dialog--window-control-size) * 3 +
			var(--dialog--window-control-spacing) * 2
	);
	height: var(--dialog--window-control-size);

	html[browsertype="DirectHWND"] & {
		display: none;
	}

	.title-area {
		padding: 0;

		height: var(--dialog--window-control-size);
	}
}

#Wrapper {
	background-color: transparent;
	border: none;
}

.window_resize_grip {
	z-index: 1500;
}
