@use "shared/utils";

#Arrow {
	--size: 24px;

	@include utils.icon($name: "keyboard-arrow", $remove: true);

	padding: 0;

	width: var(--size);
	height: var(--size);

	&:nth-child(2) {
		margin-right: 16px;
		margin-left: 5px;
	}

	&:hover {
		background-color: var(--color-fg-main);
	}
}

#SuperNavMenu {
	font: var(--text--heading-small);
	padding: 0;
	margin-right: 66px;

	// TODO(localization):
	&:nth-child(6) {
		font-size: 0;

		&::before {
			content: "Profile";

			font: var(--text--heading-small);
		}
	}

	&#Selected {
		color: var(--color-primary);
	}
}

#MenuButton {
	color: inherit;
	font: inherit;
	text-shadow: none;

	&::after {
		display: none;
	}
}
