@use "shared/utils";
@use "client/titlebarcontrols";

#AccountMenu {
	@include titlebarcontrols.button;

	font: var(--text--body-medium);
	gap: 8px;
	padding: 2px;
	margin: 0;

	max-height: unset;

	&.online {
		color: var(--color-primary);
	}

	&.ingame {
		color: var(--color-accent-green);
	}

	.avatar {
		border: none;
	}

	#Chevron {
		--icon-name: icon("arrow");

		color: var(--color-fg-main);
		margin-right: var(--spacing-xs);

		order: 1;
	}

	#WalletBalance {
		color: var(--color-fg-dim);
	}
}

#Button {
	@include titlebarcontrols.button;
}

#NotificationButtonContainer {
	--icon-name: icon("notifications");
	--icon-size: var(--dialog--window-control-size);
	margin-right: var(--spacing-sm);
}

#NotificationsButton {
	// TODO(js): App.GetCurrentUser().NotificationCounts.offline_messages +
	// NotificationStore.m_nUnviewedNotifications
	//
	// also maybe use "container-type: inline-size" then "@container (min-width: 500px)"
	// to apply padding
	&#HasNew::before {
		content: "";

		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		min-width: var(--icon--size-sm);
		height: var(--icon--size-sm);
		inset-block-start: -2px;
		inset-inline-end: -3px;

		background-color: var(--color-primary);
		color: var(--color-bg-main);
		font: var(--text--body-small);
		border-radius: 1337px;
	}
}

// most useless fucking buttons ever FUCK YOU
#AnnouncementsButton,
#GamepadUIToggle {
	display: none;
}
