@use "shared/style";
@use "client/titlebarcontrols";

#AccountMenu {
	@include titlebarcontrols.button;

	font: var(--gpText-BodyMedium);
	gap: 8px;
	padding: 2px;
	margin-right: var(--spacing-sm);

	max-height: unset;

	&.online {
		color: var(--color-primary);
	}

	&.ingame {
		color: var(--accent-green);
	}

	#Chevron {
		--icon-name: icon("arrow");

		color: var(--fg-main);
		margin-right: var(--spacing-xs);

		order: 1;
	}

	#WalletBalance {
		color: var(--fg-dim);
	}
}

#Button {
	@include titlebarcontrols.button;
}

#NotificationButtonContainer {
	--icon-name: icon("notifications");
	--icon-size: var(--dialog_window-control-size);
	margin-right: var(--spacing-sm);
}

// most useless fucking buttons ever FUCK YOU
#AnnouncementsButton,
#GamepadUIToggle {
	display: none;
}
