@use "shared/style";
@use "shared/utils";
@use "client/titlebarcontrols";

#AccountMenu {
	@include titlebarcontrols.button;

	font: var(--text--body-medium);
	gap: 8px;
	padding: 4px;
	margin: 0;

	max-height: unset;

	.avatarHolder {
		--avatar--border-size: 0px;
		// pmo
		--avatar--size-xs: 31px;
	}

	#Chevron {
		--icon-name: icon("arrow");

		color: var(--color-fg-main);
		margin-right: var(--spacing-xxs);

		order: 1;
	}

	#WalletBalance {
		color: var(--color-fg-dim);
	}
}

#Button {
	@include titlebarcontrols.button;

	color: inherit;
}

#NotificationButtonContainer {
	--icon-name: icon("notifications");
	--icon--size-lg: var(--dialog--window-control-size);

	margin-right: var(--spacing-sm);
}

#NotificationsButton {
	// TODO(js): App.GetCurrentUser().NotificationCounts.offline_messages +
	// NotificationStore.m_nUnviewedNotifications
	&#HasNew::before {
		content: "";

		@include style.notification-dot;
	}
}

// most useless fucking buttons ever FUCK YOU
#AnnouncementsButton,
#GamepadUIToggle {
	display: none;
}
