.playerAvatar {
	--size: var(--avatar--size-sm);
	--img-size: calc(var(--size) - var(--avatar--border-size) * 2);

	background: none var(--bg);
	border-radius: var(--avatar--border-radius);
	padding: var(--avatar--border-size);

	width: var(--size);
	height: var(--size);

	&.offline {
		--bg: var(--avatar--color-offline);
	}

	&.online {
		--bg: var(--avatar--color-online);
	}

	&.golden {
		--bg: var(--avatar--color-away);
	}

	&.in-game {
		--bg: var(--avatar--color-ingame);
	}

	&.tiny {
		--size: var(--avatar--size-xs);
	}

	&.medium {
		--size: var(--avatar--size-md);
	}

	&.full {
		--size: var(--avatar--size-xl);
	}

	img {
		border-radius: calc(var(--avatar--border-radius) / 2);
		padding: 0;

		width: var(--img-size);
		height: var(--img-size);
	}
}

.persona,
a.persona,
.persona a,
.friend_status_offline,
.friend_status_offline div,
.friend_status_offline a {
	color: var(--avatar--color-offline);
}

.persona.online,
a.persona.online,
.persona.online a,
.friend_status_online,
.friend_status_online div,
.friend_status_online a {
	color: var(--avatar--color-online);
}

.persona.in-game,
a.persona.in-game,
.persona.in-game a,
.friend_status_in-game,
.friend_status_in-game div,
.friend_status_in-game a {
	color: var(--avatar--color-ingame);
}

.persona.golden,
a.persona.golden,
.persona.golden a,
.friend_status_golden,
.friend_status_golden div,
.friend_status_golden a {
	color: var(--avatar--color-away);
}

.border_color_offline {
	border-color: var(--avatar--color-offline);
}

.border_color_online {
	border-color: var(--avatar--color-online);
}

.border_color_in-game {
	border-color: var(--avatar--color-ingame);
}

.border_color_golden {
	border-color: var(--avatar--color-away);
}
