@use "shared/controls";
@use "web/paging";

.commentthread_allcommentslink {
	font: var(--gpText-BodyMedium);
}

.commentthread_area {
	--avatar-gutter: 12px;
	--avatar-size: 45px;
	--spacing: 8px;

	.playerAvatar {
		--size: var(--avatar-size);
	}
}

.commentthread_comment {
	padding: var(--spacing);
	padding-left: calc(
		var(--avatar-size) + var(--avatar-gutter) + var(--spacing)
	);
	margin-bottom: var(--spacing);

	display: flex;
}

.commentthread_comment_author {
	/* HeadingSmall is too large */
	font: var(--gpText-BodyLarge);
	font-weight: bold;

	a {
		font: inherit;
	}
}

.commentthread_comment_avatar {
	left: var(--spacing);
}

.commentthread_comment_container {
	padding: 0;
	margin: 0;
}

.commentthread_comment_content {
	width: 100%;
}

.commentthread_comment_friendindicator {
	top: 39px;
	left: var(--avatar-size);
}

.commentthread_comment_text {
	font: var(--gpText-BodyMedium);
	color: var(--fg-main);
}

.commentthread_comment_timestamp {
	font: inherit;
	color: var(--fg-dim);
}

.commentthread_entry {
	background-color: transparent;
	padding: 0;
	margin: var(--spacing);
	margin-bottom: 0;

	min-height: unset;
}

.commentthread_entry_error {
	color: var(--accent-red);
	/* + 6px from top */
	padding-bottom: 18px;
}

.commentthread_entry_quotebox {
	background-color: var(--bg-main);
	border: none;
	border-radius: var(--border-radius);
	box-shadow: none;
	padding: 12px 18px;

	&:hover {
		background-color: var(--bg-hover);
	}
}

.commentthread_footer {
	border: none;
	padding: calc(var(--spacing) * 2) 0;
	margin: 0;
}

.commentthread_header_and_count {
	background-image: none;
	padding: 0;
}

.commentthread_pagelinks_ctn {
	@include paging.container;
}

.commentthread_paging {
	@include paging.container;

	&.has_view_all_link {
		display: none;
	}
}

.commentthread_pagelink {
	@include paging.link($selected: "&.active");
}

.commentthread_pagelinks {
	@include paging.links-container;

	margin: 0;
}

.commentthread_subscribe_check {
	display: none;
}

.commentthread_subscribe_checkbox {
	@include controls.checkbox(".hack", ".hack2");

	border: none;
}

.commentthread_subscribe_ctn {
	font: inherit;

	&.checked .commentthread_subscribe_checkbox {
		--icon-name: icon("checkbox-checked");
	}
}

.commentthread_subscribe_hint {
	font: inherit;
}

.commentthread_subscribe_hint_q {
	color: var(--color-primary);
}

.commentthread_textarea {
	font: var(--gpText-BodyMedium);
	color: var(--fg-main);
	padding: 0;
	margin: 0;
}

.commentthread_user_avatar {
	margin-right: var(--avatar-gutter);
}
