@use "shared/controls";
@use "shared/utils";
@use "web";

// TODO: unify with commentthread in client

.commentthread_allcommentslink {
	font: var(--text--body-medium);
}

.commentthread_area {
	--avatar-gutter: 12px;
	--avatar-size: var(--avatar--size-md);

	.playerAvatar {
		--size: var(--avatar-size);
	}
}

.commentthread_author_link {
	font: inherit;
}

.commentthread_comment {
	padding: var(--spacing-sm);
	padding-left: calc(
		var(--avatar-size) + var(--avatar-gutter) + var(--spacing-sm)
	);
	margin-bottom: var(--spacing-sm);

	display: flex;
}

.commentthread_comment_actions {
	margin: 0;

	img {
		display: none;
	}

	.actionlink {
		@include utils.icon;

		margin-inline-start: var(--spacing-sm);

		&[href*="DeleteComment"] {
			--icon-name: icon("delete");
		}
	}
}

.commentthread_comment_author {
	/* HeadingSmall is too large */
	font: var(--text--body-large);
	font-weight: bold;
}

.commentthread_comment_avatar {
	left: var(--spacing-sm);
}

.commentthread_comment_container {
	padding: 0;
	margin: 0;
}

.commentthread_comment_content {
	width: 100%;
}

.commentthread_comment_friendindicator {
	@include utils.icon($name: "user", $remove: true);

	background-image: none;

	inset-inline-start: calc(var(--avatar-size) - var(--icon--size-md) / 3);
	inset-block-start: calc(var(--avatar-size) - var(--icon--size-md) / 3);
}

.commentthread_comment_text {
	font: var(--text--body-medium);
	color: var(--color--fg-main);
}

.commentthread_comment_timestamp {
	font: inherit;
	color: var(--color--fg-dim);
}

.commentthread_count {
	padding: 0;
}

.commentthread_count_label {
	margin-inline-end: var(--spacing-xl);
}

.commentthread_entry {
	background-color: transparent;
	padding: 0;
	margin: var(--spacing-sm);
	margin-bottom: 0;

	min-height: unset;
}

.commentthread_entry_error {
	color: var(--color--accent-red);
	/* + 6px from top */
	padding-bottom: 18px;
}

.commentthread_entry_quotebox {
	@include controls.text-field;

	box-shadow: none;
}

.commentthread_entry_submitlink {
	padding-block-start: var(--spacing-sm);

	.emoticon_button {
		@include controls.icon-button(
			$w: 44px,
			$name: "emoticon",
			$child: "&::before"
		);

		background-image: none;
		margin: 0;

		vertical-align: center;
		display: inline-flex;
		align-items: center;
		justify-content: center;

		&::before {
			content: "";

			display: block;
		}
	}
}

.commentthread_footer {
	border: none;
	padding: var(--spacing-lg) 0;
	margin: 0;
}

.commentthread_header_and_count {
	background-image: none;
	padding: 0;

	align-items: center;
	width: 100%;
}

.commentthread_pagelinks_ctn {
	@include web.paging--container;
}

.commentthread_paging {
	@include web.paging--container;

	&[style="display: none;"],
	&.has_view_all_link {
		display: none;
	}
}

.commentthread_pagelink {
	@include web.paging--link($selected: "&.active");

	// For forums
	margin: 0;
}

.commentthread_pagelinks {
	@include web.paging--links-container;

	margin: 0;
}

.commentthread_subscribe_check {
	display: none;
}

.commentthread_subscribe_checkbox {
	@include controls.checkbox(".hack", ".hack2");

	border: none;
}

.commentthread_subscribe_checkbox_ctn {
	gap: var(--spacing-xs);

	align-items: center;
}

.commentthread_subscribe_ctn {
	font: var(--text--body-medium);
	gap: var(--spacing-xs);

	display: flex;
	align-items: center;

	&.checked .commentthread_subscribe_checkbox {
		--icon-name: icon("checkbox-checked");
	}
}

.commentthread_subscribe_hint {
	@include utils.tooltip-icon;

	font-size: 0;
}

.commentthread_textarea {
	font: var(--text--body-medium);
	color: var(--color--fg-main);
	padding: 0;
	margin: 0;
}

.commentthread_user_avatar {
	// Align with text field
	margin-block-start: calc(var(--avatar--border-size) * -1);
	margin-right: var(--avatar-gutter);
}

.commentthread_workshop_authorbadge {
	color: var(--color--accent-yellow);
}
