@use "shared/controls";
@use "shared/utils";
@use "web";

// TODO: unify
@mixin -sidebar-header {
	color: var(--color--fg-dim);
	font: var(--text--body-medium);
	text-transform: uppercase;
	border-block-start: var(--border-sm) solid var(--color--bg-hl);
	padding-block-start: var(--spacing-sm);
	margin: 0;
	margin-block-start: var(--spacing-sm);
}

[style^="clear"] {
	display: none;
}

h2 {
	color: var(--color--fg-main);
	font: var(--text--heading-medium);
	letter-spacing: 0;
	text-transform: none;
	padding: 0;
	margin: 0;

	// TODO: tab stuff in the home page has this, but some aren't supposed to be
	// seen
	&:has(> .header_inline) {
		display: flex;
		flex-direction: column;
	}

	.header_inline {
		color: var(--color--fg-dim);
		font: var(--text--body-large);
	}

	& ~ p {
		color: var(--color--fg-dim);
	}
}

h3 {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
}

.bb_blockquote {
	background-color: var(--color--bg-main-50);
	font: inherit;
	border: none;
	border-radius: var(--rounding-md);
	padding: var(--spacing-sm);
	margin: 0;
	margin-bottom: var(--spacing-sm);

	.bb_quoteauthor {
		color: var(--color--fg-dim);
		font: inherit;
		margin-bottom: var(--spacing-xxs);
	}
}

// Making the whole text use secondary text color is definitely not an option...
.bb_link {
	text-decoration: underline;
}

.bb_link_host {
	color: var(--color--fg-dim);
	font: var(--text--body-small);

	position: relative;
	inset-block-start: -1px;
}

// TODO: style in forums
.breadcrumbs {
	display: none;
}

// Ugly bitch
#footer,
#footer_spacer {
	display: none;
}

.ico16 {
	@include utils.icon;

	background-image: none;

	$-icons: (
		arrow_down: "arrow",
		arrow_next: "arrow",
		arrow_up: "arrow",
		bluearrow_down: "arrow",
		bucketfavorite: "favorite",
		bucketfollow: "star",
		checkbox: "check",
		comment: "chat-bubble",
		funny: "emoticon",
		report: "flag",
		reportv6: "flag",
		thumb_down: "thumb-up",
		thumb_up: "thumb-up",
		thumb_downv6: "thumb-up",
		thumb_upv6: "thumb-up",
	);

	@each $k, $v in $-icons {
		&.#{$k} {
			--icon-name: icon(#{$v});
		}
	}

	&.arrow_up,
	&.thumb_down,
	&.thumb_downv6 {
		transform: rotate(180deg);
	}

	.ico16.bucketnew {
		background-position: -208px 0px;
	}

	.ico16.bucketqueue {
		background-position: -224px 0px;
	}

	.ico16.bucketrefresh {
		background-position: -240px 0px;
	}
}

.maincontent {
	gap: var(--spacing-lg);

	display: flex;
	flex-direction: row-reverse;
	width: var(--content--width-sm);

	& > br {
		display: none;
	}
}

#mainContents {
	color: var(--color--fg-main);
	gap: var(--spacing-md);
	margin-top: var(--spacing-lg);

	max-width: var(--content--width-lg);
}

.page_content {
	width: calc(
		var(--content--sidebar-width) + var(--spacing-md) + var(--content--width-sm)
	);
	max-width: unset;
}

.pagecontent {
	padding: 0;
}

.pageheader {
	color: var(--color--fg-main);
	font: var(--text--heading-large);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	padding: 0;
}

.page_header_ctn {
	background: none;
	padding: 0;
	margin-top: var(--content--spacing-block-start);
	margin-bottom: var(--spacing-xxl);

	.page_content {
		flex-direction: column;
	}
}

.responsive_page_content {
	font: var(--text--body-medium);
}

.responsive_page_frame.with_header {
	// TODO: 2px
	--header-height: calc(var(--header--height) + 2px);
	--global-header-height: var(--header-height);

	// For store menu height calculation
	font: var(--text--body-large);
}

.responsive_page_template_content {
	--store-menu-overlap-height: var(--header-height);
	--store-menu-floating-height: var(--header-height);
}

.rightbox {
	background: none;
	gap: var(--spacing-sm);
	padding: 0;

	display: flex;
	flex-direction: column;

	.content {
		padding: 0;
	}

	.rule {
		display: none;
	}

	.weblink {
		&:not(:last-child) {
			margin-block-end: var(--spacing-sm);
		}

		a {
			@include controls.button;

			width: 100%;
		}

		img {
			display: none;
		}
	}
}

.rightbox_content_header,
.rightbox_list_header {
	// TODO: unify
	@include -sidebar-header;

	padding-inline: 0;
	padding-block-end: 0;
}

.rightbox_footer,
.rightbox_header {
	display: none;
}

body:not(.game_bg) .rightcol {
	background: var(--color--bg-main);
	border-radius: var(--rounding-lg);
	gap: var(--spacing-sm);
	padding: var(--spacing-md);
	margin: 0;

	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	width: var(--content--sidebar-width);
}

.review_award {
	@include web.apphub--card-metadata($icon: "military-tech");

	.review_award_ctn:not(.show_all_awards) > &.unpurchaseable,
	.review_award_ctn.show_all_awards > &.more_btn,
	&.more_btn .review_award_icon {
		display: none;
	}

	&:not(.more_btn)::before {
		display: none;
	}
}

.review_award_count {
	all: unset;
}

.review_award_ctn {
	gap: var(--spacing-sm);

	display: flex;
}

.review_award_icon {
	width: var(--icon--size-sm);
	height: var(--icon--size-sm);
}

.shared_autocollapse_fade {
	background: none;

	&::after {
		content: "";

		position: absolute;
		inset-block-end: 44px;
		inset-inline: 0;
		height: 100px;

		background: linear-gradient(transparent, var(--color--bg-main));
	}

	.shared_autocollapse_readmore {
		--button--secondary-bg: var(--color--bg-main);
		--rounding-md: 0;

		@include controls.button;
	}
}
