[style^="clear"] {
	display: none;
}

h2 {
	color: var(--color--fg-main);
	font: var(--text--heading-medium);
	letter-spacing: 0;
	text-transform: none;
	padding: 0;
	margin: 0;

	// TODO: tab stuff in the home page has this, but some aren't supposed to be
	// seen
	&:has(> .header_inline) {
		display: flex;
		flex-direction: column;
	}

	.header_inline {
		color: var(--color--fg-dim);
		font: var(--text--body-large);
	}

	& ~ p {
		color: var(--color--fg-dim);
	}
}

h3 {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
}

.bb_blockquote {
	background-color: var(--color--bg-main-50);
	font: inherit;
	border: none;
	border-radius: var(--rounding-md);
	padding: var(--spacing-sm);
	margin: 0;
	margin-bottom: var(--spacing-sm);

	.bb_quoteauthor {
		color: var(--color--fg-dim);
		font: inherit;
		margin-bottom: var(--spacing-xxs);
	}
}

// Making the whole text use secondary text color is definitely not an option...
.bb_link {
	text-decoration: underline;
}

.bb_link_host {
	color: var(--color--fg-dim);
	font: var(--text--body-small);

	position: relative;
	inset-block-start: -1px;
}

// TODO: style in forums
.breadcrumbs {
	display: none;
}

// Ugly bitch
#footer,
#footer_spacer {
	display: none;
}

#mainContents {
	color: var(--color--fg-main);
	gap: var(--spacing-md);
	margin-top: var(--spacing-lg);

	max-width: var(--content--width-lg);
}

.page_content {
	width: calc(
		var(--content--sidebar-width) + var(--spacing-md) + var(--content--width-sm)
	);
	max-width: unset;
}

.pageheader {
	color: var(--color--fg-main);
	font: var(--text--heading-large);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	padding: 0;
}

.page_header_ctn {
	background: none;
	padding: 0;
	margin-top: var(--content--spacing-block-start);
	margin-bottom: var(--spacing-xxl);

	.page_content {
		flex-direction: column;
	}
}

.responsive_page_frame.with_header {
	// TODO: 2px
	--header-height: calc(var(--header--height) + 2px);
	--global-header-height: var(--header-height);

	// For store menu height calculation
	font: var(--text--body-large);
}

.responsive_page_template_content {
	--store-menu-overlap-height: var(--header-height);
	--store-menu-floating-height: var(--header-height);
}

.review_award {
	background: var(--color--bg-main);
	line-height: inherit;
	border-radius: var(--rounding-md);
	padding: calc(var(--spacing-xxs) / 2) var(--spacing-sm);
	margin: 0;

	height: unset;
}

.review_award_count {
	color: var(--color--primary);
	font: var(--text--body-small);
	margin-left: var(--spacing-sm);
}

.review_award_ctn {
	gap: var(--spacing-sm);
}

.review_award_icon {
	--size: var(--spacing-xl);

	width: var(--size);
	height: var(--size);
}
