@use "shared/controls";
@use "shared/menu";
@use "shared/style";
@use "shared/utils";

%-dropdown-menu {
	// For "top" property calculation
	font: var(--text--body-large);

	position: absolute;
	// TODO: 4px
	top: calc(
		var(--header--spacing-block) + var(--button--spacing-block-md) * 2 + 1lh -
			4px
	);
}

#account_dropdown {
	@extend %-dropdown-menu;

	.account_name {
		color: var(--color-primary);
	}
}

#account_pulldown {
	padding-inline-start: calc(
		var(--button--spacing-inline) + var(--avatar--size-xs) + var(--spacing-xxs)
	);
}

#global_header {
	@include style.header;

	position: sticky;
	top: 0;
	z-index: 999;

	.content {
		background-color: transparent;

		display: flex;
		justify-content: space-between;
		max-width: unset;
		height: unset;
	}

	.logo {
		display: none;
	}

	.menuitem {
		@include controls.button;

		text-transform: lowercase;

		// For ::first-letter
		display: block;

		&.supernav_active {
			@include controls.button-vars("primary");
		}

		&:not(.username)::first-letter {
			text-transform: uppercase;
		}

		&::after {
			display: none;
		}
	}
}

#global_action_menu {
	// Remove signed out separator
	font-size: 0;
	gap: var(--header--button-spacing);

	display: flex;
}

#global_actions {
	gap: var(--spacing-sm);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	position: relative;
	inset: 0;
	height: unset;

	:where(& .global_action_link:not(.pulldown)) {
		@include controls.button;
	}

	:where(& .pulldown) {
		@include controls.dropdown;
	}

	.user_avatar {
		--size: var(--avatar--size-xs);

		margin: 0;

		position: absolute;
		inset-inline-start: var(--button--spacing-inline);
	}
}

#green_envelope_menu_root {
	@include controls.button;

	position: unset;
	width: unset;
	height: unset;

	// TODO: use greenenvelope webpack module instead
	.responsive_page_content:has(
			> #application_config:not(
					[data-steam_notifications^='{"pending_gift_count":0,"pending_friend_count":0,"unread_count":0,']
				)
		)
		> #global_header
		&::before {
		content: "";

		@include style.notification-dot;
	}

	svg {
		@include utils.icon($name: "notifications");

		// Align with the account dropdown
		margin-block: 1px;
	}
}

// The wallet balance is in the account dropdown anyway
.header_installsteam_btn,
#header_notification_link,
#header_wallet_ctn {
	display: none;
}

#header_notification_area {
	order: 1;
}

.supernav_container {
	gap: var(--header--button-spacing);

	display: flex;
	position: initial;
}

.supernav_content {
	@include menu.container;
	@extend %-dropdown-menu;

	.submenuitem {
		@include menu.item;
	}
}
