@use "shared/extends/header";

#global_header {
	backdrop-filter: blur(9px);
	background-color: color-mix(in srgb, var(--bg-tertiary) 50%, transparent);
	padding: 8px;

	position: sticky;
	top: 0;
	z-index: 999;

	.content {
		background-color: transparent;

		display: flex;
		justify-content: space-between;
		height: unset;
	}

	.logo {
		display: none;
	}

	.menuitem {
		@include header.tab(".supernav_active");

		&:not(.username) {
			text-transform: lowercase;
		}

		&::after {
			display: none;
		}

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.supernav_container {
	gap: 7px;

	display: flex;
	position: initial;
}

.supernav_content {
	background-color: var(--bg-hl);
	border-radius: var(--border-radius);
	box-shadow: 0 0 4px 1px var(--shadow);

	overflow: hidden;
	top: 48px;

	.submenuitem {
		color: var(--fg-main);
		font: var(--gpText-BodyMedium);
		padding: 16px 20px;

		&:hover {
			background-color: var(--bg-hover);
			transition: var(--transition);
		}
	}
}

#global_actions {
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	gap: var(--spacing-md);

	display: flex;
	flex-direction: row-reverse;
	position: unset;
	height: unset;

	.user_avatar {
		--size: 46px;
		margin: 0;
	}
}

.header_installsteam_btn {
	display: none;
}

#account_pulldown {
	background-image: none;
	line-height: 24px;
	padding: 0;
	margin-left: 4px;

	display: inline-flex;
	align-items: center;

	&::after {
		content: "";

		background-color: var(--fg-main);
		mask-image: var(--icon-arrow);

		width: 10px;
		height: 6px;
	}
}

#header_wallet_ctn {
	padding: 0;
	padding-top: 4px;
}

#header_wallet_balance {
	color: var(--fg-dim);
	gap: 8px;
	padding: 0;

	display: flex;

	&:hover {
		color: var(--fg-main);
	}
}
