@use "shared/controls";

#global_header {
	backdrop-filter: var(--blur);
	background-color: color-mix(
		in srgb,
		var(--color-bg-tertiary) 50%,
		transparent
	);
	padding: 8px;

	position: sticky;
	top: 0;
	z-index: 999;

	.content {
		background-color: transparent;

		display: flex;
		justify-content: space-between;
		height: unset;
	}

	.logo {
		display: none;
	}

	.menuitem {
		@include controls.button;

		&.supernav_active {
			@include controls.button-vars("primary");
		}

		&:not(.username) {
			text-transform: lowercase;
		}

		&::after {
			display: none;
		}

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.supernav_container {
	gap: var(--spacing-xs);

	display: flex;
	position: initial;
}

.supernav_content {
	background-color: var(--color-bg-hl);
	border-radius: var(--rounding-md);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);

	overflow: hidden;
	top: 48px;

	.submenuitem {
		color: var(--color-fg-main);
		font: var(--text--body-medium);
		padding: 16px 20px;

		&:hover {
			background-color: var(--color-bg-hover);
			transition: var(--transition);
		}
	}
}

#global_actions {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	gap: var(--spacing-md);

	display: flex;
	flex-direction: row-reverse;
	position: unset;
	height: unset;

	.user_avatar {
		--size: 46px;
		margin: 0;
	}
}

.header_installsteam_btn {
	display: none;
}

#account_pulldown {
	background-image: none;
	line-height: 24px;
	padding: 0;
	margin-left: 4px;

	display: inline-flex;
	align-items: center;

	&::after {
		content: "";

		background-color: var(--color-fg-main);
		mask-image: icon("arrow");

		width: 10px;
		height: 6px;
	}
}

#header_wallet_ctn {
	padding: 0;
	padding-top: 4px;
}

#header_wallet_balance {
	color: var(--color-fg-dim);
	gap: 8px;
	padding: 0;

	display: flex;

	&:hover {
		color: var(--color-fg-main);
	}
}
