* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-main);
	background-image: linear-gradient(180deg, var(--bg-hl), var(--bg-tertiary));
	background-attachment: fixed;
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
}

a,
.underlinedLink,
.whiteLink {
	color: var(--fg-main);

	&:hover {
		color: var(--color-primary);
	}
}

::placeholder {
	color: var(--color-secondary);
	font: var(--gpText-BodyMedium);
}
