@use "shared/menu";

.popup_block_new {
	box-shadow: none;

	.popup_body {
		border: none;
	}
}

.popup_menu {
	@include menu.container;
}

.popup_menu_item {
	@include menu.item;

	&:where(a):hover {
		color: var(--color--fg-main);
	}
}

.shadow_ul,
.shadow_top,
.shadow_ur,
.shadow_left,
.shadow_right,
.shadow_bl,
.shadow_bottom,
.shadow_br {
	display: none;
}

// App hub
.statsselect_options {
	@include menu.container;

	border: none;

	.option {
		@include menu.item;

		height: unset;
	}
}

// Forum
.forum_comment_action_menu {
	@include menu.container;

	padding: 0;

	.forum_comment_action {
		@include menu.item;

		background-color: transparent;
		border-radius: 0;
		margin: 0;

		width: 100%;
		height: unset;
	}
}

// Friend activity
.blotter_appselect_options {
	@include menu.container;

	border: none;

	.option {
		@include menu.item;

		height: unset;
	}
}

// Profile
.group_invite_menu_option_disabled {
	@include menu.item--disabled;

	// Because it's a <span>
	display: block;
}

#NamePopup .popup_body {
	padding: 0;

	& > :first-child {
		@include menu.item;
		@include menu.item--disabled;
	}
}

#NamePopupAliases {
	padding: 0;

	p {
		@include menu.item;

		margin: 0;
	}
}

#profile_action_dropdown .popup_menu_item img {
	display: none;
}

// Store
.ds_options_tooltip {
	@include menu.container;

	padding: 0;

	.option {
		@include menu.item;

		border-radius: 0;
		margin: 0;
	}
}

// Workshop
div.navContent {
	@include menu.container;

	padding: 0;

	a {
		@include menu.item;

		margin: 0;
	}

	hr {
		@include menu.separator;
	}
}
