.market_paging {
	line-height: unset;
	gap: var(--spacing-xs);
	padding: var(--spacing-xs);
	padding-right: 0;
	margin: 0;
	margin-top: var(--market_row-spacing-outer);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	height: unset;

	& > [style="clear: both;"] {
		display: none;
	}
}

.commentthread_paging,
.commentthread_pagelinks_ctn,
.forum_paging_controls,
.market_paging_controls {
	gap: 24px;
	padding: 0;
	margin: 0;

	display: flex;
}

.forum_paging_controls {
	&[style="display: none;"] {
		visibility: hidden;
	}
}

.pagelink, // Workshop
.pagebtn,
.commentthread_pagelink,
.forum_paging_pagelink,
.market_paging_pagelink {
	background-color: var(--bg-hl);
	font: var(--gpText-BodyMedium);
	color: inherit;
	text-decoration: none;
	border-radius: var(--border-radius);

	display: flex;
	align-items: center;
	justify-content: center;

	&.active,
	&:not(.disabled):hover {
		background-color: var(--bg-hover);
	}
}

.workshopBrowsePagingControls,
.commentthread_pagelinks,
#searchResults_links {
	gap: var(--spacing-xs);
	margin: 0;

	display: flex;
	align-items: center;
}

.pagelink, // Workshop
.pagebtn {
	border: none;
	padding: 0;

	width: 70px;
	height: 30px;

	&.disabled {
		opacity: 0.5;
	}
}

.commentthread_pagelink,
.forum_paging_pagelink,
.market_paging_pagelink {
	padding: 5px 7px;
	margin: 0;
}
