.friendBlock {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-md);
	padding: var(--spacing-sm);
	margin: 0;

	display: flex;
	align-items: center;
	height: unset;

	&:hover {
		background-color: var(--color-bg-hover);
	}

	.friendBlockContent {
		font: var(--text--body-large);

		flex-grow: 1;
	}

	.friendPlayerLevel {
		margin: 0;
		margin-left: 9px;

		order: 1;
		display: flex;
		justify-content: center;
	}

	.friendSmallText {
		font: var(--text--body-small);
	}

	.playerAvatar {
		--size: var(--avatar--size-md);
		margin-right: 9px;
	}
}

.friendPlayerLevelNum {
	color: var(--color-fg-main);
}
