@use "shared/utils";

.profile_small_header_arrow {
	@include utils.icon($name: "arrow", $size: "sm");

	// TODO(icons):
	transform: rotate(-90deg);
	color: var(--color--fg-dim);
	font-size: 0;

	display: inline-block;
	vertical-align: center;

	&:nth-child(2) {
		display: none;
	}
}

.profile_small_header_avatar {
	position: unset;

	.playerAvatar {
		// Half of 184px
		--size: 92px;
	}
}

.profile_small_header_bg {
	background: none;
	margin: var(--content--spacing-block-start) 0;

	max-width: unset;
	height: unset;
}

.profile_small_header_location {
	color: var(--color--fg-dim);
	font: var(--text--body-large);
}

.profile_small_header_texture {
	background: none;

	display: flex;
	align-items: center;
	max-width: var(--content--width-sm);
	height: unset;

	anchor-name: --profile-header;
}

.profile_small_header_name {
	font: var(--text--heading-large);
	padding: 0;

	display: block;
}

.profile_small_header_text {
	margin-inline-start: var(--spacing-md);

	position: unset;
}
