@use "shared/controls";
@use "web/paging";

@mixin -button($variant: "secondary", $size: "md") {
	all: unset;

	@include controls.button($variant, $size);

	& > span {
		all: unset;
	}
}

[style^="clear"] {
	display: none;
}

h2 {
	color: var(--color-fg-main);
	font: var(--text--heading-medium);
	letter-spacing: 0;
	text-transform: none;
	padding: 0;
	margin: 0;

	// TODO: tab stuff in the home page has this, but some aren't supposed to be
	// seen
	&:has(> .header_inline) {
		display: flex;
		flex-direction: column;
	}

	.header_inline {
		color: var(--color-fg-dim);
		font: var(--text--body-large);
	}

	& ~ p {
		color: var(--color-fg-dim);
	}
}

h3 {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
}

.bb_blockquote {
	background-color: var(--color-bg-main-50);
	font: inherit;
	border: none;
	border-radius: var(--rounding-md);
	padding: var(--spacing-sm);
	margin: 0;
	margin-bottom: var(--spacing-sm);

	.bb_quoteauthor {
		color: var(--color-fg-dim);
		font: inherit;
		margin-bottom: var(--spacing-xxs);
	}
}

// TODO: style in forums
.breadcrumbs {
	display: none;
}

#{controls.button-web-selector(".btn_medium")},
#{controls.button-web-selector(".btn_small")} {
	@include -button;
}

#{controls.button-web-selector(".btn_green_steamui")},
#{controls.button-web-selector(".btn_green_white_innerfade")} {
	@include -button($variant: "primary");
}

#{controls.button-web-selector(".btnv6_white_transparent")} {
	@include -button($variant: "tertiary", $size: "sm");
}

input[type="checkbox"] {
	@include controls.checkbox(":checked", ":disabled");
}

.dselect_container {
	background-color: transparent;

	.trigger {
		@include controls.dropdown;
	}
}

.pagebtn {
	@include paging.arrow($disabled: "&.disabled");
}

.page_content {
	// TODO(vars): content width
	width: calc(var(--sidebar-width) + var(--spacing-md) + 1247px);
	max-width: unset;
}

.pageheader {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
	letter-spacing: 0;
	text-shadow: none;
	text-transform: none;
	padding: 0;
}

.page_header_ctn {
	background: none;
	padding: 0;
	margin-top: var(--top-content-margin);
	margin-bottom: var(--spacing-xxl);

	.page_content {
		flex-direction: column;
	}
}

/* TODO: restrict to account preferences
.tooltip {
	@include utils.tooltip-icon;

	display: inline-block;
	vertical-align: sub;

	img {
		display: none;
	}
}
*/

.responsive_page_template_content {
	// TODO: store menu vertical spacing is 8px
	--store-menu-height: calc(1lh + var(--spacing-sm) * 2 + 9px * 2);
	// steam vars
	--store-menu-overlap-height: var(--store-menu-height);
	--store-menu-floating-height: var(--store-menu-height);

	font: var(--text--body-large);
}

.review_award {
	background: var(--color-bg-main);
	line-height: inherit;
	border-radius: var(--rounding-md);
	padding: calc(var(--spacing-xxs) / 2) var(--spacing-sm);
	margin: 0;

	height: unset;
}

.review_award_count {
	color: var(--color-primary);
	font: var(--text--body-small);
	margin-left: var(--spacing-sm);
}

.review_award_ctn {
	gap: var(--spacing-sm);
}

.review_award_icon {
	--size: var(--spacing-xl);

	width: var(--size);
	height: var(--size);
}
