@use "shared/controls";

.community_tooltip,
.store_tooltip {
	@include controls.tooltip;
}

// App page reviews
#review_histogram_tooltip {
	@include controls.tooltip;

	.negative {
		color: var(--color--accent-red);
	}

	.positive {
		color: var(--color--primary);
	}
}

// Award
.reaction_award_hover {
	width: 200px;

	.reaction_award_desc,
	.reaction_award_points {
		color: var(--color--fg-dim);
		font: inherit;
		padding-block-start: var(--spacing-sm);
	}

	.reaction_award_icon {
		background-color: transparent;
		padding: 0;
	}

	.reaction_award_info {
		padding: 0;
		padding-block-start: var(--spacing-lg);

		text-align: start;
	}

	.reaction_award_name {
		color: var(--color--fg-main);
		font: var(--text--heading-small);
	}
}

// Forum
.forum_topic_tooltip {
	@include controls.tooltip;

	border: none;

	.topic_hover_data {
		color: var(--color--fg-main);
	}

	.topic_hover_row {
		color: var(--color--fg-dim);
		font: var(--text--body-small);
		margin-block-start: var(--spacing-xs);
	}

	.topic_hover_text {
		color: inherit;
	}
}

// Game hover
.game_hover {
	h4 {
		color: var(--color--fg-main);
		font: var(--text--heading-medium);
		letter-spacing: 0;
		margin: 0;
	}

	.content {
		padding: 0;
	}
}

.game_hover_box {
	@include controls.tooltip;
}

.hover_arrow_left,
.hover_arrow_right {
	display: none;
}

.hover_body {
	margin-block-end: var(--spacing-md);
}

// Friend reviews
.hover_details_block_full {
	display: none;
}

.hover_friends_blocks {
	margin: 0;

	.playerAvatar {
		margin-inline-end: var(--spacing-xxs);
	}
}

.hover_release {
	color: var(--color--fg-dim);
	font: var(--text--body-small);

	& > div {
		display: flex;
	}

	.vr_required,
	.vr_supported {
		color: inherit;
		font: inherit;
	}
}

.hover_review_summary {
	background-color: transparent;
	color: inherit;
	padding: 0;
}

.hover_tag_row {
	font: var(--text--body-small);
	gap: var(--spacing-xxs);
	margin: 0;

	display: flex;
	flex-wrap: wrap;
	height: calc(1lh + 6.5px * 2);
}

.hover_screenshots {
	margin-block: var(--spacing-md);

	.screenshot {
		border-radius: var(--rounding-lg);
	}
}

// Workshop
.hover_box {
	@include controls.tooltip;

	.content {
		padding: 0;
	}

	.hoverWorkshopItemDesc {
		font: inherit;
	}

	.hoverWorkshopItemTitle {
		color: var(--color--fg-main);
		font: var(--text--heading-small);
		margin-block-end: var(--spacing-sm);
	}
}
