:root {
	// React partials
	--storemenu_border-gradient: linear-gradient(
		90deg,
		var(--color-fg-dim),
		transparent
	);

	// Pages
	--market_column-width: 150px;
	--market_row-spacing-outer: 17px;

	// Content
	--content--sidebar-width: 299px;
	--content--spacing-block-start: 69px;

	--content--width-sm: 1247px;
	--content--width-md: 1388px;
	--content--width-lg: 1564px;
}
