#DescriptionValue {
	color: var(--fg-dim);

	display: inline-flex;
}

#LabelText {
	font: var(--gpText-HeadingSmall);

	display: inline-flex;
	width: calc(100% - 3ch);
}

#SliderHandle {
	background-color: var(--fg-main);
	box-shadow: 0 0 6px var(--bg-main);
}

#SliderTrack {
	--left-track-color: var(--color-primary);
	background-color: var(--bg-main);
}
