#DescriptionValue {
	color: var(--color-fg-dim);

	display: inline-flex;
}

#LabelText {
	font: var(--text--heading-small);

	display: inline-flex;
	width: calc(100% - 3ch);
}

#SliderHandle {
	background-color: var(--color-fg-main);
	box-shadow: 0 0 6px var(--color-bg-main);
}

#SliderTrack {
	--left-track-color: var(--color-primary);
	background-color: var(--color-bg-hl);
}
