@use "shared/controls";

:where(#Button) {
	all: unset;

	@include controls.radio($active: "&#Active");

	&::before {
		display: none;
	}
}

:where(#Group) {
	all: unset;

	@include controls.radio-container;
}
