@use "shared/controls";

:where(#Button) {
	all: unset;

	@include controls.radio-alt($active: "&#Active");

	&::before {
		display: none;
	}
}

:where(#Group) {
	all: unset;

	@include controls.radio-alt-container;
}
