@use "shared/utils";

%-row {
	padding: 0;

	display: grid;
	grid-template-columns: repeat(2, var(--icon-column-size)) repeat(2, 1fr);

	& > * {
		padding: var(--spacing-xs) var(--spacing-sm);

		width: unset;
	}
}

#AddNonSteamGameDialog {
	--icon-column-size: calc(var(--icon--size-lg) + var(--spacing-sm) * 2);
	--table-border-color: color-mix(in srgb, currentColor 20%, transparent);

	#AppName {
		color: var(--color-fg-main);
		font: var(--text--body-large);
	}

	#ExePath {
		opacity: 1;
		color: var(--color-fg-dim);
		font: var(--text--body-large);
	}
}

#DialogBodyText {
	margin-block-end: var(--spacing-xs);
}

#Footer {
	gap: var(--spacing-sm);
	padding-block-start: var(--dialog--spacing-content);
}

#GameList {
	background-color: var(--color-bg-hl);
	box-shadow: none;
	border: none;
	border-radius: 0 0 var(--radius-lg) var(--radius-lg);
}

#GameRow {
	@extend %-row;

	padding: 0;

	#IconContainer {
		margin: 0;

		img {
			width: var(--icon--size-lg);
			height: var(--icon--size-lg);
		}
	}
}

#Header {
	@extend %-row;

	background-color: var(--color-bg-hl);
	border: none;
	border-block-end: var(--border-sm) solid var(--table-border-color);
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	// For scrollbar
	padding-inline-end: 14px;
	margin-block-start: var(--spacing-sm);

	& > * {
		text-transform: none;

		&:not(:last-child) {
			border-inline-end: var(--border-sm) solid var(--table-border-color);
		}

		&:hover {
			background-color: var(--color-bg-hover);
		}
	}
}

#SortArrowContainer {
	padding-inline-start: var(--spacing-xs);

	#Arrow {
		@include utils.icon("arrow", true);

		&:has(> [d="M17.98 10.23L3.20996 25H32.75L17.98 10.23Z"]) {
			transform: rotate(180deg);
		}
	}
}
