@use "shared/controls";

#ButtonRow {
	--gamepaddialog_field-spacing-block: 0px;

	#OKButton {
		@include controls.button-vars($variant: "primary");
	}
}

#ConfiguratorInterstitialContainer {
	background: var(--color-bg-main);
	padding: var(--dialog--spacing-content);
}

#DialogBody {
	color: inherit;

	#DescLabel {
		margin: 0;
	}
}
