#GameName {
	color: var(--color-fg-main);
	font: var(--text--heading-medium);
}

#Launching {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
}

#Layout {
	gap: var(--spacing-lg);
	margin: auto 0;
}

#OpenSteamButton {
	margin-block-start: auto;
}

#RightColumn {
	padding: 0;
}

#StatusOverride {
	padding: 0;
}

#StatusWrapper {
	margin-block-start: var(--spacing-lg);
}
