#SteamRuntimeSystemInfoContainer {
	margin: 0;
}

#Text {
	color: inherit;
	font-family: "Consolas", "Lucida Console", monospace;
	line-height: 1;
}

#TextContainer {
	background-color: var(--color-bg-hl);
	border: none;
	border-radius: var(--radius-lg);
	box-shadow: none;
}
