.customization_edit_instructions {
	padding: 10px;

	.profile_customization_header {
		--spacing: 0.25em;

		font: var(--gpText-HeadingMedium);
		color: var(--fg-main);
		padding: 0;
		margin-top: calc(var(--spacing) * -1);
		margin-bottom: var(--spacing);
	}
}

.customization_edit_instructions_text {
	font: var(--gpText-BodyLarge);
	padding: 0;
}

.profile_content_inner {
	gap: var(--sidebar-gutter);

	display: flex;
	flex-direction: row-reverse;
}

.profile_comment_area,
.profile_customization {
	background-color: var(--bg-main-20);
	font: var(--gpText-BodyMedium);
	border-radius: var(--border-radius);
	padding: 0;
	margin-bottom: 23px;
}

.profile_comment_area {
	margin-top: 0;
}

.profile_customization_block {
	font: var(--gpText-BodyMedium);
	border-radius: 0;
	padding: 10px;
}

.profile_customization_editlink {
	font: var(--gpText-BodyLarge);
	line-height: inherit;
	padding: 10px;

	display: block;
	right: 0;
}

.profile_customization_editlink_text {
	text-decoration: none;
}

.profile_customization_edit_icon {
	display: none;
}

/* This uses secondary text color in the mockup,
 * but primary is better for contrast. */
.commentthread_header,
.profile_customization_header {
	font: var(--gpText-BodyLarge);
	color: var(--fg-main);
	padding: 10px;
	margin: 0;
}

.profile_leftcol {
	width: 100%;
}
