@use "shared/style";

.btn_profile_action {
	border-radius: var(--border-radius);
	padding: 0;

	& > span {
		color: var(--fg-main);
		font: var(--gpText-BodyLarge);
		border-radius: inherit;
		padding: 11px 26px;
	}
}

.favorite_badge {
	gap: var(--spacing-md);
	padding: var(--spacing-sm) var(--spacing-md);

	.name {
		font: var(--gpText-BodyMedium);
	}

	.xp {
		font: var(--gpText-BodySmall);
		color: var(--fg-dim);
	}
}

.profile_content {
	font: var(--gpText-BodyMedium);
	padding: 40px;
	padding-top: 0;

	width: var(--profile_width);
}

.profile_header {
	--avatar-gap: 33px;
	--avatar-size: 220px;

	padding: 40px;
	padding-bottom: 31px;
	margin: 0;

	max-width: unset;

	.header_real_name_spacer {
		height: 59px;
	}

	.namehistory_link {
		--icon-size: 24px;

		@include style.icon("arrow");

		display: inline-block;
		vertical-align: middle;

		img {
			display: none;
		}
	}

	.persona_name {
		color: var(--fg-main);
		font: var(--gpText-HeadingLarge);
	}

	.playerAvatar {
		--size: var(--avatar-size);
		--border-size: 4px;
		margin-right: var(--avatar-gap);
	}

	.playerAvatarAutoSizeInner {
		inset: var(--avatar-border-radius);
	}
}

.profile_header_actions {
	gap: 6px;

	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.profile_header_badge {
	background-color: var(--bg-main-50);
	border-radius: var(--border-radius-large);

	height: unset;
}

.profile_header_badge_instructions {
	padding: var(--spacing-sm) var(--spacing-md);
}

.profile_header_badgeinfo {
	display: flex;
	flex-direction: column;
}

.profile_header_actions,
.profile_header_badgeinfo_badge_area {
	width: var(--sidebar-width);
}

.profile_header_bg {
	padding-top: 51px;

	max-width: var(--profile_width);
}

.profile_header_bg_texture {
	max-width: var(--profile_width);
}

.profile_header_centered_persona {
	padding: 0;

	left: calc(var(--avatar-size) + var(--avatar-gap));
	right: calc(var(--sidebar-width) + var(--profile_sidebar-gutter));
}

.profile_header_content {
	color: var(--fg-main);
	font: var(--gpText-BodyLarge);
	padding: 0;
}

.profile_header_summary {
	padding-left: 0;
	padding-right: var(--profile_sidebar-gutter);
}

.profile_summary {
	font: var(--gpText-BodyLarge);

	/* 4 lines tall */
	height: 96px;
}
