body.profile_page {
	--btn-background: color-mix(in srgb, var(--bg-hl) 50%, transparent);
	--btn-background-hover: color-mix(in srgb, var(--bg-hover) 50%, transparent);
	--gradient-background: color-mix(in srgb, var(--bg-hover) 35%, transparent);
}

div.profile_page {
	padding-bottom: 187px;

	[style^="clear: "] {
		display: none;
	}
}
