@use "shared/controls";
@use "shared/utils";

.achievement_icons {
	gap: 8px;
	margin-left: 8px;

	display: flex;
	width: unset;
}

.achievement_progress_bar_ctn {
	border: none;
	box-shadow: none;
	margin: 0;

	width: var(--ach-progress-bar-width);
	height: unset;

	@include controls.progress_bar(".progress_bar");
}

.game_info {
	--cap-gutter: 13px;
	--cap-width: 216px;

	height: 81px;
}

.game_info_achievement {
	--size: 30px;

	margin: 0;

	width: var(--size);
	height: var(--size);

	&.plus_more {
		background-color: var(--bg-hl);
		color: var(--fg-main);
		border: none;
		border-radius: var(--border-radius);
		box-shadow: none;

		&:hover {
			background-color: var(--bg-hover);
		}
	}

	img {
		border-radius: var(--border-radius);

		width: var(--size);
		height: var(--size);
	}
}

.game_info_achievements {
	--ach-progress-bar-width: 200px;
	--ach-progress-width: 85px;

	gap: 8px;

	float: unset;
	display: flex;
	align-items: center;
	width: unset;

	.ellipsis {
		width: var(--ach-progress-width);
		display: inline-flex;
	}
}

.game_info_achievement_summary {
	margin: 0;
}

.game_info_achievements_summary_area {
	display: flex;
	align-items: center;
	width: calc(
		160px + var(--ach-progress-bar-width) + var(--ach-progress-width)
	);
}

.game_info_badge_border {
	display: none;
}

.game_info_cap {
	margin-right: var(--cap-gutter);

	width: var(--cap-width);
}

.game_info_details {
	text-align: unset;

	&::before,
	&::after {
		content: "";

		@include utils.icon;

		color: color-mix(in srgb, var(--fg-dim) 50%, transparent);

		display: block;
		position: absolute;
		left: calc(var(--icon-size) * -1 - var(--spacing-xs));
	}

	&::before {
		--icon-name: icon("calendar");
		top: -1px;
	}

	&::after {
		--icon-name: icon("clock");
		top: 20px;
	}
}

.game_info_stats {
	background-color: var(--bg-main-50);
	padding: var(--spacing-md);
	margin-top: var(--spacing-sm);
}

.game_name {
	font: var(--gpText-BodyLarge);
	padding: 0;

	display: flex;
	align-items: center;
	flex-grow: 1;
}

.recent_game {
	background-color: var(--bg-main-50);
	border-radius: 0;
	margin-bottom: 11px;
}

.recent_game_content {
	padding: var(--spacing-md);
}
