.achievement_icons {
	gap: 8px;
	margin-left: 8px;

	display: flex !important;
	width: unset !important;
}

.achievement_progress_bar_ctn {
	background-color: var(--bg-hl) !important;
	border: none !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin: 0 !important;

	width: var(--ach-progress-bar-width) !important;
	height: unset !important;

	.progress_bar {
		background: none var(--color-primary) !important;
	}
}

.game_info {
	--cap-gutter: 13px;
	--cap-width: 216px;

	height: 81px !important;
}

.game_info_achievement {
	--size: 30px;

	margin: 0 !important;

	width: var(--size) !important;
	height: var(--size) !important;

	&.plus_more {
		background-color: var(--bg-hl) !important;
		color: var(--fg-main) !important;
		border: none !important;
		border-radius: var(--border-radius) !important;
		box-shadow: none !important;

		&:hover {
			background-color: var(--bg-hover) !important;
		}
	}

	img {
		border-radius: var(--border-radius) !important;

		width: var(--size) !important;
		height: var(--size) !important;
	}
}

.game_info_achievements {
	--ach-progress-bar-width: 200px;
	--ach-progress-width: 85px;

	gap: 8px !important;

	float: unset !important;
	display: flex !important;
	align-items: center !important;
	width: unset !important;

	.ellipsis {
		width: var(--ach-progress-width);
		display: inline-flex;
	}
}

.game_info_achievement_summary {
	margin: 0 !important;
}

.game_info_achievements_summary_area {
	display: flex;
	align-items: center;
	width: calc(
		160px + var(--ach-progress-bar-width) + var(--ach-progress-width)
	) !important;
}

.game_info_badge_border {
	display: none !important;
}

.game_info_cap {
	margin-right: var(--cap-gutter) !important;

	width: var(--cap-width) !important;
}

.game_info_details {
	text-align: unset !important;

	&::before,
	&::after {
		content: "";

		background-color: color-mix(in srgb, var(--fg-dim) 50%, transparent);
		mask: var(--icon);

		--size: 20px;
		display: block;
		position: absolute;
		left: calc(var(--size) * -1 - 5px);
		width: var(--size);
		height: var(--size);
	}

	&::before {
		--icon: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_460_15472)%22%3E%3Cpath%20d%3D%22M15.8333%203.33268H15V2.49935C15%202.04102%2014.625%201.66602%2014.1667%201.66602C13.7083%201.66602%2013.3333%202.04102%2013.3333%202.49935V3.33268H6.66667V2.49935C6.66667%202.04102%206.29167%201.66602%205.83333%201.66602C5.375%201.66602%205%202.04102%205%202.49935V3.33268H4.16667C3.24167%203.33268%202.50833%204.08268%202.50833%204.99935L2.5%2016.666C2.5%2017.5827%203.24167%2018.3327%204.16667%2018.3327H15.8333C16.75%2018.3327%2017.5%2017.5827%2017.5%2016.666V4.99935C17.5%204.08268%2016.75%203.33268%2015.8333%203.33268ZM15.8333%2015.8327C15.8333%2016.291%2015.4583%2016.666%2015%2016.666H5C4.54167%2016.666%204.16667%2016.291%204.16667%2015.8327V7.49935H15.8333V15.8327ZM5.83333%209.16602H7.5V10.8327H5.83333V9.16602ZM9.16667%209.16602H10.8333V10.8327H9.16667V9.16602ZM12.5%209.16602H14.1667V10.8327H12.5V9.16602Z%22%20fill%3D%22%2376808C%22%20fill-opacity%3D%220.5%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_460_15472%22%3E%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E%0A");
		top: -1px;
	}

	&::after {
		--icon: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20clip-path%3D%22url(%23clip0_460_15478)%22%3E%3Cpath%20d%3D%22M13.5332%206.46602C12.5582%205.49102%2011.2832%204.99935%209.99984%204.99935V9.99935L6.4665%2013.5327C8.4165%2015.4827%2011.5832%2015.4827%2013.5415%2013.5327C15.4915%2011.5827%2015.4915%208.41602%2013.5332%206.46602ZM9.99984%201.66602C5.39984%201.66602%201.6665%205.39935%201.6665%209.99935C1.6665%2014.5993%205.39984%2018.3327%209.99984%2018.3327C14.5998%2018.3327%2018.3332%2014.5993%2018.3332%209.99935C18.3332%205.39935%2014.5998%201.66602%209.99984%201.66602ZM9.99984%2016.666C6.3165%2016.666%203.33317%2013.6827%203.33317%209.99935C3.33317%206.31602%206.3165%203.33268%209.99984%203.33268C13.6832%203.33268%2016.6665%206.31602%2016.6665%209.99935C16.6665%2013.6827%2013.6832%2016.666%209.99984%2016.666Z%22%20fill%3D%22%2376808C%22%20fill-opacity%3D%220.5%22%2F%3E%3C%2Fg%3E%3Cdefs%3E%3CclipPath%20id%3D%22clip0_460_15478%22%3E%3Crect%20width%3D%2220%22%20height%3D%2220%22%20fill%3D%22white%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3C%2Fsvg%3E%0A");
		top: 20px;
	}
}

.game_info_stats {
	background-color: var(--bg-main-50) !important;
	padding: 15px !important;
	margin-top: 10px !important;
}

.game_name {
	font: var(--gpText-BodyLarge) !important;
	padding: 0 !important;

	display: flex;
	align-items: center;
	flex-grow: 1;
}

.recent_game {
	background-color: var(--bg-main-50) !important;
	border-radius: 0 !important;
	margin-bottom: 11px !important;
}

.recent_game_content {
	padding: 15px !important;
}
