#Collection {
	--bg-opacity: 0;

	background-color: transparent;
	border: var(--border-md) solid transparent;
	border-radius: var(--rounding-lg);
	box-shadow: none;

	transition: var(--transition);

	&:not(#NewCollection) {
		background-color: var(--color-bg-hl);

		&::before {
			content: "";

			position: absolute;
			inset: 0;

			opacity: var(--bg-opacity);
			background-image: radial-gradient(
				farthest-corner at -40px -40px,
				color-mix(in srgb, var(--color-primary) 50%, var(--color-bg-hl)),
				transparent
			);
			border-radius: var(--rounding-md);

			transition: var(--transition);
		}

		&:hover {
			--bg-opacity: var(--dim-opacity);
		}

		&:active {
			--bg-opacity: 1;
		}
	}

	&#NewCollection {
		background-image: none;
		border: var(--border-md) dotted var(--color-fg-dim);

		&:hover {
			--color-fg-dim: var(--color-fg-main);
		}
	}
}

#CollectionLabel {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	text-shadow: none;
	letter-spacing: 0;
}

#CollectionLabelCount {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
}

#Grid {
	padding-block: 46px 0;
}

#Header {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	gap: 9px;

	height: unset;

	#Label {
		font: inherit;
		letter-spacing: 0;
		text-transform: none;
	}

	#Rule {
		display: none;
	}
}

#ScrollContainer {
	background-image: none;
	padding: var(--spacing-lg);
}
