@use "shared/controls";
@use "shared/utils";

#Container {
	padding: var(--spacing-lg);
}

#DynamicCollectionLabel {
	all: unset;

	text-transform: none;
}

#DynamicCollectionLabelAndButton {
	@include controls.button;

	svg {
		margin: 0;
	}

	.SVGIcon_DynamicCollection {
		display: none;
	}
}

#DynamicCollectionSubHeader {
	gap: var(--spacing-sm);
	margin-block-start: var(--spacing-sm);

	align-items: center;

	#FreezeButton {
		@include controls.button;

		text-transform: none;
	}

	#RightSideButtons {
		padding: 0;
	}
}

#EditButton {
	--icon-name: icon("settings");

	@include controls.icon-button($w: 44px, $child: "svg");

	background: color-mix(in srgb, currentColor 10%, transparent);
	color: var(--color--fg-dim);
	margin: 0;

	// TODO(controls): unify icon-button with button
	display: flex;
	align-items: center;
	justify-content: center;

	#DynamicCollectionLabelAndButton & {
		all: unset;

		--icon-name: icon("filter");

		display: flex;
	}

	// oh my god bruh
	#Header:has(+ div #FreezeButton) .tool-tip-source > & {
		color: var(--color--primary);
	}

	&#Close {
		--icon-name: icon("close");
	}

	svg {
		color: inherit;
	}
}

#Header {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	gap: 9px;

	height: unset;

	#CollectionName {
		font: inherit;
		letter-spacing: 0;

		order: -2;
	}

	#Rule {
		display: none;
	}

	#SectionCount {
		color: inherit;
		font: inherit;
		margin: 0;

		order: -1;
	}

	.DialogInput {
		@include controls.text-field;
	}

	.DialogInput_Wrapper {
		margin: 0;

		order: -2;
	}
}

#OuterContainer {
	background-image: none;
}
