@use "shared/controls";
@use "shared/utils";

#Container {
	padding: var(--spacing-lg);
}

#DynamicCollectionLabel {
	display: none;
}

#DynamicCollectionLabelAndButton {
	all: unset;
}

#DynamicCollectionSubHeader {
	gap: var(--spacing-sm);
	margin-block-start: var(--spacing-sm);

	align-items: center;

	#FreezeButton {
		@include controls.button;

		text-transform: none;
	}

	#RightSideButtons {
		padding: 0;
	}
}

#EditButton {
	--bg: var(--color-fg-dim);
	--color-bg-percentage: 5%;
	--icon-name: icon("settings");
	--size: 26px;

	background-color: color-mix(
		in srgb,
		var(--bg) var(--color-bg-percentage),
		transparent
	);
	border-radius: var(--rounding-md);
	margin: 0;

	order: 1;
	width: var(--size);
	height: var(--size);

	#DynamicCollectionLabelAndButton & {
		--icon-name: icon("filter");
	}

	#Header & {
		align-self: unset;
	}

	// oh my god bruh
	#Header:has(+ div #FreezeButton) #DynamicCollectionLabelAndButton & {
		--bg: var(--color-primary);
	}

	&:hover {
		--color-bg-percentage: 10%;
	}

	&#Close {
		--icon-name: icon("close");
	}

	svg {
		@include utils.icon("name", "line");

		color: var(--color-fg-dim);
		margin: calc((var(--size) - var(--icon--size-md)) / 2);
	}
}

#Header {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	gap: 9px;

	height: unset;

	#CollectionName {
		font: inherit;
		letter-spacing: 0;
	}

	#Rule {
		display: none;
	}

	#SectionCount {
		color: inherit;
		font: inherit;
		margin: 0;
	}

	& > .tool-tip-source {
		order: 1;
	}

	// lmao but at least it will be visible (I hope)
	.DialogInput {
		@include controls.text-field($variant: "search");
	}
}

#OuterContainer {
	background-image: none;
}
