@use "shared/extends/style";

@mixin icon-button($icon-name, $active-selector) {
	--percentage: 5%;
	--icon-size: 30px;

	background-color: color-mix(
		in srgb,
		var(--fg-dim) var(--percentage),
		transparent
	);
	border-radius: var(--border-radius);
	padding: var(--spacing-xs);

	&:hover {
		--percentage: 10%;
	}

	&:active {
		--percentage: 20%;
	}

	&#{$active-selector} {
		--fg-dim: var(--color-primary);
	}

	svg {
		@include style.icon($icon-name);

		* {
			display: none;
		}
	}
}

@mixin part-container {
	background-color: var(--bg-tertiary);
	gap: 7px;
	padding: var(--spacing-sm);
}

// TODO: Used in market, don't know where to put.
@mixin search-icon {
	background-color: var(--color-secondary);
	mask: var(--icon-search);

	width: var(--icon-size);
	height: var(--icon-size);
}
