.favoritegroup_name {
	font: var(--gpText-HeadingLarge) !important;
}

.favoritegroup_namerow {
	font: var(--gpText-BodyLarge) !important;
	color: var(--fg-dim) !important;
}

.favoritegroup_showcase_group {
	margin: 0 !important;
}
