.item_count_stat {
	padding: 0 !important;

	align-self: center;
}

.item_showcase_item {
	margin: 0 !important;
}

.showcase_slot_row {
	gap: 10px !important;
	margin: 0 !important;

	display: flex;
	flex-wrap: wrap;
}
