.game_capsule {
	border-radius: var(--border-radius);
}

.item_count_stat,
.showcase_stat {
	margin-left: var(--spacing-lg);

	.value {
		font: var(--gpText-HeadingLarge);
		padding: 0;
	}

	.label {
		font: var(--gpText-BodyLarge);
		color: var(--fg-dim);
		padding: 0;
	}
}

.showcase_content_bg {
	background-color: var(--bg-main-50);
	border-radius: 0;
	padding: var(--spacing-md);
}

.showcase_item_detail_title {
	font: var(--gpText-HeadingLarge);
	padding-top: 0;

	max-height: 69px;
}
