// TODO: first 2 shared ?
.showcase_content_bg {
	background-color: var(--bg-main-50) !important;
	border-radius: 0 !important;
	padding: 15px !important;
}

.showcase_item_detail_title {
	font: var(--gpText-HeadingLarge) !important;
	padding-top: 0 !important;

	max-height: 69px !important;
}

.workshop_showcase_details_content {
	background-color: transparent !important;
}

.workshop_showcase_details_row {
	background: none !important;
	padding: 0 !important;
}

.workshop_showcase_item_image {
	margin-right: 15px !important;
}
