.workshop_showcase_details_content {
	background-color: transparent !important;
}

.workshop_showcase_details_row {
	background: none !important;
	padding: 0 !important;
}

.workshop_showcase_item_image {
	margin-right: 15px !important;
}
