#BackgroundImage {
	opacity: 1;
	background: linear-gradient(77.55deg, #14344b 12.47%, #0e141b 96.75%);
}

#CartNoteText {
	color: var(--color-fg-main);
}

#CartRightColStickyCtn {
	border-radius: var(--rounding-lg);

	max-width: var(--shoppingcart_right-col-size);
}

#CartSummaryCtn {
	background-color: var(--color-bg-main-50);
	padding: var(--spacing-lg);
}

#LicenseContextCtn {
	background: var(--color-bg-main-50);
	padding: var(--spacing-lg);

	img {
		margin-bottom: var(--spacing-lg);
	}
}

#LicenseLink {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
}

#LicenseTitle {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	margin-bottom: var(--spacing-sm);
}

#ShoppingCartBreadcrumbs {
	display: none;
}

#ShoppingCartCtn {
	gap: var(--spacing-xl);
}

#ShoppingCartHeader {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
	margin-block: var(--top-content-margin) 46px;
}

#ShoppingCartLeftCol {
	gap: var(--spacing-sm);

	max-width: var(--shoppingcart_left-col-size);
}

#ShoppingCartPage {
	padding: 0;

	max-width: calc(
		var(--shoppingcart_right-col-size) + var(--spacing-xl) +
			var(--shoppingcart_left-col-size)
	);
}
