@use "shared/controls";
@use "shared/utils";

@mixin -icon-button($name) {
	--size: 43px;

	@include controls.button;

	font-size: 0;

	min-width: var(--size);
	min-height: var(--size);

	&:not(:hover) {
		color: var(--color-fg-dim);
	}

	&::before {
		content: "";

		display: block;

		@include utils.icon($name);
	}
}

#AddRemoveLinks {
	font-size: 0;
	// There is a separator in a text form, so divide by 2
	gap: var(--spacing-xs);

	#AddLineItem {
		@include -icon-button("plus");
	}

	#RemoveLineItem {
		@include -icon-button("delete");
	}
}

#HeaderImg {
	border-radius: var(--rounding-md);
}

#InnerLineItemCtn {
	// TODO: xxl
	gap: 25px;
}

#LineItemsCtn {
	gap: var(--spacing-sm);
}

#LineItemDetailsCtn {
	gap: var(--spacing-sm);

	display: flex;
}

#LineItemDetailsRow {
	margin: 0;
}

#LineItemDetailsRowTop {
	flex: 1;
}

#LineItemRightCol {
	flex-shrink: 0;
}

#LineItemSpaceBetween {
	gap: var(--spacing-sm);

	// OS
	&:nth-child(3) {
		margin-right: auto;
	}
}

#LineItemTitle {
	color: var(--color-fg-main);
	font: var(--text--heading-medium);
}

#LineItemWrapper {
	background-color: var(--color-bg-main);
	border-radius: var(--radius-lg);
	padding: var(--spacing-md);
}
