#StoreOriginalPrice {
	color: var(--color-fg-dim);
	font: var(--text--heading-small);
}

#StoreSaleDiscountBox {
	display: none;
}

#StoreSalePriceBox {
	font: var(--text--heading-small);
	padding: 0;

	#StoreSaleDiscountedPriceCtn & {
		color: var(--color-accent-green);
	}
}
