#AchievementIconWrapper {
	border-radius: var(--rounding-md);

	width: var(--achievementiconbase_size);
	height: var(--achievementiconbase_size);
}

#Icon {
	box-shadow: none;
}

#RareAchievementIconGlowContainerRoot {
	display: none;
}
