#ActivityCommentThread {
	background-color: var(--color-bg-main-20);
	border-radius: var(--radius-lg);
	padding: var(--spacing-md);
	margin-block-start: var(--spacing-sm);
	margin-inline-start: calc(var(--steamavatar_size) + var(--spacing-sm));
}

#AddReply {
	padding: 0;
	padding-block-start: var(--spacing-lg);
}

#Comment {
	padding: 0;
	margin: 0;
	margin-block-start: var(--spacing-lg);

	#CommentBody {
		margin-block-start: var(--spacing-sm);
		margin-inline-start: 0;
	}

	#CommenterandTime {
		margin: 0;

		align-items: center;
		height: var(--steamavatar_size);

		#ActorName {
			margin: 0;
		}

		#CommentTime {
			color: var(--color-fg-dim);
			font: var(--text--body-small);
		}
	}

	#CommentText {
		color: var(--color-fg-main);
		font: var(--text--body-medium);
	}

	#HeaderandBody {
		margin-inline-start: var(--spacing-sm);
	}
}
