@use "shared/utils";

$-others: ":where(#StandaloneFieldSeparator, .DialogControlsSection)";

#ControlsListOuterPanel {
	--controls-child-max-width: 100%;
	--controls-list-spacing: 0px;

	gap: var(--gamepaddialog_field-spacing-block);

	flex-direction: column;
}

#Field {
	--field-row-children-spacing: 0px;

	padding-block: var(--gamepaddialog_field-spacing-block);
	margin-inline-start: calc(var(--spacing-lg) * var(--indent-level));

	// TODO: remove .DialogBody ? where else is #Field used other than gameinfo?
	.DialogBody > & {
		background-color: var(--bg-main-50);
		padding-inline: var(--spacing-lg);
	}

	.DialogBody > &:nth-child(-n + 1 of &) {
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	}

	.DialogBody > &:has(+ #{$-others}) {
		border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	}

	.DialogBody > &:nth-last-child(-n + 1 of &) {
		border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	}

	.DialogBody > #{$-others} + & {
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
		margin-block-start: var(--spacing-lg);
	}

	&:only-child,
	.DialogBody > #{$-others} + &:last-child {
		border-radius: var(--border-radius-large);
	}

	&#WithDescription {
		&:not(:hover) #FieldDescription {
			display: none;
		}

		#FieldLabel::after {
			content: "";

			display: inline-block;
			vertical-align: text-top;

			margin-inline-start: var(--spacing-sm);

			@include utils.icon("info");
		}
	}

	&::after {
		display: none;
	}
}

#FieldDescription {
	color: var(--fg-dim);
	font: var(--gpText-BodyMedium);
	margin-block-start: var(--spacing-sm);
}

#FieldIcon {
	display: inline-flex;
	vertical-align: middle;
}

#FieldLabel {
	color: var(--fg-main);
	// Originally HeadingSmall, but it doesn't fit everywhere on the original
	// settings dialog size.
	font: var(--gpText-BodyLarge);

	// For #accountsettings_EntryValue
	overflow: hidden;
	display: unset;
}

#FieldLabelRow {
	// Seen in "Downloads > Shader Pre-Caching"
	&:not(:has(> #FieldLabel:empty)) {
		min-height: 44px;
	}
}

#LabelFieldValue {
	color: var(--fg-dim);
}

#StandaloneFieldSeparator {
	background-color: var(--bg-hover);

	.DialogBody > & {
		display: none;
	}
}
