#playerName {
	color: inherit;
	font: var(--text--body-large);
}

#richPresenceLabel {
	color: inherit;
	font: var(--text--body-small);
	margin-block-start: 7px;
}

#statusAndName {
	// #friendsnooze_SnoozeContainer
	& > :where(.in-game, .online) {
		display: none;
	}
}
