#avatar {
	border: var(--avatar--border-size) solid;
	border-radius: var(--avatar--border-radius);
	box-shadow: none;

	width: 100%;
	height: 100%;
}

#avatarHolder {
	transform: none;
	border-radius: var(--avatar--border-radius);

	position: relative;
	width: var(--steamavatar_size);
	height: var(--steamavatar_size);

	&:where(.X-Small) {
		--avatar--border-radius: var(--rounding-sm);
		--steamavatar_size: var(--avatar--size-xs);
	}

	&:where(.Small) {
		--steamavatar_size: var(--avatar--size-sm);
	}

	&:where(.Medium) {
		--steamavatar_size: var(--avatar--size-md);
	}

	&:where(.X-Large) {
		--avatar--border-radius: var(--rounding-lg);
		--steamavatar_size: var(--avatar--size-xl);
	}
}

#avatarStatus {
	// !important
	visibility: hidden;
}
