#avatar {
	border: 2px solid;
	border-radius: var(--border-radius);
	box-shadow: none;

	width: 100%;
	height: 100%;
}

#avatarHolder {
	transform: none;
	border-radius: var(--border-radius);

	position: relative;
	width: var(--steamavatar_size);
	height: var(--steamavatar_size);

	&:where(.X-Small) {
		--steamavatar_size: 32px;
	}

	&:where(.Small) {
		--steamavatar_size: 40px;
	}

	&:where(.Medium) {
		--steamavatar_size: 48px;
	}

	&:where(.X-Large) {
		--steamavatar_size: 56px;
	}
}

#avatarStatus {
	// !important
	visibility: hidden;
}
