@use "client";

#CompactThumbButton {
	@include client.appdetails--button;

	margin-inline-start: var(--spacing-sm);
}

#LeftContainer {
	#Playtime {
		color: var(--color--primary);
		font: var(--text--heading-small);
	}

	#RecommendGame {
		color: var(--color--fg-dim);
		font: var(--text--body-large);
	}
}

#RatingContainer {
	@include client.appdetails--section;
}
