@use "client";

#CompactThumbButton {
	@include client.appdetails--button;

	margin-inline-start: var(--spacing-sm);
}

#LeftContainer {
	#Playtime {
		color: var(--color--primary);
		font: var(--text--heading-small);
	}

	#RecommendGame {
		color: var(--color--fg-dim);
		font: var(--text--body-large);
	}
}

#RatingContainer {
	--color--fg-dim: color-mix(in srgb, var(--color--primary) 50%, transparent);

	@include client.appdetails--section;

	background-color: color-mix(in srgb, var(--color--primary) 10%, transparent);
}
