@use "client/appdetails";

#CompactThumbButton {
	@include appdetails.button;

	margin-inline-start: var(--spacing-sm);
}

#LeftContainer {
	#Playtime {
		color: var(--color-primary);
		font: var(--text--heading-small);
	}

	#RecommendGame {
		color: var(--color-fg-dim);
		font: var(--text--body-large);
	}
}

#RatingContainer {
	@include appdetails.section;
}
