@use "shared/controls";

#AchievementProgressContainer {
	@include controls.progress-bar("#AchievementProgress");

	margin-block: var(--spacing-xs) 0;

	height: unset;
}

#Additional {
	margin-block-end: var(--spacing-md);
}

#AdditionalItem {
	height: unset;
}

#Featured {
	& > div:first-child {
		height: unset;
	}

	#Desc {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}

	#Icon {
		margin-inline-end: var(--spacing-xs);
	}

	#Name {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
	}

	#TextSection {
		margin: 0;
	}
}

#Remainder {
	background-color: var(--color-bg-hl);
	border-radius: var(--rounding-md);

	width: var(--achievementiconbase_size);
	height: var(--achievementiconbase_size);
}

#RemainderText {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	line-height: var(--achievementiconbase_size);
	letter-spacing: 0;
	text-shadow: none;
}

#UnachievedSection {
	all: unset;

	#Label {
		color: var(--color-fg-dim);
		font: var(--text--body-medium);
		margin-block-end: var(--spacing-xs);
	}
}

#UnlockedLabel,
#UnlockedLabelPercent {
	color: inherit;
}
