#MoreInfoIcon {
	background-color: color-mix(in srgb, currentColor 20%, transparent);
	color: var(--fg-dim);
	line-height: unset;
	margin: 0;
}

#MoreInfoIconQuestionMark {
	font: var(--gpText-BodyMedium);
	margin: 0;
}
