#Backdrop {
	display: none;
}

#ColumnContainer {
	padding-block: 0;
	padding-inline: 16px var(--spacing-xxl);
}

#Container {
	background-color: color-mix(in srgb, var(--color--bg-hl) 2%, transparent);
	backdrop-filter: var(--blur);
}

#LeftColumn {
	--appdetailssectionheader_color: var(--color--fg-main);

	max-width: calc(67% - 32px);
}

#RightColumn {
	--appdetailssectionheader_color: var(--color--fg-dim);
}

#Spotlights {
	padding: 0;

	& > div {
		margin: 0;
	}
}
