#Label {
	gap: var(--spacing-sm);

	align-items: start;
}

#SectionHeader {
	color: var(--appdetailssectionheader_color);
	font: var(--text--body-large);
	letter-spacing: 0;
	text-transform: none;
	padding: 0;
	margin-block-end: var(--spacing-sm);

	height: var(--spacing-xxl);
}
