@use "shared/controls";
@use "shared/utils";

#Controls {
	padding: 0;
	margin: 0;
	margin-block-start: var(--spacing-sm);

	#EmoticonButton {
		@include controls.button;

		& > div {
			@include utils.icon("emoticon", true);
		}
	}

	#PostButton {
		@include controls.button("primary");

		margin-inline-start: var(--spacing-sm);
	}
}

#PostTextEntryArea {
	@include controls.text-field;

	box-shadow: none;

	width: 100%;
}
