@mixin tab($selected) {
	color: var(--fg-main);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	padding: 11px 29px;

	&:not(#{$selected}):hover {
		background-color: var(--bg-hover);
	}

	&#{$selected} {
		background-color: var(--color-secondary);
		box-shadow: var(--button-shadow);
	}
}
