@use "client";

#AddToFeed {
	margin: 0;
}

#FetchMoreContainer {
	@include client.appdetails--button;

	align-self: start;
}

#NoActivity {
	color: var(--color--fg-dim);
	font: var(--text--body-large);
	border: var(--border-md) dashed;
	border-radius: 0;
	padding: var(--spacing-lg);
	margin: 0;
}

#ViewLastNews {
	@include client.appdetails--button;

	text-align: center;
	margin-block-end: var(--spacing-lg);

	align-self: start;
}
