#InstructionText,
#NoneTaken {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
	margin-block-end: var(--spacing-xs);
}

#Screenshots {
	gap: var(--spacing-xs);
}

#Thumbnail {
	background-color: transparent;

	img {
		border-radius: var(--rounding-md);
	}
}
