@use "shared/style";
@use "shared/utils";

#FeaturedItem {
	align-items: start;

	#FeaturedItemDesc {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
		margin-block-end: var(--spacing-xs);
	}

	#FeaturedItemHeader {
		color: var(--color-fg-dim);
		font: var(--text--body-medium);
		margin-block-end: var(--spacing-xs);
	}

	#FeaturedItemHideButton {
		color: var(--color-fg-dim);
		padding: 0;

		inset-block-start: 0;
		inset-inline-end: 0;
		width: var(--icon--size-md);
		height: var(--icon--size-md);

		&:hover {
			color: var(--color-fg-main);
		}

		svg {
			@include utils.icon("close", true);
		}
	}

	#FeaturedItemImage {
		--size: 160px;

		border-radius: var(--rounding-md);
		margin-inline-end: var(--spacing-md);

		width: var(--size);
		height: var(--size);
	}

	#FeaturedItemLink {
		@include style.link;

		font: var(--text--body-large);
		padding-block: var(--spacing-xs);
	}

	#FeaturedItemName {
		color: var(--color-fg-main);
		font: var(--text--body-large);
		margin-block-end: var(--spacing-xs);
	}
}

#WorkshopContainer {
	background: none;
}

#WorkshopHightlight {
	margin: 0;
}

#WorkshopSection {
	position: relative;

	&::before {
		@include style.workshop-bg;

		position: absolute;
		inset: 0;
	}
}
