@use "shared/controls";

#AvatarAndLabel {
	height: unset;

	&:hover {
		background-color: var(--color-bg-main-20);
		border-radius: var(--rounding-md);
	}
}

#Friends,
#FriendsOverflow > div {
	gap: var(--spacing-xxs);
}

#LabelHolder {
	padding: 0;
	margin-block: auto;
	margin-inline: var(--spacing-sm);

	height: min-content;

	#PlaytimeStatus {
		color: inherit;
	}
}

#ShowMore {
	@include controls.button($variant: "tertiary", $size: "sm");
}

#Subsection {
	padding: 0;
	margin: 0;

	&#InGame,
	&#Recent {
		margin-block-end: var(--spacing-lg);
	}
}

#SubsectionHeader {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	padding-block-end: var(--spacing-xs);
}
