@use "client";

#AddToFeed {
	margin: 0;
}

#FetchMoreContainer {
	@include client.appdetails--button;

	align-self: start;
}

#ViewLastNews {
	@include client.appdetails--button;

	text-align: center;
	margin-block-end: var(--spacing-lg);

	align-self: start;
}
