#AdditionalItem {
	padding: 0;

	&:hover {
		background-color: var(--color-bg-main-20);
		border-radius: var(--rounding-md);
	}

	&:not(:last-child) {
		margin-block-end: 7px;
	}

	#Image {
		width: 144px;
	}

	#Title {
		color: var(--color-fg-main);
		font: var(--text--body-medium);
		margin-inline-start: 7px;
	}
}

#AssetImage {
	filter: none;

	// #libraryassetimage_Image
	& > img {
		border-radius: var(--rounding-md);
	}
}
