#Badge {
	--size: 64px;

	margin: 0;
	margin-inline-end: var(--spacing-md);

	width: var(--size);
	height: var(--size);

	&#EmptyCircle {
		border-color: var(--color-fg-dim);
	}
}

#BadgeName {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
}

#BadgeLevel {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
}

#CardsLeft {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	margin-block-end: 7px;
}

#CardsSection {
	gap: var(--spacing-sm);
	margin: 0;
}
