@use "shared/utils";

#CommentsContainer {
	font: var(--text--body-medium);

	svg {
		@include utils.icon("name", true);

		&#CommentIcon {
			--icon-name: icon("chat-bubble");
		}

		&#UpVotesIcon {
			--icon-name: icon("thumb-up");
		}
	}

	#CommentCount {
		color: var(--color-fg-main);
		margin-inline-start: var(--spacing-xxs);
	}

	#CommentsLabel {
		color: var(--color-fg-main);
	}
}

#CommentsGroup {
	gap: var(--spacing-xxs);
}

#PlayedForTime {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	padding: 0;
}

#ReviewDescription {
	color: var(--color-fg-main);
	gap: var(--spacing-xs);
}

#ReviewIcon {
	--size: 49px;

	width: var(--size);
	height: var(--size);
}

#ReviewTextContainer {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	padding-block-end: var(--spacing-sm);
}
