@use "shared/controls";

@mixin blur {
	background-color: color-mix(in srgb, var(--color-bg-hl) 2%, transparent);
	backdrop-filter: blur(20px);
}

@mixin button {
	@include controls.button;

	background: var(--color-bg-main-20);
	margin: 0;
}

@mixin section {
	background: rgba(49, 56, 67, 0.5);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-xl);
	margin-block-end: 16px;
}
