@use "shared/utils";

@mixin icon-button($icon-name, $active-selector) {
	--percentage: 5%;
	--icon--size-lg: 30px;

	background-color: color-mix(
		in srgb,
		var(--color-fg-dim) var(--percentage),
		transparent
	);
	border-radius: var(--rounding-md);
	padding: var(--spacing-xs);

	&:hover {
		--percentage: 10%;
	}

	&:active {
		--percentage: 20%;
	}

	&#{$active-selector} {
		--color-fg-dim: var(--color-primary);
	}

	svg {
		@include utils.icon($name: $icon-name, $remove: true, $size: "lg");
	}
}

@mixin part-container {
	background-color: var(--color-bg-tertiary);
	gap: 7px;
	padding: var(--spacing-sm);
}
