@use "shared/utils";

@mixin icon-button($icon-name, $active-selector) {
	--percentage: 5%;
	--icon--size-lg: 30px;

	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		transparent
	);
	color: var(--color-fg-dim);
	border-radius: var(--rounding-md);
	padding: var(--spacing-xs);

	&:hover {
		--percentage: 10%;
	}

	&:active {
		--percentage: 20%;
	}

	#{$active-selector} {
		color: var(--color-fg-main);
	}

	svg {
		@include utils.icon($name: $icon-name, $remove: true, $size: "lg");
	}
}

@mixin part-container {
	background-color: var(--color-bg-tertiary);
	gap: var(--spacing-xs);
	padding-block: var(--library_gamelist-bar-spacing-block);
	padding-inline: var(--library_gamelist-bar-gap) var(--spacing-sm);
}
