@use "shared/utils";

@mixin button {
	background-color: var(--bg-hl);
	color: var(--fg-dim);
	border-radius: var(--border-radius);
	padding: 6px 15px;

	&:hover {
		background-color: var(--bg-hover);
	}

	svg {
		@include utils.icon($remove: true);
	}
}
