@use "shared/utils";

@mixin button {
	background-color: var(--color-bg-hl);
	color: var(--color-fg-dim);
	border-radius: var(--rounding-md);
	padding: 6px 15px;

	&:hover {
		background-color: var(--color-bg-hover);
	}

	svg {
		@include utils.icon($remove: true);
	}
}
