@use "shared/utils";

@mixin button {
	background-color: var(--color-bg-hl);
	border-radius: var(--rounding-md);
	padding: var(--spacing-xs) 15px;

	&:hover {
		background-color: var(--color-bg-hover);
	}

	svg {
		@include utils.icon($remove: true, $size: "lg");
	}
}
