@use "shared/controls";

body:is(.account, .account_preferences) {
	background: #11171e;
}

.two_column {
	font: var(--text--body-large);

	&.left {
		background-color: var(--color-bg-main);
		border-radius: var(--radius-lg);
		padding: var(--spacing-md);

		min-width: var(--sidebar-width);
	}

	&.right {
		margin-left: var(--spacing-md);
	}
}

.accountData {
	--color-fg-main: var(--color-primary);
	font: var(--text--heading-small);

	position: unset;
}

.accountRow {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	margin: 0;

	height: unset;
}

.account_data_field {
	color: var(--color-fg-dim);
	font: var(--text--body-large);

	&[href] {
		color: var(--color-primary);
	}
}

.account_header_line {
	background-color: var(--color-bg-main);
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
	border-radius: var(--radius-lg) var(--radius-lg) 0 0;
	padding: var(--spacing-lg);
	padding-bottom: 0;

	height: unset;

	img,
	svg {
		display: none;
	}

	span {
		margin: 0;
	}
}

.account_manage_label {
	font: var(--text--heading-small);
	padding: 0;
}

.account_manage_link {
	@include controls.button;

	margin: 0;

	&.delete_link {
		@include controls.button-vars("red");
	}
}

.account_security_block {
	margin: 0;

	& > [style="float: left"] {
		font: var(--text--heading-small);
	}
}

.account_setting_block_short,
.account_setting_block {
	background-color: var(--color-bg-main);
	padding: var(--spacing-lg);
	margin-bottom: var(--spacing-md);

	display: flex;
	flex-direction: column;
}

.account_settings_container {
	@extend .account_setting_block;

	font: var(--text--body-large);

	.h3_content {
		margin: 0;
	}

	.hspacer {
		height: var(--spacing-xl);
	}

	blockquote {
		margin: 0;
		margin-top: var(--spacing-sm);
	}

	h3 {
		letter-spacing: 0;
		text-transform: unset;
	}

	label {
		color: inherit;
		font: inherit;
	}

	p {
		padding: 0;
	}
}

.account_setting_sub_block_long,
.account_setting_sub_block {
	color: var(--color-fg-main);
	gap: var(--spacing-lg);
	padding: 0;

	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.gray_bevel {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
	all: unset;

	input[type="text"],
	textarea {
		@include controls.text-field($variant: "transparent");
	}

	input[type="text"] {
		height: unset;
	}
}

.inner_rule {
	border-top: var(--border-md) solid var(--color-bg-hl);
	margin-block: var(--spacing-lg);
}

.youraccount_steamid {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
}
