@use "shared/controls";
@use "shared/style";
@use "web/layout";

:where(.DialogBodyText) {
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	gap: var(--spacing-sm);
	margin: 0;

	display: flex;
	flex-direction: column;
}

:where(.DialogButton) {
	@include controls.button;

	box-shadow: none;

	&.Primary {
		@include controls.button-colors("primary");
	}

	&::before {
		display: none;
	}
}

.DialogCheckbox {
	@include controls.checkbox(".Active", ".Disabled");

	box-shadow: none;

	svg {
		display: none;
	}
}

:where(.DialogCheckbox_Container) {
	padding: 0;
	margin: 0;

	display: flex;
	align-items: center;

	&:hover .DialogCheckbox {
		color: var(--fg-main);
	}
}

:where(.DialogContent) {
	background: var(--bg-main);
	font: var(--gpText-BodyMedium);
	padding: var(--spacing-lg);
}

:where(.DialogDropDown) {
	@include controls.dropdown;
}

.DialogDropDown_Arrow {
	display: none;
}

.DialogDropDown_CurrentDisplay {
	padding: 0;
}

:where(.DialogFooter) {
	padding-block-start: 30px;

	.DialogButton {
		margin: 0;
	}
}

:where(.DialogHeader) {
	color: var(--fg-main);
	font: var(--gpText-HeadingLarge);
	margin-block-end: var(--spacing-sm);
}

.DialogInput {
	@include controls.text-input;

	color: var(--fg-main);
	font: inherit;
	box-shadow: none;
}

:where(.DialogInputLabelGroup) {
	margin-block-end: var(--spacing-sm);
}

.DialogLabel {
	color: var(--fg-dim);
	font: var(--gpText-BodySmall);
	text-transform: none;
	margin-bottom: var(--spacing-xs);
}

:where(.DialogRoundCheckboxField) {
	display: none;
}

.DialogToggle_Description {
	color: var(--fg-dim);
	font: inherit;
	padding-top: var(--spacing-sm);
}

.DialogToggle_Label {
	color: inherit;
	font: inherit;
}

.DialogToggleField {
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

.DialogToggleField_Control {
	background-color: transparent;
	font-size: 0;
}

.DialogToggleField_Option {
	&.Off {
		display: none;
	}

	&.On {
		@include controls.toggle(".Active", ".hack");

		.Disabled & {
			background: var(--bg-hover);
		}
	}
}

.DialogTwoColLayout {
	gap: var(--spacing-sm);
}

.FullModalOverlay > dialog {
	border: none;
}

.ModalOverlayBackground {
	background: var(--bg-main-50);
	backdrop-filter: blur(20px);

	// For the top line
	top: 1px;
}

.ModalPosition_Content {
	color: var(--fg-main);
	box-shadow:
		0px 4px 19px 3px rgba(0, 0, 0, 0.3),
		0px 8px 38px 5px rgba(0, 0, 0, 0.15);
}

.ModalPosition_Dismiss {
	--icon-size: var(--dialog_window-control-size);

	inset-block-start: var(--spacing-md);
	inset-inline-end: var(--spacing-md);

	.closeButton {
		all: unset;

		svg {
			@include style.icon("name");
		}
	}
}

.ModalPosition_TopBar {
	transition: var(--transition);
	backdrop-filter: blur(20px);
	background-image: linear-gradient(
		90deg,
		transparent,
		currentColor,
		transparent
	);
	color: var(--color-primary);

	&.Destructive {
		color: var(--accent-red);
	}
}

.SettingsDialogSubHeader {
	@include layout.settings-header;
}

.title-area {
	--height: calc(var(--dialog_window-control-size) + var(--spacing) * 2);
	--icon-size: var(--dialog_window-control-size);
	--spacing: var(--spacing-md);

	height: var(--height);
}

.title-area-icon {
	@include style.icon;

	&:hover {
		color: var(--fg-main);
	}

	&.closeButton {
		--icon-name: icon("close");
	}

	// TODO
	&.maximizeButton {
		--icon-name: icon("restore");
	}

	&.minimizeButton {
		--icon-name: icon("minimize");
	}

	&.restoreButton {
		--icon-name: icon("restore");
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	color: var(--fg-dim);
	gap: var(--dialog_window-control-spacing);
	margin-inline-end: calc(var(--spacing) / 2);

	max-height: var(--height);
}
