@use "shared/controls";
@use "shared/style";
@use "web/layout";

:where(.DialogButton) {
	@include controls.button;

	&.Primary {
		@include controls.button("primary");
	}

	&::before {
		display: none;
	}
}

.DialogCheckbox {
	@include controls.checkbox(".Active", ".Disabled");

	box-shadow: none;

	svg {
		display: none;
	}
}

.DialogCheckbox_Container {
	padding: 0;
	margin: 0;
}

:where(.DialogDropDown) {
	@include controls.dropdown;
}

.DialogDropDown_Arrow {
	display: none;
}

.DialogDropDown_CurrentDisplay {
	padding: 0;
}

.DialogInput {
	@include controls.text-input;

	color: var(--fg-main);
	font: inherit;
	box-shadow: none;
}

.DialogLabel {
	color: var(--fg-dim);
	font: var(--gpText-BodySmall);
	text-transform: none;
	margin-bottom: var(--spacing-xs);
}

.DialogToggle_Description {
	color: var(--fg-dim);
	font: inherit;
	padding-top: var(--spacing-sm);
}

.DialogToggle_Label {
	color: inherit;
	font: inherit;
}

.DialogToggleField {
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

.DialogToggleField_Control {
	background-color: transparent;
	font-size: 0;
}

.DialogToggleField_Option {
	&.Off {
		display: none;
	}

	&.On {
		@include controls.toggle(".Active", ".hack");

		.Disabled & {
			background: var(--bg-hover);
		}
	}
}

.ModalPosition_Content {
	color: var(--fg-main);
}

.ModalPosition_TopBar {
	transition: var(--transition);
	background-image: linear-gradient(
		90deg,
		transparent,
		var(--color-primary),
		transparent
	);
}

.SettingsDialogSubHeader {
	@include layout.settings-header;
}

.title-area {
	--height: calc(var(--dialog_window-control-size) + var(--spacing) * 2);
	--icon-size: var(--dialog_window-control-size);
	--spacing: var(--spacing-md);

	height: var(--height);
}

.title-area-icon {
	@include style.icon;

	&:hover {
		color: var(--fg-main);
	}

	&.closeButton {
		--icon-name: icon("close");
	}

	// TODO
	&.maximizeButton {
		--icon-name: icon("restore");
	}

	&.minimizeButton {
		--icon-name: icon("minimize");
	}

	&.restoreButton {
		--icon-name: icon("restore");
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	color: var(--fg-dim);
	gap: var(--dialog_window-control-spacing);
	margin-inline-end: calc(var(--spacing) / 2);

	max-height: var(--height);
}
