@use "shared/controls";
@use "shared/settings";
@use "shared/utils";

:where(.DialogBodyText) {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	gap: var(--spacing-sm);
	margin: 0;

	display: flex;
	flex-direction: column;
}

:where(.DialogButton) {
	@include controls.button;

	box-shadow: none;
	margin: 0;

	&.Primary {
		@include controls.button-vars("primary");
	}

	&::before {
		display: none;
	}
}

.DialogCheckbox {
	@include controls.checkbox(".Active", ".Disabled");

	box-shadow: none;

	svg {
		display: none;
	}
}

:where(.DialogCheckbox_Container) {
	padding: 0;
	margin: 0;

	display: flex;
	align-items: center;

	&:hover .DialogCheckbox {
		color: var(--color-fg-main);
	}
}

:where(.DialogContent) {
	background: var(--color-bg-main);
	font: var(--text--body-medium);
	padding: var(--dialog--spacing-container);
}

:where(.DialogDropDown) {
	@include controls.dropdown;
}

.DialogDropDown_Arrow {
	display: none;
}

.DialogDropDown_CurrentDisplay {
	padding: 0;
}

:where(.DialogFooter) {
	gap: var(--spacing-sm);
	padding-block-start: var(--dialog--spacing-content);
}

:where(.DialogHeader) {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
	margin-block-end: var(--spacing-sm);
}

.DialogInput {
	@include controls.text-field;

	box-shadow: none;
}

:where(.DialogInput_Wrapper) {
	gap: var(--spacing-sm);
}

:where(.DialogInputLabelGroup) {
	margin-block-end: var(--spacing-sm);

	&,
	& > label {
		display: flex;
		align-items: center;
	}
}

:where(.DialogLabel) {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	text-transform: none;
	margin-bottom: var(--spacing-xxs);
}

:where(.DialogRequirementLabel) {
	color: inherit;
	font: inherit;
}

:where(.DialogRoundCheckboxField) {
	display: none;
}

.DialogToggle_Description {
	color: var(--color-fg-dim);
	font: inherit;
	padding-top: var(--spacing-sm);
}

.DialogToggle_Label {
	color: inherit;
	font: inherit;
}

.DialogToggleField {
	color: inherit;
	font: inherit;
	padding: 0;
	margin: 0;
}

.DialogToggleField_Control {
	background-color: transparent;
	font-size: 0;
}

.DialogToggleField_Option {
	&.Off {
		display: none;
	}

	&.On {
		@include controls.toggle(".Active", ".hack");

		.Disabled & {
			background: var(--color-bg-hover);
		}
	}
}

.DialogTwoColLayout {
	gap: var(--spacing-sm);
}

.FullModalOverlay > dialog {
	border: none;
}

.ModalOverlayBackground {
	background: var(--color-bg-main-50);
	backdrop-filter: var(--blur);

	// For the top line
	top: 1px;
}

.ModalPosition_Content {
	color: var(--color-fg-main);
	box-shadow:
		0px 4px 19px 3px rgba(0, 0, 0, 0.3),
		0px 8px 38px 5px rgba(0, 0, 0, 0.15);
}

.ModalPosition_Dismiss {
	--icon--size-lg: var(--dialog--window-control-size);

	inset-block-start: var(--spacing-md);
	inset-inline-end: var(--spacing-md);

	.closeButton {
		all: unset;

		svg {
			@include utils.icon($name: "name", $size: "lg");
		}
	}
}

.ModalPosition_TopBar {
	transition: var(--transition);
	backdrop-filter: var(--blur);
	background-image: linear-gradient(
		90deg,
		transparent,
		currentColor,
		transparent
	);
	color: var(--color-primary);

	&.Destructive {
		color: var(--color-accent-red);
	}
}

.SettingsDialogSubHeader {
	@include settings.header;
}

.title-area {
	--height: calc(var(--dialog--window-control-size) + var(--spacing) * 2);
	--icon--size-md: var(--dialog--window-control-size);
	--spacing: var(--spacing-md);

	height: var(--height);
}

.title-area-icon {
	@include utils.icon;

	&:hover {
		color: var(--color-fg-main);
	}

	&.closeButton {
		--icon-name: icon("close");
	}

	// TODO
	&.maximizeButton {
		--icon-name: icon("restore");
	}

	&.minimizeButton {
		--icon-name: icon("minimize");
	}

	&.restoreButton {
		--icon-name: icon("restore");
	}
}

.title-area-icon-inner {
	display: none;
}

.title-bar-actions {
	color: var(--color-fg-dim);
	gap: var(--dialog--window-control-spacing);
	margin-inline-end: calc(var(--spacing) / 2);

	max-height: var(--height);
}
