@use "shared/extends/text";

* {
	box-sizing: border-box;
}

body {
	background-color: var(--bg-main);
	background-image: linear-gradient(180deg, var(--bg-hl), var(--bg-tertiary));
	background-attachment: fixed;
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
}

a {
	@include text.link;
}

:where(.ingame) {
	color: var(--accent-green);
}

:where(.offline) {
	color: var(--fg-dim);
}

:where(.online) {
	color: var(--color-primary);
}

:where(.awayOrSnooze) {
	color: var(--accent-yellow);
}

::placeholder {
	color: var(--fg-dim);
	font: var(--gpText-BodyMedium);
}

$svg-icons: (
	Arrow: "arrow",
	"Download": "download",
	FlatArrow: "arrow",
	Information: "info",
	Patch: "construction",
	"Pause": "pause",
	"Play": "play",
	Settings: "settings",
	X_Line: "close",
);

@each $name, $icon in $svg-icons {
	.SVGIcon_#{$name} {
		--icon-name: var(--icon-#{$icon});
	}
}
