@use "shared/style";

* {
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg-main);
	background-attachment: fixed;
	color: var(--color-fg-main);
	font: var(--text--body-medium);
}

a {
	@include style.link;
}

:where(.ingame) {
	color: var(--color-accent-green);
}

:where(.offline) {
	color: var(--color-fg-dim);
}

:where(.online) {
	color: var(--color-primary);
}

:where(.awayOrSnooze) {
	color: var(--color-accent-yellow);
}

::placeholder {
	color: var(--placeholder-color);
	font: var(--text--body-medium);
}

$svg-icons: (
	Arrow: "arrow",
	Download: "download",
	FlatArrow: "arrow",
	Information: "info",
	LinuxLogo2: "platform-linux",
	Patch: "construction",
	Pause: "pause",
	Play: "play",
	ReadyToPlay: "play-circle",
	Settings: "settings",
	SortBy: "clock",
	X_Line: "close",
);

@each $name, $icon in $svg-icons {
	.SVGIcon_#{$name} {
		--icon-name: var(--icon-#{$icon});
	}
}

.tool-tip-source {
	display: flex;
}
