:root {
	--icon-achievements: icon("achievements");
	--icon-arrow: icon("arrow");
	--icon-calendar: icon("calendar");
	--icon-checkbox: icon("checkbox");
	--icon-checkbox-checked: icon("checkbox-checked");
	--icon-clock: icon("clock");
	--icon-close: icon("close");
	--icon-filter: icon("filter");
	--icon-download: icon("download");
	--icon-info: icon("info");
	--icon-keyboard-arrow: icon("keyboard-arrow");
	--icon-minimize: icon("minimize");
	--icon-notifications: icon("notifications");
	--icon-people: icon("people");
	--icon-play: icon("play");
	--icon-plus: icon("plus");
	--icon-restore: icon("restore");
	--icon-search: icon("search");
	--icon-steam-circled: icon("steam-circled");
}
