:root {
	--icon-achievements: file("achievements");
	--icon-arrow: file("arrow");
	--icon-calendar: file("calendar");
	--icon-carousel: file("carousel");
	--icon-chat-bubble: file("chat-bubble");
	--icon-check: file("check");
	--icon-checkbox: file("checkbox");
	--icon-checkbox-checked: file("checkbox-checked");
	--icon-clock: file("clock");
	--icon-close: file("close");
	--icon-cloud: file("cloud");
	--icon-construction: file("construction");
	--icon-controller: file("controller");
	--icon-delete: file("delete");
	--icon-drag-handle: file("drag-handle");
	--icon-emoticon: file("emoticon");
	--icon-favorite: file("favorite");
	--icon-filter: file("filter");
	--icon-filter-off: file("filter-off");
	--icon-flag: file("flag");
	--icon-download: file("download");
	--icon-info: file("info");
	--icon-keyboard-arrow: file("keyboard-arrow");
	--icon-language: file("language");
	--icon-military-tech: file("military-tech");
	--icon-minimize: file("minimize");
	--icon-notifications: file("notifications");
	--icon-pause: file("pause");
	--icon-people: file("people");
	--icon-platform-linux: file("platform-linux");
	--icon-platform-mac: file("platform-mac");
	--icon-platform-win: file("platform-win");
	--icon-play: file("play");
	--icon-play-circle: file("play-circle");
	--icon-plus: file("plus");
	--icon-restore: file("restore");
	--icon-search: file("search");
	--icon-settings: file("settings");
	--icon-star: file("star");
	--icon-thumb-up: file("thumb-up");
	--icon-timelapse: file("timelapse");
	--icon-user: file("user");
}
