:root {
	--icon-achievements: icon("achievements");
	--icon-arrow: icon("arrow");
	--icon-calendar: icon("calendar");
	--icon-chat-bubble: icon("chat-bubble");
	--icon-checkbox: icon("checkbox");
	--icon-checkbox-checked: icon("checkbox-checked");
	--icon-clock: icon("clock");
	--icon-close: icon("close");
	--icon-delete: icon("delete");
	--icon-drag-handle: icon("drag-handle");
	--icon-filter: icon("filter");
	--icon-filter-off: icon("filter-off");
	--icon-flag: icon("flag");
	--icon-download: icon("download");
	--icon-info: icon("info");
	--icon-keyboard-arrow: icon("keyboard-arrow");
	--icon-military-tech: icon("military-tech");
	--icon-minimize: icon("minimize");
	--icon-notifications: icon("notifications");
	--icon-pause: icon("pause");
	--icon-people: icon("people");
	--icon-play: icon("play");
	--icon-play-circle: icon("play-circle");
	--icon-plus: icon("plus");
	--icon-restore: icon("restore");
	--icon-search: icon("search");
	--icon-settings: icon("settings");
	--icon-steam-circled: icon("steam-circled");
	--icon-thumb-up: icon("thumb-up");
}

$svg-icons: (
	"Download": "download",
	"Pause": "pause",
	"Play": "play",
);

@each $name, $icon in $svg-icons {
	.SVGIcon_#{$name} {
		--icon-name: var(--icon-#{$icon});
	}
}
