:root {
	// Background
	--bg-main: #0e141b;
	--bg-hl: #1e2329;
	--bg-hover: #313843;
	--bg-secondary: #14344b;
	--bg-tertiary: #222b44;

	--bg-main-20: color-mix(in srgb, var(--bg-main) 20%, transparent);
	--bg-main-50: color-mix(in srgb, var(--bg-main) 50%, transparent);

	// Text
	--fg-main: #f3f3f3;
	--fg-dim: #76808c;

	// Other colors
	--color-primary: #66c0f4;
	--color-secondary: #4b619b;

	--accent-green: #a1cd44;
	--accent-yellow: #c1b15f;
	--accent-red: #cd5444;

	--border-radius: 3px;
	--border-radius-large: 5px;
	--icon-size: 20px;
	--sidebar-width: 299px;
	--transition: ease-in 100ms;

	// Spacing
	--spacing-xs: 5px;
	--spacing-sm: 10px;
	--spacing-md: 15px;
	--spacing-lg: 20px;
	--spacing-xl: 30px;

	// Typography
	--gpText-HeadingLarge: normal 700 26px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingMedium: normal 700 22px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-HeadingSmall: normal 700 18px/1.4 "Motiva Sans", Arial, Sans-serif;

	--gpText-BodyLarge: normal 400 16px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodyMedium: normal 400 14px/1.4 "Motiva Sans", Arial, Sans-serif;
	--gpText-BodySmall: normal 400 12px/1.4 "Motiva Sans", Arial, Sans-serif;

	// Controls
	--avatar--border-radius: 4px;
	--avatar--border-size: 2px;

	--avatar--color-offline: var(--fg-dim);
	--avatar--color-online: var(--color-primary);
	--avatar--color-away: var(--accent-yellow);
	--avatar--color-ingame: var(--accent-green);

	--avatar--size-xs: 32px;
	--avatar--size-sm: 40px;
	--avatar--size-md: 48px;
	--avatar--size-xl: 64px;

	--button--border-size: 1px;
	--button--spacing-block-sm: var(--spacing-xs);
	--button--spacing-block-md: var(--spacing-sm);
	--button--spacing-inline: var(--spacing-lg);

	--button--primary-bg: var(--color-secondary);
	--button--primary-bg-hover: var(--color-primary);
	--button--primary-fg: var(--fg-main);
	--button--primary-fg-hover: var(--bg-main);
	--button--primary-border: transparent;
	--button--primary-border-hover: transparent;

	--button--secondary-bg: var(--bg-hl);
	--button--secondary-bg-hover: var(--bg-hover);
	--button--secondary-fg: var(--fg-main);
	--button--secondary-fg-hover: var(--fg-main);
	--button--secondary-border: transparent;
	--button--secondary-border-hover: transparent;

	--button--tertiary-bg: transparent;
	--button--tertiary-bg-hover: transparent;
	--button--tertiary-fg: var(--fg-dim);
	--button--tertiary-fg-hover: var(--fg-main);
	--button--tertiary-border: color-mix(in srgb, var(--fg-dim) 20%, transparent);
	--button--tertiary-border-hover: color-mix(
		in srgb,
		var(--fg-main) 40%,
		transparent
	);

	--button--green-bg: var(--accent-green);
	--button--green-bg-hover: color-mix(in srgb, var(--accent-green) 90%, white);
	--button--green-fg: var(--bg-main);
	--button--green-fg-hover: var(--bg-main);
	--button--green-border: transparent;
	--button--green-border-hover: transparent;

	--button--red-bg: var(--accent-red);
	--button--red-bg-hover: color-mix(in srgb, var(--accent-red) 90%, white);
	--button--red-fg: var(--bg-main);
	--button--red-fg-hover: var(--bg-main);
	--button--red-border: transparent;
	--button--red-border-hover: transparent;

	--button--yellow-bg: var(--accent-yellow);
	--button--yellow-bg-hover: color-mix(
		in srgb,
		var(--accent-yellow) 90%,
		white
	);
	--button--yellow-fg: var(--bg-main);
	--button--yellow-fg-hover: var(--bg-main);
	--button--yellow-border: transparent;
	--button--yellow-border-hover: transparent;

	--carousel-arrow-container-height: calc(
		100% - var(--carousel-section-spacing) - var(--carousel-thumb-height)
	);
	// 24px = icon size
	--carousel-arrow-size: calc(24px + var(--spacing-sm) * 3);
	--carousel-section-spacing: 30px;
	--carousel-thumb-height: 8px;

	@media (prefers-reduced-motion) {
		--transition: none;
	}
}
