@use "shared/extends/controls";
@use "shared/extends/style";

#ButtonChild {
	--icon-name: var(--icon-download);
	--icon-size: 24px;

	@include controls.button("primary");

	&#PlayButton {
		padding: 14px;

		svg {
			margin-inline-end: var(--spacing-sm);
		}
	}

	&#StreamingSelector {
		margin-inline-start: var(--spacing-xs);

		display: flex;
		align-items: center;
		width: unset;
		min-width: unset;

		svg {
			transform: none;
		}
	}

	svg {
		@include style.icon("name", true);

		color: inherit;
	}
}

#ButtonText {
	all: unset;

	font: var(--gpText-HeadingSmall);
}

#PlayButtonContainer {
	min-width: 151px;

	&#Green > #ButtonChild {
		@include controls.button-colors("green");
	}
}
