@use "shared/controls";
@use "shared/utils";

#ButtonChild {
	--icon-name: icon("download");

	@include controls.button("primary");

	&#PlayButton {
		padding: 14px;

		svg {
			margin-inline-end: var(--spacing-sm);
		}
	}

	&#StreamingSelector {
		margin-inline-start: var(--spacing-xs);

		display: flex;
		align-items: center;
		width: unset;
		min-width: unset;

		svg {
			transform: none;
		}
	}

	svg {
		@include utils.icon("name", true, "lg");

		color: inherit;
	}
}

#ButtonText {
	all: unset;

	font: var(--text--heading-small);
}

#PlayButtonContainer {
	min-width: 151px;

	&#Green > #ButtonChild {
		@include controls.button-vars("green");
	}
}
