@use "shared/utils";

#FooterBlurImageContainer {
	display: none;
}

#LibraryItemActionButton {
	background: color-mix(in srgb, var(--fg-dim) 20%, transparent);
	border: none;
	border-radius: var(--rounding-md);
	box-shadow: none;
	padding: var(--spacing-xxs);

	width: var(--action-button-size);
	height: var(--action-button-size);

	&#Play {
		--icon-name: icon("play");
	}

	svg {
		@include utils.icon("name", "path", "lg");

		margin: 0;
	}
}

#LibraryItemBox {
	--action-button-size: 51px;

	border: none;
	box-shadow: none;

	&#InCollection,
	&#InRecentGames {
		border-radius: var(--rounding-lg);

		// width: var(--appportrait_portrait-width);
		// height: var(--appportrait_portrait-height);
	}

	&#InDownloads {
		border-radius: var(--rounding-md);

		width: var(--appportrait_landscape-width);
		height: var(--appportrait_landscape-height);

		#PortraitImage {
			padding-top: var(--appportrait_landscape-height);
		}
	}

	&#InRecentGames#FeaturedCapsule {
		background: linear-gradient(
			190.47deg,
			color-mix(in srgb, var(--bg-main) 95%, transparent) 13.71%,
			color-mix(in srgb, var(--color-secondary) 41.8%, transparent) 91.45%
		);
	}
}

#PlaytimeDetails {
	color: var(--fg-main);
	font: var(--gpText-BodySmall);
	gap: 6px;
	padding: 0;

	flex-direction: row;

	#RecentGameFooter > & {
		margin-inline-start: calc(var(--action-button-size) + 6px);

		flex-direction: column;

		&::before {
			display: none;
		}
	}

	&::before {
		content: "";

		@include utils.icon("name");
	}

	&#Header {
		display: none;
	}

	&#PlayedRecent {
		--icon-name: icon("clock");
	}

	&#PlayedTotal {
		--icon-name: icon("calendar");
	}
}

#RecentGameFooter {
	background-color: color-mix(in srgb, var(--bg-hl) 2%, transparent);

	height: 74px;
}
