:root {
	--appportrait_landscape-width: 363px;
	--appportrait_landscape-height: 106px;
	// --appportrait_portrait-width: 191px;
	// --appportrait_portrait-height: 262px;
}

#LibraryItemBox {
	box-shadow: none;

	&#InCollection {
		border-radius: var(--border-radius-large);

		// width: var(--appportrait_portrait-width);
		// height: var(--appportrait_portrait-height);
	}

	&#InDownloads {
		border-radius: var(--border-radius);

		width: var(--appportrait_landscape-width);
		height: var(--appportrait_landscape-height);

		#PortraitImage {
			padding-top: var(--appportrait_landscape-height);
		}
	}
}
