:root {
	--library_gamelist-bar-spacing: 34px;
}

#AppDetailsMain {
	border: none;
}

#AppDetailsTransitionGroup {
	background-color: transparent;
}

#Container {
	margin-top: calc(var(--spacing-sm) * 2 + 1lh + 25px);
}

#LeftListSizableContainer {
	position: unset;
}
