#CapsuleList {
	gap: var(--spacing-xxs);
}

#ItemCapsule {
	background: var(--color-bg-main-20);
	border-radius: var(--rounding-md);
	gap: 0;

	// For border-radius
	overflow: hidden;
	height: unset;

	&:hover {
		background: var(--color-bg-main-50);
	}

	#Capsule {
		width: 242px;
	}

	#Content {
		margin: var(--spacing-sm);
	}

	#DiscountCtn {
		color: var(--color-fg-dim);
		font: var(--text--body-large);
	}

	#Title {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
		margin-block-end: var(--spacing-xxs);
	}
}
