@use "shared/controls";
@use "web/store";

// ??? you guys maybe wanna unify this into one component ?
#CategorySuggestion {
	@include store.category($gradient: "#BackgroundGradient", $label: "#Content");

	img {
		opacity: 1;
	}

	#Content {
		background-color: transparent;
		text-transform: none;
	}

	#TiledGradient {
		background-image: none;
	}
}

#InnerPosition {
	inset-block-start: var(--header--spacing-block);
}

#SearchBar {
	margin-inline: calc(var(--spacing-xs) + 5%);

	justify-content: center;
}

#SearchForm {
	background-color: transparent;

	position: relative;
	height: unset;
	max-width: 100%;
}

#SearchIcon {
	@include controls.text-field-icon($name: "search");
}

#SearchInput {
	@include controls.text-field($variant: "search");

	&:focus-visible {
		box-shadow: none;
	}
}

#Suggestions {
	background: var(--color-bg-tertiary);
	border-radius: 0 0 var(--rounding-md) var(--rounding-md);
	box-shadow: none;
	gap: var(--spacing-lg);
	padding: var(--spacing-md);

	#AdvancedSearch {
		@include controls.button($variant: "primary");
	}

	#SectionTitle {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
		margin-block-end: var(--spacing-xxs);
	}

	#SuggestionList {
		gap: var(--spacing-sm);
	}

	#SuggestionTextList {
		color: var(--color-fg-dim);
	}
}

#TextLink {
	text-decoration: none;
}
