@use "shared/controls";
@use "shared/style";
@use "shared/utils";

#Backdrop {
	background-color: var(--color-bg-main-50);
	backdrop-filter: var(--blur);

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: 250ms;
	}
}

#DynamicMenuButtons {
	gap: var(--header--button-spacing);
}

#MenuButton {
	@include controls.dropdown;

	text-shadow: none;

	&:not(#FlyoutButton) {
		&::after {
			display: none;
		}
	}

	&#Active {
		background-color: var(--color-secondary);

		#MenuUnderscoreCtn {
			display: none;
		}
	}

	svg {
		display: none;
	}
}

#RightButtons {
	gap: var(--header--button-spacing);
	padding: 0;
	margin: 0;

	#CartButton {
		margin: 0;

		&:hover {
			box-shadow: none;
		}
	}

	#ItemCount {
		color: var(--color-fg-dim);
		font: inherit;
		margin: 0;
	}
}

#StoreMenu {
	@include style.header;

	// When hidden
	animation: none;
	background-image: none;
	box-shadow: none;

	// When hidden
	height: unset;

	#Content {
		width: unset;
		height: unset;
	}
}

#StoreMenuContainer {
	top: var(--global-header-height);
}
