@use "shared/controls";
@use "shared/utils";

#Backdrop {
	background-color: var(--color-bg-main-50);
	backdrop-filter: var(--blur);

	@media (prefers-reduced-motion: no-preference) {
		transition-duration: 250ms;
	}
}

#DynamicMenuButtons {
	gap: var(--spacing-xs);
}

#MenuButton {
	@include controls.dropdown;

	background-color: transparent;
	text-shadow: none;

	&:not(#FlyoutButton) {
		&::after {
			display: none;
		}
	}

	&#Active {
		background-color: var(--color-secondary);

		#MenuUnderscoreCtn {
			display: none;
		}
	}

	svg {
		display: none;
	}
}

#RightButtons {
	gap: var(--spacing-xs);
	padding: 0;
	margin: 0;

	#CartButton {
		margin: 0;
	}

	#ItemCount {
		color: var(--color-fg-dim);
		font: inherit;
		margin: 0;
	}
}

#StoreMenu {
	background: var(--color-bg-tertiary);
	color: inherit;
	font: inherit;
	border: none;
	box-shadow: none;
	padding: 8px 10px;

	&#Hidden {
		height: unset;
	}

	#Content {
		width: unset;
		height: unset;
	}
}
