@use "shared/utils";

/// All args are selectors.
@mixin arrow($left, $right, $child) {
	--icon-size: 24px;

	border-radius: var(--rounding-md);
	padding: 0 var(--spacing-sm);

	display: flex;
	align-items: center;
	inset-block-start: 0;
	inset-inline: var(--inset-inline);
	width: unset;
	height: var(--carousel--arrow-container-height);

	&:hover {
		background-color: var(--color-bg-main-20);
	}

	#{$left} {
		--deg: 90deg;
		--inset-inline: 0 auto;
	}

	#{$right} {
		--deg: -90deg;
		--inset-inline: auto 0;
	}

	#{$child} {
		@include utils.icon("arrow");

		transform: rotate(var(--deg));
	}
}

/// @param {String} $child - Child selector
/// @param {String} $icon - Icon name found in `assets/icons`
@mixin button($child, $icon) {
	--size: 1lh;

	font: var(--text--heading-small);
	border-radius: var(--rounding-md);

	width: var(--size);
	height: var(--size);

	&:hover {
		background-color: var(--color-bg-hover);
	}

	#{$child} {
		@include utils.icon(#{$icon});

		color: var(--color-fg-dim);
		margin: calc((var(--size) - var(--icon-size)) / 2);
	}
}

@mixin container {
	background-color: var(--color-bg-main-20);
	font: var(--text--heading-small);
	border-radius: var(--radius-lg);
	padding-block: var(--spacing-lg);
	padding-inline: var(--carousel--arrow-size);
}

/// All args are selectors.
@mixin thumb($active) {
	transition: var(--transition);
	background-color: var(--color-bg-main);
	border-radius: 40px;

	width: 36px;
	height: var(--carousel--thumb-height);

	#{$active} {
		background-color: var(--color-secondary);
	}
}
