@use "shared/utils";

@mixin button-vars($variant: "secondary", $size: "md") {
	@if $variant == "primary" {
		--bg: var(--color-secondary);
		--bg2: var(--color-primary);
		--fg: var(--fg-main);
		--fg2: var(--bg-main);
		--border: transparent;
		--border2: transparent;
	}

	@if $variant == "secondary" {
		--bg: var(--bg-hl);
		--bg2: var(--bg-hover);
		--fg: var(--fg-main);
		--fg2: var(--fg-main);
		--border: transparent;
		--border2: transparent;
	}

	@if $variant == "tertiary" {
		--bg: transparent;
		--bg2: transparent;
		--fg: var(--fg-dim);
		--fg2: var(--fg-main);
		--border: color-mix(in srgb, currentColor 20%, transparent);
		--border2: color-mix(in srgb, currentColor 40%, transparent);
	}

	@if $variant == "red" or $variant == "green" or $variant == "yellow" {
		--bg: var(--accent-#{$variant});
		--bg2: color-mix(in srgb, var(--accent-#{$variant}) 90%, white);
		--fg: var(--bg-main);
		--fg2: var(--bg-main);
		--border: transparent;
		--border2: transparent;
	}

	@if $size == "sm" {
		--spacing-block: var(--spacing-xs);
	}

	@if $size == "md" {
		--spacing-block: var(--spacing-sm);
	}
}

/// Returns a string with the higher specificity than the
/// `.btnv6_white_transparent:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span`
/// selector that also uses !important, ty valve
///
/// @return {String} - String with the highest specificity.
@function button-web-selector($sel) {
	@return #{$sel}#{$sel}#{$sel}#{$sel}#{$sel}#{$sel}#{$sel};
}

@mixin button($variant: "secondary", $size: "md") {
	@include button-vars($variant, $size);

	transition: var(--transition);
	background: var(--bg);
	color: var(--fg);
	font: var(--gpText-BodyLarge);
	border: 1px solid var(--border);
	border-radius: var(--border-radius);
	gap: var(--spacing-xs);
	padding: var(--spacing-block) var(--spacing-lg);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;

	&:hover {
		background: var(--bg2);
		color: var(--fg2);
		border-color: var(--border2);
	}
}

@mixin checkbox($checked-selector, $disabled-selector) {
	--icon-name: icon("checkbox");
	--icon-size: 24px;

	@include utils.icon("name");

	appearance: none;
	color: var(--fg-dim);

	&:hover {
		background: var(--fg-main);
	}

	&#{$checked-selector} {
		--icon-name: icon("checkbox-checked");
	}

	&#{$disabled-selector} {
		background: var(--bg-hover);
	}
}

@mixin dropdown {
	background-color: var(--bg-hl);
	color: var(--fg-main);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	// TODO: not actually 43px height
	padding: var(--spacing-xs) var(--spacing-md);
	gap: var(--spacing-xs);

	display: flex;
	align-items: center;
	position: relative;

	&:hover {
		background-color: var(--bg-hover);
	}

	&::after {
		content: "";

		@include utils.icon("arrow");

		right: var(--spacing-md);
	}
}

/// @param {String} $w - Button width.
/// @param {String} $h [$w] - Button height.
/// @param {String} $child - Child element for the icon.
/// @param {String} $name - Icon name found in `assets/icons`.
/// @param {Boolean} $remove [true] - Remove every child from `$child`?
@mixin icon-button($w, $h: $w, $child, $name, $remove: true) {
	background-color: var(--bg-hl);
	border-radius: var(--border-radius);

	min-width: #{$w};
	min-height: #{$h};

	&:hover {
		background-color: var(--bg-hover);
	}

	#{$child} {
		@include utils.icon(#{$name}, #{$remove});
	}
}

@mixin progress-bar($inner) {
	background-color: var(--bg-hl);
	border-radius: 10px;
	padding: 2px;

	#{$inner} {
		background: none var(--color-primary);
		border-radius: 10px;

		height: 6px;
	}
}

@mixin radio($active) {
	transition: var(--transition);
	background-color: var(--bg-main-50);
	font: var(--gpText-HeadingSmall);
	padding: var(--spacing-md);

	&:hover {
		background-color: var(--bg-hover);
	}

	&:first-child {
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	}

	&:last-child {
		border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	}

	#{$active} {
		background-color: var(--color-primary);
		color: var(--bg-main);
	}
}

@mixin radio-container {
	display: flex;
	flex-direction: column;
}

@mixin radio-container-horizontal {
	flex-direction: row;

	& > * {
		text-align: center;

		flex: 1;
	}

	& > :first-child {
		border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
	}

	& > :last-child {
		border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
	}
}

@mixin radio-description {
	opacity: 0.5;
	font: var(--gpText-BodyMedium);
	margin-block-start: var(--spacing-xs);
}

@mixin tabs-container {
	background-color: var(--bg-main);
	border-radius: var(--border-radius-large);
	gap: 5px;
	padding: 8px;

	display: flex;
}

@mixin tab($active-selector) {
	color: var(--fg-dim);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	padding: 7px 20px;

	&:hover {
		background-color: var(--bg-hover);
	}

	&#{$active-selector} {
		background-color: var(--bg-hl);
		color: var(--fg-main);
	}
}

@mixin toggle($checked-selector, $disabled-selector) {
	--bg: var(--bg-hl);
	--spacing-md: var(--spacing-xs);
	--swatch-bg: var(--bg-hover);
	--swatch-size: 20px;
	--swatch-pos: calc(100% - var(--swatch-size) - var(--spacing-md));

	appearance: none;
	background-color: var(--bg);
	border-radius: var(--swatch-size);

	position: relative;
	width: 63px;
	height: calc(var(--swatch-size) + var(--spacing-md) * 2);

	&:not(#{$checked-selector}) {
		--swatch-pos-start: var(--spacing-md);
		--swatch-pos-end: var(--swatch-pos);
	}

	&#{$checked-selector} {
		--bg: var(--bg-tertiary);
		--swatch-bg: var(--color-primary);
		--swatch-pos-start: var(--swatch-pos);
		--swatch-pos-end: var(--spacing-md);
	}

	&#{$disabled-selector} {
		--swatch-pos-start: var(--spacing-md);
		--swatch-pos-end: var(--swatch-pos);

		opacity: 0.5;
	}

	&::before {
		content: "";

		position: absolute;
		inset-block: var(--spacing-md);
		inset-inline: var(--swatch-pos-start) var(--swatch-pos-end);
		width: var(--swatch-size);
		height: var(--swatch-size);

		background-color: var(--swatch-bg);
		border-radius: var(--swatch-size);

		transition: var(--transition);
	}
}

@mixin search-input {
	background-color: color-mix(in srgb, var(--bg-tertiary) 20%, transparent);
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	border: none;
	border-radius: var(--border-radius);
	padding: var(--spacing-sm) var(--spacing-md);
	padding-right: calc(var(--spacing-md) * 2 + var(--icon-size));
}

@mixin text-input {
	background-color: transparent;
	border: 1px solid var(--bg-hover);
	border-radius: var(--border-radius);
	padding: 12px 15px;
}
