@use "shared/style";

@mixin button-colors($variant) {
	@if $variant == "primary" {
		--bg: var(--color-secondary);
		--bg2: var(--color-primary);
		--fg: var(--fg-main);
		--fg2: var(--bg-main);
	}

	@if $variant == "secondary" {
		--bg: var(--bg-hl);
		--bg2: var(--bg-hover);
		--fg: var(--fg-main);
		--fg2: var(--fg-main);
	}

	@if $variant == "red" or $variant == "green" or $variant == "yellow" {
		--bg: var(--accent-#{$variant});
		--bg2: color-mix(in srgb, var(--accent-#{$variant}) 50%, var(--bg-hover));
		--fg: var(--bg-main);
		--fg2: var(--bg-main);
	}

	@if $variant == "tertiary" {
		--bg: transparent;
		--bg2: transparent;
		--fg: var(--fg-dim);
		--fg2: var(--fg-dim);

		border: 1px solid color-mix(in srgb, currentColor 20%, transparent);
		--padding: var(--spacing-xs) var(--spacing-lg);

		&:hover {
			border-color: color-mix(in srgb, currentColor 40%, transparent);
		}
	}
}

/* TODO: a market button has the same padding, mixin ? */
@mixin button($variant: "secondary") {
	@include button-colors($variant);

	background: var(--bg);
	color: var(--fg);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	// --spacing-sm
	padding: var(--padding, 11px);

	min-width: 166px;
	min-height: 44px;

	&:hover {
		background: var(--bg2);
		color: var(--fg2);
	}
}

@mixin checkbox($checked-selector, $disabled-selector) {
	--icon-name: icon("checkbox");
	--icon-size: 24px;

	@include style.icon("name");

	appearance: none;
	color: var(--fg-dim);

	&:hover {
		background: var(--fg-main);
	}

	&#{$checked-selector} {
		--icon-name: icon("checkbox-checked");
	}

	&#{$disabled-selector} {
		background: var(--bg-hover);
	}
}

@mixin dropdown {
	background-color: var(--bg-hl);
	color: var(--fg-main);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	// TODO: not actually 43px height
	padding: var(--spacing-xs) var(--spacing-md);
	gap: var(--spacing-xs);

	display: flex;
	align-items: center;
	position: relative;

	&:hover {
		background-color: var(--bg-hover);
	}

	&::after {
		content: "";

		@include style.icon("arrow");

		right: var(--spacing-md);
	}
}

@mixin progress-bar($inner) {
	background-color: var(--bg-hl);
	border-radius: 10px;
	padding: 2px;

	#{$inner} {
		background: none var(--color-primary);
		border-radius: 10px;

		height: 6px;
	}
}

@mixin radio-alt($active) {
	transition: var(--transition);
	background-color: var(--bg-main-50);
	font: var(--gpText-HeadingSmall);
	padding: var(--spacing-md);

	&:hover {
		background-color: var(--bg-hover);
	}

	&:first-child {
		border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	}

	&:last-child {
		border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
	}

	#{$active} {
		background-color: var(--color-primary);
		color: var(--bg-main);
	}
}

@mixin radio-alt-container {
	display: flex;
	flex-direction: column;
}

@mixin radio-container-horizontal {
	flex-direction: row;

	& > * {
		text-align: center;

		flex: 1;
	}

	& > :first-child {
		border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
	}

	& > :last-child {
		border-radius: 0 var(--border-radius-large) var(--border-radius-large) 0;
	}
}

@mixin radio-description {
	opacity: 0.5;
	font: var(--gpText-BodyMedium);
	margin-block-start: var(--spacing-xs);
}

@mixin tabs-container {
	background-color: var(--bg-main);
	border-radius: var(--border-radius-large);
	gap: 5px;
	padding: 8px;

	display: flex;
}

@mixin tab($active-selector) {
	color: var(--fg-dim);
	font: var(--gpText-BodyLarge);
	border-radius: var(--border-radius);
	padding: 7px 20px;

	&:hover {
		background-color: var(--bg-hover);
	}

	&#{$active-selector} {
		background-color: var(--bg-hl);
		color: var(--fg-main);
	}
}

@mixin toggle($checked-selector, $disabled-selector) {
	--bg: var(--bg-hl);
	--spacing-md: var(--spacing-xs);
	--swatch-bg: var(--bg-hover);
	--swatch-size: 20px;
	--swatch-pos: calc(100% - var(--swatch-size) - var(--spacing-md));

	appearance: none;
	background-color: var(--bg);
	border-radius: var(--swatch-size);

	position: relative;
	width: 63px;
	height: calc(var(--swatch-size) + var(--spacing-md) * 2);

	&:not(#{$checked-selector}) {
		--swatch-pos-start: var(--spacing-md);
		--swatch-pos-end: var(--swatch-pos);
	}

	&#{$checked-selector} {
		--bg: var(--bg-tertiary);
		--swatch-bg: var(--color-primary);
		--swatch-pos-start: var(--swatch-pos);
		--swatch-pos-end: var(--spacing-md);
	}

	&#{$disabled-selector} {
		--swatch-pos-start: var(--spacing-md);
		--swatch-pos-end: var(--swatch-pos);

		opacity: 0.5;
	}

	&::before {
		content: "";

		position: absolute;
		inset-block: var(--spacing-md);
		inset-inline: var(--swatch-pos-start) var(--swatch-pos-end);
		width: var(--swatch-size);
		height: var(--swatch-size);

		background-color: var(--swatch-bg);
		border-radius: var(--swatch-size);

		transition: var(--transition);
	}
}

@mixin search-input {
	background-color: color-mix(in srgb, var(--bg-tertiary) 20%, transparent);
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	border: none;
	border-radius: var(--border-radius);
	padding: var(--spacing-sm) var(--spacing-md);
	padding-right: calc(var(--spacing-md) * 2 + var(--icon-size));
}

// TODO: really similiar to a button
@mixin store-tag {
	background-color: var(--bg-hover);
	color: var(--fg-dim);
	font: var(--gpText-BodySmall);
	border-radius: var(--border-radius);
	padding: 6.5px 13px;
}

@mixin text-input {
	background-color: transparent;
	border: 1px solid var(--bg-hover);
	border-radius: var(--border-radius);
	padding: 12px 15px;
}

@mixin tooltip-icon {
	@include style.icon("info");

	color: var(--fg-dim);

	&:hover {
		background-color: var(--fg-main);
	}
}
