@use "shared/utils";

@mixin button-vars($variant: "secondary", $size: "md") {
	background: var(--button--#{$variant}-bg);
	color: var(--button--#{$variant}-fg);
	border: var(--button--border-size) solid var(--button--#{$variant}-border);
	padding-block: var(--button--spacing-block-#{$size});

	&:hover {
		background: var(--button--#{$variant}-bg-hover);
		color: var(--button--#{$variant}-fg-hover);
		border-color: var(--button--#{$variant}-border-hover);
	}
}

/// Returns a string with the higher specificity than the
/// `.btnv6_white_transparent:not(.btn_disabled):not(:disabled):not(.btn_active):not(.active):hover > span`
/// selector that also uses !important, ty valve
///
/// @return {String} - String with the highest specificity.
@function button-web-selector($sel) {
	@return #{$sel}#{$sel}#{$sel}#{$sel}#{$sel}#{$sel}#{$sel};
}

@mixin button($variant: "secondary", $size: "md") {
	@include button-vars($variant, $size);

	transition: var(--transition);
	font: var(--text--body-large);
	border-radius: var(--rounding-md);
	gap: var(--spacing-xxs);
	padding-inline: var(--button--spacing-inline);

	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
}

@mixin checkbox($checked-selector, $disabled-selector) {
	--icon-name: icon("checkbox");

	@include utils.icon($name: "name", $size: "lg");

	appearance: none;
	color: var(--color-fg-dim);

	&:hover {
		background: var(--color-fg-main);
	}

	&#{$checked-selector} {
		--icon-name: icon("checkbox-checked");
	}

	&#{$disabled-selector} {
		background: var(--color-bg-hover);
	}
}

@mixin dropdown($variant: "secondary", $size: "md") {
	@include button($variant, $size);

	position: relative;

	&::after {
		content: "";

		@include utils.icon("arrow");

		right: var(--spacing-lg);
	}
}

/// @param {String} $w - Button width.
/// @param {String} $h [$w] - Button height.
/// @param {String} $child - Child element for the icon.
/// @param {String} $name [name] - Icon name found in `assets/icons`.
/// @param {Boolean} $remove [true] - Remove every child from `$child`?
/// @param {"sm" | "md" | "lg"} $size ["md"] - Icon size.
@mixin icon-button(
	$w,
	$h: $w,
	$child,
	$name: "name",
	$remove: true,
	$size: "md"
) {
	background-color: var(--color-bg-hl);
	border-radius: var(--rounding-md);
	padding: 0;

	width: #{$w};
	height: #{$h};

	&:hover {
		background-color: var(--color-bg-hover);
	}

	#{$child} {
		@include utils.icon(#{$name}, #{$remove});
	}
}

@mixin progress-bar($inner) {
	background-color: var(--color-bg-hl);
	border-radius: 10px;
	padding: 2px;

	#{$inner} {
		background: none var(--color-primary);
		border-radius: 10px;

		height: 6px;
	}
}

@mixin radio($active) {
	transition: var(--transition);
	background-color: var(--color-bg-main-50);
	font: var(--text--heading-small);
	padding: var(--spacing-md);

	&:hover {
		background-color: var(--color-bg-hover);
	}

	&:first-child {
		border-radius: var(--rounding-lg) var(--rounding-lg) 0 0;
	}

	&:last-child {
		border-radius: 0 0 var(--rounding-lg) var(--rounding-lg);
	}

	#{$active} {
		background-color: var(--color-primary);
		color: var(--color-bg-main);
	}
}

@mixin radio-container {
	display: flex;
	flex-direction: column;
}

@mixin radio-container-horizontal {
	flex-direction: row;

	& > * {
		text-align: center;

		flex: 1;
	}

	& > :first-child {
		border-radius: var(--rounding-lg) 0 0 var(--rounding-lg);
	}

	& > :last-child {
		border-radius: 0 var(--rounding-lg) var(--rounding-lg) 0;
	}
}

@mixin radio-description {
	opacity: var(--dim-opacity);
	font: var(--text--body-medium);
	margin-block-start: var(--spacing-xxs);
}

@mixin tabs-container {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	gap: 5px;
	padding: 8px;

	display: flex;
}

@mixin tab($active-selector) {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
	border-radius: var(--rounding-md);
	padding: var(--spacing-xs) 20px;

	&:hover {
		background-color: var(--color-bg-hover);
	}

	&#{$active-selector} {
		background-color: var(--color-bg-hl);
		color: var(--color-fg-main);
	}
}

/// @param {"normal" | "search" | "transparent"} $variant
@mixin text-field($variant: "normal") {
	--placeholder-color: var(--text-field--#{$variant}-fg-placeholder);
	@if $variant == "search" {
		--icon-spacing: calc(
			var(--text-field--spacing-inline) + var(--icon--size-md)
		);
	}

	background-color: var(--text-field--#{$variant}-bg);
	color: var(--color-fg-main);
	font: var(--text--body-large);
	border: var(--border-sm) solid var(--text-field--#{$variant}-border);
	border-radius: var(--rounding-md);
	padding-block: var(--spacing-sm);
	padding-inline-start: var(--text-field--spacing-inline);
	padding-inline-end: calc(
		var(--text-field--spacing-inline) + var(--icon-spacing, 0px)
	);
}

@mixin toggle($checked-selector, $disabled-selector) {
	--swatch-bg: var(--toggle--swatch-bg);
	--swatch-pos: var(--toggle--switch-spacing) var(--toggle--swatch-pos);
	--switch-bg: var(--toggle--switch-bg);

	appearance: none;
	background-color: var(--switch-bg);
	border-radius: var(--toggle--swatch-size);

	position: relative;
	width: var(--toggle--switch-size);
	height: calc(var(--toggle--swatch-size) + var(--toggle--switch-spacing) * 2);

	&#{$checked-selector} {
		--swatch-bg: var(--toggle--swatch-bg-checked);
		--swatch-pos: var(--toggle--swatch-pos) var(--toggle--switch-spacing);
		--switch-bg: var(--toggle--switch-bg-checked);
	}

	&#{$disabled-selector} {
		opacity: var(--dim-opacity);
	}

	&::before {
		content: "";

		position: absolute;
		inset-block: var(--toggle--switch-spacing);
		inset-inline: var(--swatch-pos);
		width: var(--toggle--swatch-size);
		height: var(--toggle--swatch-size);

		transition: var(--transition);
		background-color: var(--swatch-bg);
		border-radius: var(--toggle--swatch-size);
	}
}
