@use "shared/utils";

@mixin info {
	--icon-size: 1lh;
	--offset: calc(var(--icon-size) + var(--spacing-md));

	color: var(--color-fg-main);
	font: var(--text--body-medium);
	margin-block-end: var(--spacing-sm);
	margin-inline-start: var(--offset);

	position: relative;

	&::before {
		content: "";

		@include utils.icon("info");

		position: absolute;

		color: var(--color-fg-dim);
		margin-inline-start: calc(var(--offset) * -1);
	}
}

@mixin header {
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
	letter-spacing: 0;
	text-transform: none;

	min-height: 50px;
}

@mixin section {
	background-color: var(--color-bg-main);
	border-radius: var(--radius-lg);
	padding: var(--spacing-lg);
	margin-bottom: var(--spacing-lg);
}
