@mixin icon($name: "name", $remove: false) {
	background-color: currentColor;
	mask: var(--icon-#{$name});
	mask-position: center;
	mask-size: var(--icon-size);

	width: var(--icon-size);
	height: var(--icon-size);

	@if $remove {
		* {
			display: none;
		}
	}
}

/// Made to look like a radio, since that's where it was first used.
///
/// @param {String} $color ['yellow'] - Text color from --accent vars.
@mixin alert($color: "yellow") {
	background: color-mix(in srgb, currentColor 20%, transparent);
	color: var(--accent-#{$color});
	font: var(--gpText-HeadingSmall);
	border-radius: var(--border-radius-large);
	padding: var(--spacing-md);
}
