/// Made to look like a radio, since that's where it was first used.
///
/// @param {String} $color ['yellow'] - Text color from --color-accent vars.
@mixin alert($color: "yellow") {
	background: color-mix(in srgb, currentColor 20%, transparent);
	color: var(--color-accent-#{$color});
	font: var(--text--heading-small);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);
}

@mixin header {
	--button--secondary-bg: var(--header--button-bg);
	--text-field--search-bg: var(--header--text-field-bg);

	background-color: var(--header--bg);
	padding: var(--header--spacing-block) var(--header--spacing-inline);
}

@mixin link {
	color: var(--color-fg-main);

	&:hover {
		color: var(--color-primary);
	}
}

// TODO: maybe use "container-type: inline-size" then "@container (min-width: 500px)"
// to apply padding
@mixin notification-dot {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	min-width: var(--icon--size-sm);
	height: var(--icon--size-sm);
	inset-block-start: -2px;
	inset-inline-end: -3px;

	background-color: var(--color-primary);
	color: var(--color-bg-main);
	font: var(--text--body-small);
	border-radius: 1337px;
}

// cheap imitation, whatever
@mixin workshop-bg {
	--color: color-mix(in srgb, var(--color-secondary) 25%, transparent);
	--line-size: 2px;
	--spacing: 26px;

	content: "";

	pointer-events: none;

	background-image:
		repeating-linear-gradient(
			0deg,
			transparent 0 var(--spacing),
			var(--color) var(--spacing),
			var(--color) calc(var(--spacing) + var(--line-size))
		),
		repeating-linear-gradient(
			90deg,
			transparent 0 var(--spacing),
			var(--color) var(--spacing),
			var(--color) calc(var(--spacing) + var(--line-size))
		),
		radial-gradient(farthest-corner at 50% 0%, var(--color), transparent);
	mask: radial-gradient(farthest-corner at 50% 0%, black, transparent);
	image-rendering: pixelated;
}
