@mixin icon($name: "name", $remove: false, $size: "md") {
	background-color: currentColor;
	mask: var(--icon-#{$name});
	mask-position: center;
	mask-size: var(--icon--size-#{$size});

	width: var(--icon--size-#{$size});
	height: var(--icon--size-#{$size});

	@if $remove {
		* {
			display: none;
		}
	}
}

@mixin tooltip-icon {
	@include icon("info");

	color: var(--color-fg-dim);

	&:hover {
		background-color: var(--color-fg-main);
	}
}
