/// @param {Boolean} $img-el [false] - `true` if used on an `<img>` element.
/// @param {String} $name ["name"] - Icon name found in `assets/icons`.
/// @param {Boolean} $remove [false] - Remove all of element's children?
/// @param {"sm" | "md" | "lg"} $size ["md"] - Icon size.
@mixin icon($img-el: false, $name: "name", $remove: false, $size: "md") {
	background-color: currentColor;
	mask: var(--icon-#{$name});
	mask-position: center;
	mask-size: var(--icon--size-#{$size});

	width: var(--icon--size-#{$size});
	height: var(--icon--size-#{$size});

	@if $img-el {
		content: url("data:,");
	}

	@if $remove {
		* {
			display: none;
		}
	}
}

@mixin tooltip-icon {
	@include icon($name: "info");

	color: var(--color--fg-dim);

	&:hover {
		background-color: var(--color--fg-main);
	}
}
