#AddMarkerIcon {
	color: var(--color-fg-main);

	width: var(--icon-size);
	height: var(--icon-size);
}

#PlaybackButton {
	color: var(--color-fg-dim);

	width: var(--icon-size);
	height: var(--icon-size);

	&#Enabled {
		color: var(--color-fg-main);
	}

	&#PlayButton {
		--icon-size: 32px;
	}
}

#TimeBar {
	color: var(--color-fg-main);
	// TODO(vars): monospace typography
	font: var(--text--body-small);
	font-family: "Roboto-Mono", "Motiva Sans", sans-serif;

	#TimeDash,
	#TimeTotal {
		color: var(--color-fg-dim);
	}
}
