@use "shared/controls";

#DialogCarrot {
	background-color: inherit;
	box-shadow: inherit;
}

#DialogInner {
	background-color: inherit;
	border-radius: inherit;
	padding: var(--spacing-lg);

	z-index: 1;

	#ButtonRow {
		gap: var(--spacing-sm);
		margin: 0;

		#ActionButton {
			@include controls.button-vars($variant: "primary", $size: "sm");
		}

		#CancelButton {
			background-color: var(--color-bg-hl);
		}
	}

	#ExplainerText {
		color: var(--color-fg-main);
		font: var(--text--body-medium);
		margin-block: var(--dialog--spacing-content);
	}

	#Title {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
		margin: 0;
	}
}

#MultiSelectActionDialogContainer {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-md);
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
}
