@use "shared/controls";
@use "shared/style";
@use "shared/utils";

:where(#ButtonBox) {
	@include controls.button($size: "sm");

	box-shadow: none;

	height: unset;

	&:where(#Active) {
		background-color: var(--color-primary);
		color: var(--color-bg-main);
	}

	&:where(#Combobox) {
		@include controls.dropdown($size: "sm");

		svg {
			display: none;
		}
	}

	// TODO(controls): disabled button state
	&:where(#Disabled) {
	}

	&:where(#IconButton) {
		// TODO(vars): BodyLarge font-size * line-height
		--size: calc(
			16px * 1.4 + var(--button--border-size) * 2 +
				var(--button--spacing-block-sm) * 2
		);

		padding: 0;

		width: var(--size);
		height: var(--size);
	}

	svg {
		fill: currentColor;
	}

	#Text {
		color: inherit;
	}
}

#FocusedScreenshotError {
	background-color: #000;
	color: var(--color-fg-main);

	#Caution {
		--size: 80px;

		fill: currentColor;

		width: var(--size);
		height: var(--size);
	}

	#Message {
		color: inherit;
		font: var(--text--body-large);
	}
}

#FocusedScreenshotImageContainer {
	margin: 0;
}

#ScreenshotForm {
	gap: var(--spacing-sm);
	padding: var(--dialog--spacing-container);

	#Link {
		@include style.link;

		text-decoration: none;
	}

	#Metadata {
		color: var(--color-fg-dim);
		font: inherit;
	}
}

#ScreenshotFormActions {
	gap: var(--spacing-sm);
}

#ScreenshotList {
	padding: var(--dialog--spacing-container);
}

#ScreenshotListInner {
	margin: 0;
}

#TopList {
	padding: 0;

	#DesktopBottomGlass {
		display: none;
	}

	#StickyHeader {
		backdrop-filter: var(--blur);
		background: var(--color-bg-main-50);
		border: none;
		box-shadow: none;
		gap: var(--spacing-sm);
		padding: var(--dialog--spacing-container);

		width: 100%;

		#ButtonBox:not(:hover, #Active) {
			--color-bg-hl: var(--color-bg-main-50);
		}
	}
}

#TopListButtonRow {
	margin: 0;
}

#TopListTitle {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
	text-transform: none;
	padding: 0;

	height: unset;
}

#UGCCount {
	font: inherit;
	gap: var(--spacing-xxs);

	align-items: center;

	&:nth-child(1) {
		--icon-name: icon("thumb-up");
	}

	&:nth-child(2) {
		--icon-name: icon("chat-bubble");
	}

	&:nth-child(3) {
		--icon-name: icon("star");
	}
}

#UGCCountIcon {
	@include utils.icon("name", true);

	opacity: var(--dim-opacity);
	color: inherit;
}

#UGCCounts {
	gap: var(--spacing-md);
}

#UGCMetadata {
	color: var(--color-primary);
}

#UploadedIcon {
	color: var(--color-fg-main);
	margin-inline-end: var(--spacing-xxs);

	width: var(--icon--size-md);
	height: var(--icon--size-md);
}
