@use "shared/controls";
@use "shared/utils";

%-phase-grid-item {
	background-color: var(--color-bg-hl);
	color: var(--color-fg-dim);
	font: inherit;
	padding: var(--spacing-sm);

	#Date {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
	}
}

#BlankPhaseGridItem {
	@extend %-phase-grid-item;

	// ??? why does this have to be different ?
	background-image: none;
}

#DateHeader {
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
	margin-block-start: var(--spacing-lg);

	&:first-child {
		margin-block-start: 0;
	}
}

#GameHeader {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	gap: var(--spacing-xs);
	margin-block-start: var(--spacing-md);

	#Icon {
		border-radius: var(--rounding-md);
	}
}

#InputFilter {
	all: unset;

	--color-bg-tertiary: var(--color-bg-main);
	--spacing-sm: var(--spacing-xs);

	position: relative;

	input {
		@include controls.text-field($variant: "search");

		transition: var(--transition);

		&:focus {
			background-color: color-mix(
				in srgb,
				var(--color-bg-tertiary) 50%,
				transparent
			);
		}
	}

	svg {
		@include utils.icon("search", true);

		color: var(--color-fg-dim);

		position: absolute;
		inset-inline-end: var(--spacing-md);
		// TODO: wtf
		inset-block-start: calc(var(--spacing-sm) + 3px);
	}
}

#PhaseGridItem {
	@extend %-phase-grid-item;
}

#PhaseList {
	gap: var(--spacing-xs);
	padding: var(--dialog--spacing-container);
	margin-block-start: calc(
		var(--stickyHeaderHeight) + var(--dialog--spacing-container)
	);
}

#PhaseMediaList {
	gap: var(--spacing-sm);

	#DurationBar {
		background-color: var(--color);

		height: 4px;
	}

	#DurationText {
		color: var(--color);
		// TODO(vars): monospace typography
		font: var(--text--body-small);
		font-family: "Roboto-Mono", "Motiva Sans", sans-serif;
		font-weight: bold;
	}

	#DurationMetric {
		gap: var(--spacing-xs);

		&:has(> [style*="color: rgb(26, 159, 255)"]) {
			--color: var(--color-primary);
		}

		&:has(> [style*="color: rgb(228, 190, 82)"]) {
			--color: var(--color-accent-yellow);
		}
	}

	#OverflowItem {
		background-color: var(--color-bg-main);
		color: var(--color-fg-main);
		font: var(--text--body-medium);
	}
}
