#PhaseAttribute {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
}

#PhaseListIcon {
	width: var(--icon-size);
	height: var(--icon-size);

	svg {
		width: inherit;
		height: inherit;
	}
}
