.showcase_bodylabel {
	font: var(--text--heading-small);
	color: var(--color-fg-main);
	display: none;
}

.showcase_gamecollector_game {
	margin: 0;
}

.showcase_gamecollector_games {
	gap: var(--spacing-sm);

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
