@use "shared/utils";

.screenshot_showcase_primary {
	margin-inline-end: var(--spacing-sm);

	width: unset;
	max-width: unset;
}

.screenshot_showcase_screenshot {
	transition: var(--transition);
	background-color: var(--color-bg-main-20);
	border: none;
	border-radius: var(--rounding-lg);
	margin-block-end: var(--spacing-xs);

	&:hover {
		background-color: var(--color-bg-main-50);
	}
}

.screenshot_showcase_smallscreenshot {
	margin: 0;

	&.screenshot_count {
		background-color: transparent;
	}
}

.screenshot_showcase_stat {
	color: var(--color-primary);
	font: var(--text--body-small);
	gap: var(--spacing-xxs);
	margin-inline-end: var(--spacing-lg);

	display: inline-flex;
	align-items: center;

	&::before {
		content: "";

		@include utils.icon($size: "sm");

		display: block;

		color: var(--color-fg-dim);
	}
}

.screenshot_showcase_staticon {
	display: none;

	.screenshot_showcase_stat:has(> &[src$="icon_rate.png"]) {
		--icon-name: icon("thumb-up");
	}

	.screenshot_showcase_stat:has(> &[src$="icon_btn_comment.png"]) {
		--icon-name: icon("chat-bubble");
	}

	.screenshot_showcase_stat:has(> &.favorite) {
		--icon-name: icon("favorite");
	}
}

.screenshot_showcase_stats {
	font: var(--text--body-small);
	margin-block-start: var(--spacing-xs);
}
