.game_capsule {
	border-radius: var(--rounding-md);
}

.item_count_stat,
.showcase_stat {
	margin-left: var(--spacing-lg);

	.value {
		font: var(--text--heading-large);
		padding: 0;
	}

	.label {
		font: var(--text--body-large);
		color: var(--color-fg-dim);
		padding: 0;
	}
}

.showcase_content_bg {
	background-color: var(--color-bg-main-50);
	border-radius: 0;
	padding: var(--spacing-md);
}

.showcase_item_detail_title {
	font: var(--text--heading-large);
	padding-top: 0;

	max-height: 69px;
}
