.workshop_showcase_details_content {
	background-color: transparent;
}

.workshop_showcase_details_row {
	background: none;
	padding: 0;
}

.workshop_showcase_item_image {
	margin-right: var(--spacing-md);
}
