@use "shared/utils";

#AchievementDescription {
	color: var(--color--fg-main);
	font: var(--text--body-medium);
}

#AchievementGlobalPercentage,
#UnlockDate {
	color: var(--color--fg-dim);
	font: var(--text--body-small);
}

#AchievementList {
	--button--secondary-bg: var(--color--bg-main);

	background: transparent;
	gap: var(--spacing-sm);
	padding: var(--dialog--spacing-container);
}

#AchievementListItemBase {
	// Virtual list
	--achievementiconbase_size: 48px;

	background-color: var(--color--bg-main);
	border-radius: var(--rounding-md);
}

#AchievementTitle {
	color: var(--color--primary);
	font: var(--text--heading-small);
}

#ComparisonAchieverInfo {
	gap: var(--spacing-xs);

	#ProgressLabel {
		color: var(--color--fg-dim);
		font: var(--text--body-small);
	}
}

#GlobalAchievementListItem {
	@extend #AchievementListItemBase;

	#Description {
		@extend #AchievementDescription;
	}

	#Percent {
		color: var(--color--fg-main);
		font: var(--text--body-large);
	}

	#ProgressFill {
		background-color: color-mix(
			in srgb,
			var(--color--primary) 20%,
			transparent
		);
	}

	#Title {
		@extend #AchievementTitle;
	}
}

#HeaderText {
	color: var(--color--fg-main);
	font: var(--text--body-medium);
	letter-spacing: 0;
	text-transform: none;
}

#ListTitle {
	opacity: 1;
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	letter-spacing: 0;
	text-transform: none;

	height: unset;
}

#UnlockContainer {
	color: var(--color--primary);
	padding: 0;

	width: calc(var(--icon--size-md) + var(--spacing-xxs) * 2);

	svg {
		@include utils.icon($name: "check", $remove: true);
	}
}
