#Content {
	gap: var(--spacing-md);
}

#StatsBlock {
	background: color-mix(in srgb, currentColor 10%, transparent);
	color: var(--color--primary);
	font: var(--text--body-medium);
	border-radius: var(--rounding-md);
	padding: var(--spacing-md);

	#Label {
		all: unset;
	}

	#Progress {
		// Better visibility
		--color--bg-hl: var(--color--bg-main);

		margin-block-start: var(--spacing-xs);
	}
}

#Title {
	color: var(--color--fg-main);
	font: var(--text--heading-large);

	display: flex;
	align-items: center;

	#GameIcon {
		margin-inline-end: var(--spacing-sm);

		width: var(--icon--size-lg);
		height: var(--icon--size-lg);
	}
}
