@use "shared/carousel";
@use "shared/style";
@use "shared/utils";
@use "web/store";

#EventRowCarousel {
	margin: 0;
}

#EventTime {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	padding-block-end: 8px;
}

#GameIconAndName {
	@include style.link;

	background-color: transparent;
	font: var(--text--body-medium);
	margin-block-start: var(--spacing-xxs);

	align-items: center;

	#GameIcon {
		border-radius: var(--rounding-md);
		margin-inline-end: var(--spacing-xxs);

		width: var(--icon--size-lg);
		height: var(--icon--size-lg);
	}

	#GameName {
		color: inherit;
	}
}

#PartnerEventRowCapsule {
	@include store.capsule;

	&:not(:last-child) {
		margin-inline-end: var(--spacing-md);
	}
}

#PartnerEventRowCapsule_MainImageContainer {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-md);
}

#PartnerEventRowCapsule_TextCtn {
	padding: 0;
	padding-block-start: 8px;

	cursor: pointer;
}

#PartnerEventRowCapsule_TextTitle {
	--height: 2lh;

	color: var(--color-fg-main);
	font: var(--text--body-large);

	max-height: var(--height);
	min-height: var(--height);
}

#SettingsButton {
	@include carousel.button($child: "svg", $icon: "settings");

	margin: 0;

	position: absolute;
	inset-block-start: calc(-1lh - var(--carousel--section-spacing));
	inset-inline-end: 0;
}
