#RecentGame {
	&:not(:last-child) {
		margin-inline-end: var(--spacing-md);
	}

	#AddedDate {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}

	#EmptyDate {
		font: var(--text--body-small);

		height: 1lh;
	}
}

#RecentGameMediaContainer {
	margin-block-start: 8px;
}

#RecentGames {
	margin: 0;
}
