#FatButton {
	border: none;
	border-radius: 0;
	gap: 0;
	padding-inline: var(--gamepaddialog_field-spacing-inline);
	margin-block: calc(var(--spacing-xxs) * -1);
	margin-inline: calc(var(--gamepaddialog_field-spacing-inline) * -1);

	flex-direction: column;
	align-items: start;
	justify-content: start;
	position: relative;
	width: calc(100% + var(--gamepaddialog_field-spacing-inline) * 2);

	&:not(:hover) {
		background-color: transparent;
	}

	svg {
		color: inherit;
		margin: 12px 0;

		position: absolute;
		inset-inline-end: var(--gamepaddialog_field-spacing-inline);
		width: var(--icon--size-md);
		height: var(--icon--size-md);
	}

	#Label {
		color: var(--color--fg-main);
		font: var(--text--heading-small);
	}

	#Details {
		color: var(--color--fg-dim);
		font: var(--text--body-small);
	}
}

#Highlight {
	color: var(--color--primary);
	margin: 0;
}
