#AvatarAndLabel {
	gap: var(--spacing-sm);

	#Avatar {
		--steamavatar_size: var(--avatar--size-sm);

		margin: 0;
	}

	#LabelHolder {
		padding: 0;
	}
}

#EntryLabel {
	font: var(--gpText-HeadingSmall);
}

#EntryValue {
	color: var(--fg-dim);
	font: var(--gpText-BodySmall);

	display: block;
}
