#FatButton {
	--spacing-inline: var(--spacing-lg);

	text-align: start;
	border-radius: 0;
	padding-inline: var(--spacing-inline);
	margin: calc(var(--spacing-xs) * -1) calc(var(--spacing-inline) * -1);

	position: relative;
	width: calc(100% + var(--spacing-inline) * 2);

	&:not(:hover) {
		background-color: transparent;
	}

	svg {
		color: inherit;
		margin: 12px 0;

		position: absolute;
		inset-inline-end: var(--spacing-inline);
		width: var(--icon--size-md);
		height: var(--icon--size-md);
	}

	#Label {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
	}

	#Details {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}
}

#Highlight {
	color: var(--color-primary);
	margin: 0;
}
