#AvatarAndLabel {
	gap: var(--spacing-sm);

	#Avatar {
		--steamavatar_size: var(--avatar--size-sm);

		margin: 0;
	}

	#LabelHolder {
		padding: 0;
	}
}

#EntryLabel {
	font: var(--text--heading-small);
}

#EntryValue {
	color: var(--color-fg-dim);
	font: var(--text--body-small);

	display: block;
}
