@use "shared/controls";
@use "shared/settings";
@use "shared/utils";

$-bar-colors: (
	DLC: 0,
	Games: h,
	Media: 180,
	Other: 60,
	Shader: 300,
	Updates: lightred,
	Workshop: 120,
);

#AppActionBar {
	@include settings.section;

	background-color: var(--color-bg-main-50);
	border-radius: 0 0 var(--rounding-md) var(--rounding-md);
	margin: 0;

	#ActionButton {
		margin-inline-start: var(--spacing-sm);
	}

	#AppActionSelected {
		color: var(--color-fg-main);
		font: var(--text--body-small);
		letter-spacing: 0;
		text-transform: none;
	}
}

#AppBody {
	// Can't change the vertical padding as it's a virtualized list.
	padding-inline: var(--spacing-sm);

	&:hover {
		background-color: var(--color-bg-main);
		border-radius: var(--rounding-md);
	}

	#AppInfoItem {
		font: var(--text--body-medium);
		letter-spacing: 0;
		text-transform: none;

		svg {
			display: none;
		}
	}

	#AppName {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
	}

	#AppSize {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
		letter-spacing: 0;
	}

	#AppUsageText,
	#SpecialSectionText {
		color: var(--color-fg-main);
		margin: 0;
	}

	#AppUsageValue {
		color: var(--color-fg-dim);
	}

	#NoCheckboxSpacer {
		width: var(--icon--size-lg);
		height: var(--icon--size-lg);
	}
}

#AppBodyInfo {
	margin: 0;
}

#AppHeader {
	@include settings.header;

	padding: 0;

	#Rule {
		visibility: hidden;
	}
}

#AppHeaderValue {
	color: inherit;

	display: flex;

	&::before {
		content: "(";
	}

	&::after {
		content: ")";
	}
}

#AppsGrid {
	@include settings.section;

	background-color: var(--color-bg-main-50);
	border-radius: var(--rounding-md) var(--rounding-md) 0 0;
	padding-block-end: 0;
	margin-block: var(--spacing-lg) 0;

	&::after {
		content: "";

		width: 100%;

		border-block-end: var(--border-sm) solid var(--color-bg-hl);
	}
}

#ContentManagement {
	position: relative;
}

#DriveDropdownControl {
	--item--fg-dim: var(--color-fg-dim);
	--item--fg-main: var(--color-fg-main);
	--item--svg-display: flex;

	margin: 0;
	margin-inline-end: calc(var(--spacing-sm) + 47px);
}

#DriveName {
	color: var(--item--fg-main);
	font: inherit;
	letter-spacing: 0;
	text-transform: none;
}

#DriveSettingsButton {
	@include controls.icon-button(
		$w: 47px,
		$h: 44px,
		$child: "svg",
		$name: "arrow"
	);

	margin: 0;

	position: absolute;
	inset-block-start: 0;
	// TODO: wtf is this
	inset-inline-end: 12px;

	&:not(:hover) {
		background-color: var(--color-bg-main-50);
	}
}

@each $k, $v in $-bar-colors {
	#DriveUsage#{$k} {
		background-color: hsl(from var(--color-primary) #{$v} s l);
	}
}

#DriveUsageDot {
	font: var(--text--body-small);

	width: 1em;
	height: 1em;
}

#DriveUsageIndicator {
	background: var(--color-bg-main);

	min-height: 4px;
}

#InstallDropdownOption {
	color: var(--color-fg-main);
	font: inherit;

	&#IsSelectedDropdownOption {
		color: var(--color-primary);
	}

	& > svg {
		display: none;
	}

	svg {
		margin-inline-end: var(--spacing-sm);

		display: var(--svg-display, none);
		flex-shrink: 0;
		width: 1em;
		height: 1em;
	}

	#DriveName {
		text-decoration: none;
	}

	#DriveSize {
		color: var(--item--fg-dim);
		font: var(--text--body-small);
		letter-spacing: 0;
		text-transform: none;
	}
}

#LibraryContent {
	padding-block-start: var(--spacing-lg);
}

#LibraryHeader {
	padding: 0;
}
