#EntryLabel {
	font: var(--text--heading-small);
}

#EntryValue {
	color: var(--color-fg-dim);
	font: var(--text--body-small);

	display: block;
}

#SteamGuardIcon {
	color: var(--color-accent-red);

	width: var(--icon--size-md);
	height: var(--icon--size-md);

	&#EnabledTwoFactor {
		color: var(--color-accent-green);
	}
}
