#Body {
	opacity: 0.5;
	color: inherit;
	font: var(--gpText-BodyMedium);
	margin-block-start: var(--spacing-xs);
}

#Heading {
	font: inherit;
}

#Icon {
	display: none;
}

#WarningBox {
	background: radial-gradient(
		farthest-corner at 0% 0%,
		color-mix(in srgb, currentColor 20%, var(--bg-main)),
		var(--bg-main-50)
	);
	font: var(--gpText-HeadingSmall);
	border: none;
	border-radius: var(--border-radius-large);
	gap: var(--spacing-sm);
	padding: var(--spacing-md);
	margin-block: var(--spacing-sm) 0;

	&#Error {
		color: var(--accent-red);
	}

	&#Info {
		color: var(--color-primary);
	}

	&#Warning {
		color: var(--accent-yellow);
	}
}
