@use "shared/controls";
@use "shared/style";

#Body {
	@include controls.radio-description;

	color: inherit;
}

#Heading {
	font: inherit;
}

#Icon {
	display: none;
}

#WarningBox {
	@include style.alert;

	border: none;
	gap: var(--spacing-sm);
	margin-block: var(--spacing-sm) 0;

	&#Error {
		color: var(--color-accent-red);
	}

	&#Info {
		color: var(--color-primary);
	}

	&#Warning {
		color: var(--color-accent-yellow);
	}
}
