@use "shared/style";

#Body {
	opacity: 0.5;
	color: inherit;
	font: var(--gpText-BodyMedium);
}

#Heading {
	font: inherit;
}

#Icon {
	display: none;
}

#WarningBox {
	@include style.alert;

	border: none;
	gap: var(--spacing-sm);
	margin-block: var(--spacing-sm) 0;

	&#Error {
		color: var(--accent-red);
	}

	&#Info {
		color: var(--color-primary);
	}

	&#Warning {
		color: var(--accent-yellow);
	}
}
