@use "shared/settings";

#ActionSection {
	gap: var(--spacing-sm);
	margin-block-start: var(--spacing-lg);

	flex-direction: column;
}

#DescriptionText {
	@include settings.header;

	margin: 0;
}

// Separator
#TopMargin {
	display: none;
}
