@use "shared/controls";
@use "shared/settings";

#FriendsDescription {
	@include settings.info;
}

#NotificationFeedToggle {
	margin-inline-end: var(--spacing-sm);
}

#NotificationGroup {
	background-color: transparent;
	border: none;
	margin-block-end: var(--spacing-sm);
}

#NotificationPrefDetails {
	background-color: transparent;
	box-shadow: none;
	gap: var(--spacing-sm);
	padding: 0;
	margin-inline-start: calc(63px + var(--spacing-sm));

	flex-direction: column;
}

#NotificationSection {
	padding: 0;
}

#PrefDetailsToggle {
	--icon-size: 24px;

	@include controls.icon-button(
		$w: 47px,
		$h: 44px,
		$child: "svg",
		$name: "arrow"
	);

	&#Selected svg {
		transform: rotate(180deg);
	}
}
