@use "shared/settings";

#SettingsDialogBodyText {
	@include settings.header;
}

#SettingsDialogButton {
	margin: 0;
}

#SettingsDialogDescriptionText {
	@include settings.info;
}

#SettingsLink {
	font: inherit;
}
