@use "client";

:where(#SettingsDialogBodyFade) {
	mask: none;
	padding: 0;
}

#SettingsDialogBodyText {
	@include client.settings--header;
}

#SettingsDialogDescriptionText {
	@include client.settings--info;
}

#SettingsLink {
	font: inherit;
}
