@use "shared/settings";

#Advanced {
	margin-block-start: var(--spacing-lg);
}

#AdvancedDescription {
	@include settings.info;
}

#TopMargin {
	display: none;
}

#MicrophoneTestButton {
	flex: 1 0 auto;
}

#VolumeBar {
	background-color: var(--bg-main);
}
