body.profile_page {
	--btn-background: color-mix(in srgb, var(--color-bg-hl) 50%, transparent);
	--btn-background-hover: color-mix(
		in srgb,
		var(--color-bg-hover) 50%,
		transparent
	);
	--gradient-background: color-mix(
		in srgb,
		var(--color-bg-hover) 35%,
		transparent
	);
}

.customization_edit_instructions {
	padding: var(--spacing-sm);

	.profile_customization_header {
		--spacing: 0.25em;

		font: var(--text--heading-medium);
		color: var(--color-fg-main);
		padding: 0;
		margin-top: calc(var(--spacing) * -1);
		margin-bottom: var(--spacing);
	}
}

.customization_edit_instructions_text {
	font: var(--text--body-large);
	padding: 0;
}

.profile_content_inner {
	gap: var(--profile_sidebar-gutter);

	display: flex;
	flex-direction: row-reverse;
}

.profile_comment_area,
.profile_customization {
	background-color: var(--color-bg-main-20);
	font: var(--text--body-medium);
	border-radius: var(--rounding-md);
	padding: 0;
	margin-bottom: 23px;
}

.profile_comment_area {
	margin-top: 0;
}

.profile_customization_block {
	font: var(--text--body-medium);
	border-radius: 0;
	padding: var(--spacing-sm);
}

.profile_customization_editlink {
	font: var(--text--body-large);
	line-height: inherit;
	padding: var(--spacing-sm);

	display: block;
	right: 0;
}

.profile_customization_editlink_text {
	text-decoration: none;
}

.profile_customization_edit_icon {
	display: none;
}

/* This uses secondary text color in the mockup,
 * but primary is better for contrast. */
.commentthread_header,
.profile_customization_header {
	font: var(--text--body-large);
	color: var(--color-fg-main);
	padding: var(--spacing-sm);
	margin: 0;
}

.profile_leftcol {
	width: 100%;
}

div.profile_page {
	padding-bottom: 187px;
}
