@use "shared/controls";
@use "shared/utils";

.btn_profile_action {
	@include controls.button;
}

.favorite_badge {
	gap: var(--spacing-md);
	padding: var(--spacing-sm) var(--spacing-md);

	.name {
		font: var(--text--body-medium);
	}

	.xp {
		font: var(--text--body-small);
		color: var(--color-fg-dim);
	}
}

.profile_content {
	font: var(--text--body-medium);
	padding: 40px;
	padding-top: 0;

	width: var(--profile_width);
}

.profile_header {
	--avatar-gap: 33px;
	--avatar-size: 220px;

	padding: 40px;
	padding-bottom: 31px;
	margin: 0;

	max-width: unset;

	.header_real_name_spacer {
		height: 59px;
	}

	.namehistory_link {
		--icon-size: 24px;

		@include utils.icon("arrow");

		display: inline-block;
		vertical-align: middle;

		img {
			display: none;
		}
	}

	.persona_name {
		color: var(--color-fg-main);
		font: var(--text--heading-large);
	}

	.playerAvatar {
		--size: var(--avatar-size);
		--avatar--border-size: 4px;
		margin-right: var(--avatar-gap);
	}

	.playerAvatarAutoSizeInner {
		display: contents;
	}
}

.profile_header_actions {
	gap: 6px;

	display: flex;
	flex-wrap: wrap;
	justify-content: end;
}

.profile_header_badge {
	background-color: var(--color-bg-main-50);
	border-radius: var(--radius-lg);

	height: unset;
}

.profile_header_badge_instructions {
	padding: var(--spacing-sm) var(--spacing-md);
}

.profile_header_badgeinfo {
	display: flex;
	flex-direction: column;
}

.profile_header_actions,
.profile_header_badgeinfo_badge_area {
	width: var(--sidebar-width);
}

.profile_header_bg {
	padding-top: 51px;

	max-width: var(--profile_width);
}

.profile_header_bg_texture {
	max-width: var(--profile_width);
}

.profile_header_centered_persona {
	padding: 0;

	left: calc(var(--avatar-size) + var(--avatar-gap));
	right: calc(var(--sidebar-width) + var(--profile_sidebar-gutter));
}

.profile_header_content {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	padding: 0;
}

.profile_header_summary {
	padding-left: 0;
	padding-right: var(--profile_sidebar-gutter);
}

.profile_summary {
	font: var(--text--body-large);

	/* TODO(vars): 4 lines tall */
	height: 96px;
}
