@use "shared/controls";
@use "shared/utils";

%-badge-info {
	gap: var(--spacing-md);
	padding: var(--spacing-sm) var(--spacing-md);

	&:hover {
		background-color: var(--color-bg-main-20);
	}
}

#{controls.button-web-selector("#profile_action_dropdown_link")} {
	@include controls.dropdown;

	img {
		display: none;
	}
}

.profile_content {
	font: var(--text--body-medium);
	padding: 40px;
	padding-top: 0;

	width: var(--profile_width);
}

.profile_header {
	--avatar-gap: 33px;
	--avatar-size: 220px;

	padding: 40px;
	padding-bottom: 31px;
	margin: 0;

	max-width: unset;

	.header_real_name_spacer {
		height: 59px;
	}

	.namehistory_link {
		@include utils.icon($name: "arrow", $size: "lg");

		display: inline-block;
		vertical-align: middle;

		img {
			display: none;
		}
	}

	.playerAvatar {
		--size: var(--avatar-size);
		--avatar--border-size: 4px;
	}

	.playerAvatarAutoSizeInner {
		display: contents;
	}
}

.profile_header_actions {
	gap: 6px;

	display: flex;
	flex-wrap: wrap;
}

.profile_header_badge {
	background-color: transparent;
	border-radius: 0;
	padding: 0;
	margin: 0;

	height: unset;
}

.profile_header_badge_instructions {
	color: var(--color-fg-dim);
	padding: var(--spacing-sm) var(--spacing-md);
}

.profile_header_badgeinfo {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.profile_header_badgeinfo_badge_area {
	// Originally 55px, but levels are 32px
	--badge-size: 32px;

	background-color: var(--color-bg-main-20);
	border-radius: var(--rounding-lg);

	// For rounding
	overflow: hidden;

	.favorite_badge {
		@extend %-badge-info;

		img {
			width: var(--badge-size);
			height: var(--badge-size);
		}

		.name {
			font: var(--text--body-medium);
		}

		.xp {
			font: var(--text--body-small);
			color: var(--color-fg-dim);
		}
	}

	.persona_level {
		@extend %-badge-info;

		color: var(--color-fg-main);
		font: var(--text--body-large);
		margin: 0;

		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: start;

		.friendPlayerLevel {
			width: var(--badge-size);
			height: var(--badge-size);
		}
	}
}

.profile_header_bg {
	padding-top: 51px;

	max-width: var(--profile_width);
}

.profile_header_bg_texture {
	max-width: var(--profile_width);
}

.profile_header_centered_col {
	padding-inline: var(--avatar-gap) var(--profile_sidebar-gutter);

	display: flex;
	flex-direction: column;

	.persona_name {
		color: var(--color-fg-main);
		font: var(--text--heading-large);
	}
}

.profile_header_centered_persona {
	padding-block-end: 39px;
}

.profile_header_content {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	padding: 0;

	grid-template-columns: auto 1fr var(--sidebar-width);
}

.profile_summary {
	font: var(--text--body-large);

	height: 4lh;
}

.profile_summary_footer {
	font: var(--text--body-medium);
	margin-top: 13px;
}
