/* sidebar, global first 2 */
.profile_rightcol {
	background-color: transparent;
	backdrop-filter: none;
	padding: 0;

	flex-shrink: 0;
	width: var(--sidebar-width);

	& > * {
		background-color: var(--color-bg-main-50);
		backdrop-filter: blur(20px);
		border-radius: var(--rounding-lg);
		padding: var(--spacing-md);
		margin-bottom: var(--spacing-lg);
	}
}

.profile_count_link_preview {
	padding: var(--spacing);
	gap: 6px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.profile_awards &,
	.profile_badges & {
		flex-direction: row;
	}
}

.profile_in_game {
	margin: 0;
}

.profile_in_game_header {
	font: var(--text--heading-medium);
}

.profile_in_game_name {
	font: var(--text--body-medium);
	margin: 0;

	.persona.offline & {
		color: var(--color-fg-dim);
	}
}

.profile_ban_status {
	color: var(--color-accent-red);
	font: var(--text--body-medium);
	margin-top: var(--spacing-sm);
	margin-bottom: 0;
}

.profile_ban_info {
	color: var(--color-fg-dim);
}

.profile_badges,
.profile_item_links,
.profile_friend_links {
	margin: 0;
}

.profile_item_links {
	gap: 6px;

	display: flex;
	flex-direction: column;
}

.profile_count_link {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-md);
	margin-bottom: 0;

	a {
		padding: var(--spacing-sm);

		display: flex;

		&:hover {
			background-color: var(--color-bg-hover);
			color: inherit;
		}
	}

	span {
		font: var(--text--body-large);
	}

	.count_link_label {
		text-decoration: none;

		flex-grow: 1;
	}

	.profile_count_link_total {
		color: var(--color-fg-dim);
	}
}

.profile_count_link_preview_ctn {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-md);

	.profile_count_link {
		padding: var(--spacing-sm);
		padding-bottom: 0;

		a {
			margin: calc(var(--spacing-sm) * -1);
			margin-bottom: 0;
		}
	}
}

.profile_awards,
.profile_badges {
	margin-bottom: 6px;
}

.profile_badges_badge {
	margin: 0;

	&,
	img {
		--size: 45px;

		width: var(--size);
		height: var(--size);
	}
}

.profile_group_links,
.profile_friend_links {
	background-color: var(--color-bg-main-50);

	.profile_count_link {
		background-color: transparent;
		margin: calc(var(--spacing-md) * -1);
		margin-bottom: 0;

		overflow: visible;

		a {
			padding: var(--spacing-md);

			display: block;
		}
	}

	.profile_count_link_preview {
		padding: 0;
	}

	.profile_count_link_total {
		display: inline-flex;

		&::before {
			content: "(";
		}

		&::after {
			content: ")";
		}
	}
}

.profile_group_avatar {
	box-shadow: none;
}

.profile_group_membercount {
	color: var(--color-fg-dim);
}

.profile_group {
	height: unset;

	&.profile_primary_group {
		margin: 0;
	}

	&:not(.profile_primary_group) {
		padding-top: 0;

		.profile_group_avatar {
			top: 6px;
		}
	}

	.whiteLink {
		font: var(--text--body-large);
	}
}

.profile_in_common {
	color: var(--color-fg-dim);
}
