@use "shared/utils";

%-icon-button {
	@include utils.icon($size: "lg");

	background-image: none;

	&:not(:hover) {
		color: var(--color-fg-dim);
	}
}

#bordered_container {
	background: var(--color-bg-main-50);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-xl);
	margin-block-start: var(--spacing-sm);
}

#bordered_corner_container {
	gap: var(--spacing-sm);
	margin-inline-start: auto;
}

#bordered_corner_expanded {
	transform: rotate(180deg);
}

#bordered_corner_expanded,
#bordered_corner_shrinked {
	--icon-name: icon("arrow");
	@extend %-icon-button;
}

#bordered_title {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	letter-spacing: 0;
	text-transform: none;
	gap: var(--spacing-sm);

	display: flex;
	align-items: center;
}

.broadcast_embed_top_ctn_trgt {
	width: var(--store-page-width);
}

#broadcast_settings_icon {
	--icon-name: icon("settings");
	@extend %-icon-button;

	margin: 0;
}

#clear_div {
	display: none;
}

#container {
	border-radius: var(--rounding-md);
	margin-block-start: var(--spacing-sm);
}

#LeftPanelCtn,
#RightPanelCtn {
	max-height: unset;
}

#viewer_bar {
	background: var(--color-bg-main-50);
}
