#Reason {
	background-color: transparent;
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	letter-spacing: 0;
	text-transform: none;
	padding: 0;
	margin: 0;
}

#StoreSaleItemRelease {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	text-transform: none;
	margin-block-end: var(--spacing-xxs);
}

#TwoWidthSideInfo {
	background-color: transparent;
	padding: 0 var(--spacing-sm);
}
