@use "shared/controls";
@use "web/store";

#AddToWishlistButton {
	@include controls.icon-button(
		$w: 47px,
		$h: 44px,
		$child: "svg",
		$name: "favorite",
		$size: "lg"
	);

	box-shadow: none;
}

#Banner {
	@include store.capsule-icon;

	color: var(--color-primary);
	font: var(--text--body-medium);
	text-transform: none;
	box-shadow: none;
	padding: var(--spacing-xs);

	height: unset;

	#LinesImg {
		display: none;
	}
}

#CapsuleBottomBar {
	background-color: transparent;
	padding: 0;
	margin-block-start: var(--spacing-sm);

	height: unset;
}

#CapsuleDecorators {
	inset-block-start: 0;
}

#HeaderCapsuleImageContainer img {
	border-radius: var(--radius-lg);
}

#StoreSalePriceWidgetContainer {
	background-color: transparent;

	@include store.discount(
		$discount-pct: "#StoreSaleDiscountBox",
		$final-price: "#StoreSalePriceBox",
		$no-discount: "&:not(#Discounted) #StoreSalePriceBox",
		$original-price: "#StoreOriginalPrice",
		$prices-container: "#StoreSaleDiscountedPriceCtn"
	);

	#StoreOriginalPrice {
		letter-spacing: 0;
		margin: 0;
	}

	#StoreSalePriceBox {
		text-shadow: none;
	}
}

#Tag {
	@include store.tag;

	text-shadow: none;
}

#TagBox {
	--tag-height: calc(1lh + 6.5px * 2);

	font: var(--text--body-small);

	max-height: calc(var(--tag-height) * 2 + 4px);
}
