@use "shared/utils";

#Item {
	&#Active::after {
		border: var(--border-lg) solid var(--color-secondary);
		border-radius: var(--rounding-md);
	}

	img {
		border-radius: var(--rounding-md);

		width: 231px;
		height: 111px;
	}
}

#Strip {
	--arrow-size: calc(var(--icon--size-lg) + var(--spacing-sm) * 2);

	position: relative;
}

#StripItems {
	gap: 7px;
	padding-block: var(--border-lg);
	margin-block-start: var(--spacing-lg);
	margin-inline: calc(var(--arrow-size) + var(--spacing-md));
}

#StripScrollbar {
	color: var(--color-fg-main);

	justify-content: space-between;
	position: absolute;
	inset: 0;
	height: unset;

	svg {
		@include utils.icon("arrow", "path", "lg");

		transform: rotate(var(--deg));
	}

	#Arrow {
		background: none;

		flex-basis: var(--arrow-size);

		&:first-child {
			--deg: 90deg;
		}

		&:last-child {
			--deg: -90deg;
		}

		&:hover {
			background: var(--color-bg-main-20);
		}
	}

	#Track {
		display: none;
	}
}
