@use "shared/controls";

#EventsSummariesCtn {
	gap: var(--spacing-md);
	margin: 0;
}

#LatestUpdateButton {
	@include controls.button($variant: "tertiary", $size: "sm");
}

#LatestUpdateButtonCtn {
	justify-content: end;
	position: absolute;
	position-anchor: --top-button;
	right: calc(anchor(self-start) + var(--spacing-sm));
	top: anchor(start);
}

#LatestUpdateIcon {
	display: none;
}

#SectionButton {
	@include controls.button($variant: "tertiary", $size: "sm");

	inset: 0;
}

#SectionButtonCtn {
	margin: 0;

	position: absolute;
	inset-block-start: var(--spacing-xl);
	inset-inline-end: var(--spacing-xl);

	anchor-name: --top-button;
}
