@use "shared/controls";
@use "shared/utils";
@use "web/apppage";

#FeatureList {
	#FeatureNameContainer {
		@include apppage.sidebar-list-item;
	}
}

#FeatureName {
	all: unset;
}

#FeatureNameContainer {
	// HOW does the cursor even touch it
	background: none;
	color: var(--color-primary);
	padding: 0;
}

#GroupLabel {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	margin-block: calc(var(--spacing-xs) * 2) var(--spacing-xs);
}

#InfoLink {
	@include utils.tooltip-icon;
}

#Summary {
	--icon-size: 1lh;

	@include apppage.sidebar-list-item;

	#FeatureName {
		all: unset;
	}

	#ImageContainer {
		background-color: transparent;
		color: inherit;
		padding: 0;
	}
}
