@mixin sidebar-list-item {
	background-color: color-mix(in srgb, var(--color-bg-hl) 39%, transparent);
	font: var(--text--body-small);
	border-radius: var(--rounding-md);
	gap: var(--spacing-sm);
	padding: 4px 13px;
	margin-block-end: 7px;

	&:hover {
		background: var(--color-bg-hover);
	}
}
