@mixin sidebar-container {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);

	min-width: var(--sidebar-width);
}

@mixin sidebar-item($active-selector) {
	background: transparent;
	border-radius: var(--rounding-md);
	padding: 8px 13px;
	margin-bottom: var(--spacing-xxs);

	&:is(:hover, #{$active-selector}) {
		background: var(--color-bg-hover);
	}
}
