@mixin arrow($disabled) {
	@include link($selected: "&.hack");

	border: none;
	padding: 0;

	width: 70px;
	height: 30px;

	#{$disabled} {
		opacity: 0.5;
	}
}

@mixin container {
	gap: 24px;
	padding: 0;
	margin: 0;

	display: flex;
}

@mixin link($selected) {
	background-color: var(--color-bg-hl);
	font: var(--text--body-medium);
	color: inherit;
	text-decoration: none;
	border-radius: var(--rounding-md);
	padding: 5px var(--spacing-xs);

	display: flex;
	align-items: center;
	justify-content: center;

	#{$selected},
	&:hover {
		background-color: var(--color-bg-hover);
	}
}

@mixin links-container {
	gap: var(--spacing-xxs);

	display: flex;
	align-items: center;
}
