@mixin capsule {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);
}

@mixin capsule-icon {
	background-color: var(--color-bg-main-50);
	backdrop-filter: blur(20px);
	border-radius: var(--rounding-md);
}

/// All args are selectors.
@mixin category($gradient, $label) {
	background: rgba(217, 217, 217, 0.01);
	border-radius: var(--rounding-lg);
	margin: 0;

	$-colors: (
		1: #171124,
		2: #0e1325,
		3: #23374b,
		4: #163f24,
		5: #583c1a,
		6: #3b1a58,
	);

	@each $n, $color in $-colors {
		&:nth-child(#{$n}) {
			--bg: #{$color};
		}
	}

	&:hover {
		img {
			transform: scale(1.05);
			transition: var(--transition);
		}

		#{$gradient} {
			opacity: 0.5;
		}
	}

	img {
		transition: var(--transition);
	}

	#{$gradient} {
		transition: var(--transition);
		background: linear-gradient(
			180deg,
			color-mix(in srgb, var(--bg) 45%, transparent) 0%,
			color-mix(in srgb, var(--bg) 80%, transparent) 100%
		);
		backdrop-filter: blur(1px);
	}

	#{$label} {
		transform: none;
		color: var(--color-fg-main);
		font: var(--text--heading-medium);
		// Not in the original design, but a bit of visibility...
		text-shadow: 0 1px 4px black;
		padding: var(--spacing-lg);

		display: flex;
		align-items: center;
		justify-content: center;
		inset: 0;
	}
}

/// Because apparently there are currently 3 discount components in the theme,
/// amazing job v*lve.
/// All args are selectors.
@mixin discount(
	$discount-pct,
	$final-price,
	$no-discount,
	$original-price,
	$prices-container
) {
	--discount-pct-padding-block: 8px;
	--gpText-lh: 1.4;
	// TODO(vars): gpText lh - (gpText lh - normal lh) / text lines
	--right-side-line-height: calc(var(--gpText-lh) - (var(--gpText-lh) - 1) / 2);

	font: var(--text--heading-small);
	gap: var(--spacing-sm);

	height: calc(1lh + var(--discount-pct-padding-block) * 2);

	#{$discount-pct} {
		background-color: var(--color-accent-green);
		color: var(--color-bg-main);
		font: inherit;
		border-radius: var(--rounding-md);
		padding: var(--discount-pct-padding-block) 12px;
	}

	#{$no-discount} {
		color: var(--color-fg-main);
	}

	#{$final-price} {
		color: var(--color-accent-green);
		font: inherit;
		padding: 0;
	}

	#{$original-price} {
		color: var(--color-bg-hover);
		font: inherit;
		text-decoration: line-through;
		text-decoration-color: var(--color-fg-dim);

		&::before {
			display: none;
		}
	}

	#{$prices-container} {
		line-height: var(--right-side-line-height);
		gap: 0;
		padding: 0;

		flex-direction: column;
		align-items: start;
		justify-content: space-between;
	}
}

@mixin tag {
	background-color: var(--color-bg-hover);
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	border-radius: var(--rounding-md);
	padding: 6.5px 13px;
}
