@use "shared/extends/controls";

.market_header_bg {
	background-color: transparent;

	margin-top: var(--top-content-margin);
}

.market_header_logo {
	background-image: none;

	width: unset;
}

.market_header_text {
	gap: 24px;
	padding: 0;

	display: flex;
	flex-direction: column;
	width: unset;

	br {
		display: none;
	}
}

.market_title_text {
	color: var(--fg-main);
	font: var(--gpText-HeadingLarge);
}

.market_subtitle_text {
	color: var(--fg-dim);
	font: var(--gpText-HeadingMedium);
}

#BG_top {
	background-color: transparent;
	gap: 24px;

	display: flex;
	justify-content: space-between;

	.user_info {
		background-color: transparent;
		border: none;
		padding: 0;

		position: unset;
		min-width: unset;
		max-width: unset;
		height: unset;

		br,
		& > span:nth-child(2),
		#marketWalletBalance {
			display: none;
		}

		a {
			@include controls.button;

			white-space: nowrap;
		}
	}

	.user_info_text {
		font: var(--gpText-BodyLarge);
		margin: 0;

		display: flex;
	}
}

.pick_and_sell_button {
	right: 0;
	bottom: 100px;
}

.item_market_action_button_contents {
	@include controls.button("primary");

	font: var(--gpText-BodyLarge);
	box-shadow: var(--button-shadow);

	float: unset;
	height: unset;
}
