@use "shared/extends/controls";

:root {
	--market-row-spacing-outer: 18px;
	--market-row-spacing-inner: 20px;
}

.market_content_block {
	padding: 0;
}

.my_listing_section {
	margin: 0;
}

.my_market_header {
	font: var(--gpText-HeadingSmall);
	color: var(--fg-main);
}

.my_market_header_count {
	font: var(--gpText-BodySmall);
	color: var(--fg-dim);
}

.market_listing_table_message,
.market_listing_table_header {
	background-color: var(--bg-main-20);
	font: var(--gpText-BodyLarge);
	border: none;
	border-radius: var(--border-radius-large);
	padding: 8.5px var(--market-row-spacing-inner);
	margin: 0;

	height: unset;
}

.market_listing_table_header {
	color: var(--fg-dim);
	margin: var(--market-row-spacing-outer) 0;
}

.market_listing_left_cell,
.market_listing_right_cell {
	color: var(--fg-dim);
	line-height: unset;
	border: none;

	height: unset;
}

.market_listing_header_namespacer {
	width: 0;
}

.market_listing_action_buttons {
	height: 1px;
}

.market_listing_row {
	background-color: var(--bg-main-50);
	border: none;
	border-radius: var(--border-radius-large);
	padding: var(--market-row-spacing-inner);
	margin-top: var(--market-row-spacing-outer);

	&:hover {
		background-color: var(--bg-main);
	}
}

.market_listing_item_img {
	margin: 0;

	width: 62px;
	height: 62px;
}

.market_listing_item_name_block {
	padding-left: var(--market-row-spacing-inner);
	margin-top: 10px;
}

.market_listing_item_name {
	font: var(--gpText-HeadingSmall);

	&[style="color: #D2D2D2;"] {
		color: var(--fg-main);
	}
}

.market_listing_game_name {
	color: var(--fg-dim);
	font: var(--gpText-BodyMedium);
}

.market_listing_whoactedwith,
.market_listing_row .market_listing_listed_date,
.market_listing_price,
.market_listing_num_listings_qty {
	color: var(--fg-main);
	font: var(--gpText-BodyLarge);
}

.market_listing_gainorloss,
.market_listing_whoactedwith,
.market_listing_row .market_listing_listed_date,
.market_listing_num_listings > span,
.market_listing_their_price > span {
	margin: 20.5px 0;
}

.market_listing_row .market_listing_their_price {
	font-size: 0;

	:is(.normal_price, .sale_price)[data-price] {
		color: var(--fg-main);
		font: var(--gpText-BodyLarge);
	}
}

#sideBar {
	--sidebar-spacing: 15px;
	--icon-size: 20px;

	margin-top: calc(var(--sidebar-spacing) * -1);

	position: absolute;

	& > div {
		margin-top: var(--sidebar-spacing);
	}
}

.market_search_sidebar_contents {
	background-color: var(--bg-main);
	border-radius: var(--border-radius-large);
	padding: var(--sidebar-spacing);

	width: var(--gpNavWidth);
}

.market_search_sidebar_section_tip_small {
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);

	&::before {
		content: "";

		display: block;
		width: 100%;
		height: 1px;

		background-color: var(--bg-hl);
		margin: var(--sidebar-spacing) 0;
	}
}

.escrow_description_link {
	font: var(--gpText-BodySmall);
}

.market_search_box_container {
	margin-top: var(--sidebar-spacing);
}

#findItemsSearchBox {
	@include controls.search-input;
}

#findItemsSearchSubmit {
	background: none var(--color-secondary);
	mask: var(--icon-search);

	width: var(--icon-size);
	height: var(--icon-size);
	top: 0;
	right: var(--sidebar-spacing);
}

.game_button,
#market_search_advanced_show,
.market_show_more_games {
	margin-top: 9px;

	width: 100%;
}

.game_button {
	line-height: unset;

	height: unset;
}

.game_button_contents {
	height: unset;
}

.game_button_game_icon > img {
	border-radius: var(--border-radius);
}

.market_show_more_games > a,
.game_button_contents,
.market_search_advanced_button {
	background: none;
	font: var(--gpText-BodySmall);
	color: var(--fg-main);
	border: none;
	border-radius: var(--border-radius);
	padding: 8px 13px;

	width: 100%;

	&:hover {
		background-color: var(--bg-hover);
	}
}

.market_show_more_games > a {
	.arrow_down {
		display: none;
	}
}

.market_search_advanced_button {
	color: var(--fg-main);
	font: var(--gpText-BodyMedium);
	text-align: center;

	& > .btn_details_arrow {
		display: none;
	}
}

.market_page_left {
	padding: 0;
	margin-left: var(--sidebar-width);
}
