@use "shared/utils";

#FooterBlurImage {
	filter: var(--blur);
	opacity: 1;

	position: relative;
	z-index: -1;
}

#FooterBlurImageContainer {
	filter: none;
	background-color: var(--color--bg-main-50);
}

#LibraryItemActionButton {
	--icon-name: icon("download");
	--icon--size-lg: 50px;

	background: color-mix(in srgb, currentColor 20%, transparent);
	color: var(--color--primary);
	border: none;
	border-radius: var(--rounding-md);
	box-shadow: none;
	padding: var(--spacing-xxs);

	inset: var(--spacing-sm);
	inset-block-start: unset;
	width: var(--action-button-size);
	height: var(--action-button-size);

	&:hover {
		background: color-mix(in srgb, currentColor 50%, transparent);
	}

	&#Play {
		--icon-name: icon("play");

		color: var(--color--accent-green);
	}

	svg {
		@include utils.icon($remove: true, $size: "lg");

		margin: 0;
	}
}

#LibraryItemBox {
	--action-button-size: 71px;

	border: none;
	box-shadow: none;

	&#InCollection,
	&#InRecentGames {
		border-radius: var(--rounding-lg);

		// width: var(--appportrait_portrait-width);
		// height: var(--appportrait_portrait-height);
	}

	&#InDownloads {
		border-radius: var(--rounding-md);

		width: var(--appportrait_landscape-width);
		height: var(--appportrait_landscape-height);

		#PortraitImage {
			padding-top: var(--appportrait_landscape-height);
		}
	}

	&#InRecentGames#FeaturedCapsule {
		background: linear-gradient(
			190.47deg,
			color-mix(in srgb, var(--color--bg-main) 95%, transparent) 13.71%,
			color-mix(in srgb, var(--color--secondary) 41.8%, transparent) 91.45%
		);
	}
}

#PlaytimeDetails {
	color: var(--color--fg-main);
	font: var(--text--body-large);
	gap: var(--spacing-xxs);
	padding: 0;

	flex-direction: row;
	align-items: center;

	#RecentGameFooter > & {
		margin-inline-start: calc(
			var(--action-button-size) + var(--spacing-sm) * 2
		);

		flex-direction: column;
		align-items: start;
		justify-content: center;

		&::before {
			display: none;
		}
	}

	&#Header {
		display: none;
	}

	&#PlayedRecent {
		--icon-name: icon("clock");
	}

	&#PlayedTotal {
		--icon-name: icon("calendar");
	}

	&::before {
		content: "";

		@include utils.icon;

		color: var(--color--fg-dim);
	}
}

#RecentGameFooter {
	background-color: var(--color--bg-hl);

	height: calc(var(--action-button-size) + var(--spacing-sm) * 2);
}
