@use "shared/controls";
@use "shared/style";
@use "shared/utils";
@use "web";

// TODO:
// https://store.fastly.steamstatic.com/images/storepagebackground/app/2052410?t=1753952335
// https://shared.steamstatic.com/store_item_assets/steam/apps/2052410/page_bg_raw.jpg?t=1753952335

%-container {
	padding-inline: 0;

	width: var(--content--width-sm);
	max-width: unset;
}

%-content-type {
	background: var(--color--bg-main-50);
	color: var(--color--fg-main);
	font: inherit;
	border-radius: 0 0 var(--rounding-lg) var(--rounding-lg);
	padding: var(--spacing-sm);
}

.apphub_AllContentText {
	display: none;
}

.apphub_AppName {
	color: var(--color--fg-main);
	font: var(--text--heading-large);
}

.apphub_background {
	display: flex;
	flex-direction: column;
}

.apphub_Content {
	@extend %-container;
}

.apphub_CardRow {
	gap: 20px;

	display: flex;
	flex-wrap: wrap;
}

.apphub_Card {
	--card-avatar-size: var(--avatar--size-xs);
	--card-spacing: var(--spacing-md);
	--card-footer-height: calc(var(--spacing-sm) * 2 + 1lh);

	background: var(--color--bg-main-50);
	border: none;
	border-radius: var(--rounding-lg);
	gap: var(--spacing-lg);
	padding: var(--card-spacing);
	padding-bottom: calc(var(--card-spacing) + var(--card-footer-height));
	margin: 0;

	display: flex;
	flex-direction: column;
	flex-grow: 1;
	height: unset;
	max-height: 50vh;

	.review_award_aggregated {
		@include web.apphub--card-metadata($icon: "military-tech");
	}

	.reward_btn_icon {
		display: none;
	}
}

.apphub_CardAnnouncementBG,
.apphub_CardBG {
	display: none;
}

.apphub_CardClear {
	display: none;
}

.apphub_Cards {
	& > div {
		gap: 20px;

		display: flex;
		flex-direction: column;
	}

	& > form {
		height: 20px;
	}
}

.apphub_CardCommentCount {
	@include web.apphub--card-metadata($icon: "chat-bubble");

	&.alignDiscussion {
		margin-top: var(--spacing-sm);

		height: var(--card-avatar-size);
	}
}

.apphub_CardContentAuthorBlock {
	all: unset;

	gap: var(--spacing-sm);

	order: -1;
	display: flex;
	align-items: center;

	.apphub_Card:not(.Announcement_Card) & {
		justify-content: space-between;
	}

	.apphub_CardContentAuthorName {
		padding: 0;

		a {
			color: inherit;
		}
	}

	.apphub_CardContentMoreLink {
		color: var(--color--fg-dim);
		font: var(--text--body-medium);
		padding-inline-start: var(--spacing-sm);
	}

	.apphub_friend_block {
		display: flex;
		align-items: center;
		height: var(--card-avatar-size);
	}

	.apphub_friend_block_container {
		max-width: unset;
		height: unset;
	}
}

.apphub_CardContentAppName {
	all: unset;
}

.apphub_CardContentAuthorName {
	font: var(--text--body-medium);

	&.newsIcon {
		@include style.link;
	}
}

.apphub_CardContentDiscussionAuthorBlock {
	padding: 0;
	padding-top: var(--spacing-sm);

	height: unset;
}

.apphub_CardContentDiscussionDate {
	color: var(--color--fg-dim);
	font: var(--text--body-small);
	padding-left: calc(var(--card-avatar-size) + var(--spacing-sm));
}

.apphub_CardContentDiscussionText {
	background-color: var(--color--bg-main-50);
	border: none;
	border-radius: var(--rounding-lg);
	padding: var(--spacing-sm);
}

.apphub_CardContentDiscussionTitle {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	padding: 0;
	margin-bottom: var(--spacing-sm);
}

.apphub_CardContentDiscussionType {
	@extend %-content-type;

	border: none;

	height: unset;
}

.apphub_CardContentGuideDesc {
	color: var(--color--fg-main);
	font: var(--text--body-large);
	padding: 0;
	margin-top: var(--spacing-lg);

	height: unset;
}

.apphub_CardContentGuideImage {
	padding: 0;
	margin-inline-end: var(--spacing-sm);
}

.apphub_CardContentGuideTitle {
	background-color: transparent;
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	border: none;
	padding: 0;
	margin: 0;
}

.apphub_CardContentMain {
	position: relative;

	& > .apphub_CardContentType {
		position: absolute;
		bottom: 0;
		width: 100%;
	}
}

.apphub_CardContentNewsDate {
	color: var(--color--fg-dim);
	font: var(--text--body-small);
	padding: 0;
}

.apphub_CardContentNewsDesc {
	--speech-bubble-size: 1.25em;

	color: var(--color--fg-main);
	padding: 0;
	margin-bottom: var(--speech-bubble-size);

	position: relative;

	&::after {
		content: "";

		position: absolute;
		bottom: 0;
		left: calc(var(--card-avatar-size) / 2 + var(--spacing-xxs));

		border: var(--speech-bubble-size) solid transparent;
		border-top-color: var(--color--bg-main-50);
		border-bottom: none;
		border-left: none;
		margin-bottom: calc(var(--speech-bubble-size) * -1);
	}

	p {
		clear: unset;
	}
}

.apphub_CardContentNewsFade {
	display: none;
}

.apphub_CardContentNewsTitle {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	padding: 0;

	max-width: unset;
}

.apphub_CardContentPreviewImage {
	top: 0;
}

.apphub_CardContentPreviewImageBorder {
	padding: 0;
}

.apphub_CardContentSpeechCorner {
	display: none;
}

.apphub_CardContentTitle {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	padding: 0;
}

.apphub_CardContentType {
	@extend %-content-type;

	visibility: visible;
	margin: 0 calc(var(--card-spacing) * -1);
}

.apphub_CardContentTypeContainer {
	width: calc(100% - var(--card-spacing) * 2);
	bottom: 0;
}

.apphub_CardControls {
	gap: var(--spacing-sm);

	align-items: center;

	.apphub_CardRating {
		@include web.apphub--card-metadata($icon: "thumb-up");
	}

	.apphub_CardRightData {
		gap: var(--spacing-sm);
	}
}

.apphub_CardMetaData {
	all: unset;

	gap: var(--spacing-sm);

	display: flex;
	flex-direction: column-reverse;

	#{controls.button-web-selector(".btn_grey_grey")} {
		@include web.apphub--card-metadata-button;

		// TODO(icons): rotate
		&[id^="vote_down"] {
			--icon-name: icon("thumb-up");
			transform: rotate(180deg);
		}

		&[id^="vote_up"] {
			--icon-name: icon("thumb-up");
		}

		&[onclick^="PublishedFileAward"] {
			--icon-name: icon("military-tech");
		}

		&::before {
			content: "";

			@include utils.icon($size: "sm");
		}
	}
}

.apphub_CardPinnedIcon {
	inset-block-start: var(--card-spacing);
	inset-inline-end: var(--card-spacing);
}

.apphub_CardRatingButtons {
	gap: var(--spacing-sm);
	padding: 0;

	display: flex;
	height: unset;
}

.apphub_friend_block {
	.apphub_CardContentAuthorName {
		padding-inline-start: calc(var(--card-avatar-size) + var(--spacing-sm));
	}

	.appHubIconHolder {
		position: absolute;
		inset: 0;
	}
}

.apphub_friend_block_row {
	padding: 0;

	display: flex;
}

.apphub_GetMoreContent {
	all: unset;

	margin: var(--spacing-lg) auto;

	text-align: center;
	width: var(--content--width-sm);

	& > a {
		@include controls.button($variant: "primary");
	}
}

.apphub_HeaderBottom {
	background-color: var(--color--bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-sm);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	min-height: unset;
}

.apphub_HeaderBottomBG_ctn {
	display: none;
}

.apphub_HeaderTop {
	background-image: none;
	padding: 0;
}

.apphub_HomeHeader {
	@extend %-container;

	margin-bottom: var(--spacing-lg);
}

.apphub_HomeHeaderContent {
	@extend %-container;

	padding-top: var(--content--spacing-block-start);

	.apphub_HeaderStandardTop {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		min-height: unset;
	}
}

.apphub_HubDivider {
	display: none;
}

// avatar
.appHubIconHolder,
.appHubNewsIconHolder {
	--size: var(--card-avatar-size);

	margin: 0;

	position: unset;

	&.greyOverlay {
		display: none;
	}
}

.apphub_more_friends_who_play {
	all: unset;

	@include controls.button;

	padding: 6px 3px;

	--size: 32px;
	box-sizing: border-box;
	display: block;
	min-width: var(--size);
	min-height: var(--size);
}

.apphub_NewsCardStats {
	inset-block-end: var(--card-spacing);
	inset-inline-end: var(--card-spacing);
}

.apphub_NumInApp {
	color: var(--color--accent-green);
	padding: 0;
}

.apphub_OtherSiteInfo {
	anchor-name: --apphub-top-right-buttons;
}

.apphub_recentFriendsArea {
	padding: 0;

	#{controls.button-web-selector(".btnv6_blue_hoverfade")} {
		display: none;
	}
}

.apphub_sectionTab {
	@include controls.tab($active: "&.active");

	background-image: none;
	margin: 0;

	height: unset;

	span {
		all: unset;
	}
}

.apphub_sectionTabs {
	@include controls.tabs-container;

	margin: 0;
	margin-block: 24px 48px;
}

.apphub_sectionTabsHR {
	display: none;
}

.apphub_Stats {
	font: var(--text--body-medium);
	gap: var(--spacing-md);
	padding: 0;

	display: flex;
	align-items: center;

	.apphub_Chat {
		color: var(--color--fg-dim);
		font: inherit;
		padding: 0;

		a {
			text-decoration: none;
		}
	}

	.pipe_separator {
		display: none;
	}

	.responsive_hidden {
		gap: var(--spacing-sm);

		display: flex;
		align-items: center;
	}

	.statsselect {
		all: unset;

		@include controls.dropdown;

		img,
		#statsselect_arrow {
			display: none;
		}
	}

	.statsselect_text {
		all: unset;
	}
}

.apphub_StoreInfoHeader {
	background-color: var(--color--bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-sm);
	// XXX(units): keep in sync with .apphub_sectionTabs
	margin-block: 24px 48px;
}

.apphub_UserReviewCardContent {
	padding: 0;

	display: flex;
	flex-direction: column;
	position: unset;

	.apphub_CardTextContent {
		color: var(--color--fg-main);
		font: var(--text--body-large);
	}

	.date_posted {
		color: var(--color--fg-dim);
		font: var(--text--body-small);

		display: flex;
		align-items: center;
		position: absolute;
		inset-block-start: var(--card-spacing);
		inset-inline-end: var(--card-spacing);
		height: var(--card-avatar-size);
	}

	.found_helpful {
		color: var(--color--fg-dim);
		font: var(--text--body-medium);
		margin: 0;

		position: absolute;
		inset-block-end: calc(var(--card-footer-height) + var(--card-spacing));
	}

	// TODO: is this shared ?
	.hours {
		color: var(--color--fg-dim);
		font: var(--text--body-medium);
	}

	.reviewInfo {
		background-color: var(--color--bg-main);
		border-radius: var(--rounding-md);
		padding: var(--spacing-xxs);
	}

	.thumb img {
		border-radius: var(--rounding-md);
	}

	.title {
		color: var(--color--fg-main);
		font: var(--text--body-medium);
		padding: 0;
	}

	.vote_header {
		margin-block-end: var(--spacing-lg);

		.thumb {
			display: flex;
		}
	}
}

.apphub_UserReviewCardStats {
	padding: 0;

	position: absolute;
	inset-block-end: calc(var(--card-footer-height) + var(--card-spacing));
	inset-inline-end: var(--card-spacing);
}

.apphub_WorkshopPistonHolder {
	display: none;
}

.UserReviewCardContent_Footer {
	@extend %-content-type;

	// TODO(localization): localize, webpack should be available
	.apphub_Content &::before {
		content: "Review";
	}

	.gradient {
		display: none;
	}
}
