@use "shared/controls";
@use "shared/utils";
@use "web/layout";
@use "web/paging";

%-forum-post {
	background: var(--color-bg-main-50);
	border: none;
	border-radius: var(--radius-lg);
	box-shadow: none;
	margin-bottom: var(--spacing-md);
}

%-right-side-text {
	color: var(--color-primary);
	font: var(--text--body-large);
	// Can't center it, don't care
	line-height: 48px;
}

.apphub_Content {
	// Post
	& > .maincontent {
		gap: 20px;
		margin: 0;

		display: flex;
		flex-direction: row-reverse;
		width: unset;

		br {
			display: none;
		}
	}
}

.apphub_Discussion_Content {
	gap: 20px;

	display: flex;
	flex-direction: row-reverse;
	max-width: var(--apphub_content-width);

	br {
		display: none;
	}

	:is(body.thread, &) {
		.leftcol {
			flex-grow: 1;
			width: unset;
		}

		.rightbox {
			background: none;
			gap: var(--spacing-sm);
			padding: 0;

			display: flex;
			flex-direction: column;

			.content {
				padding: 0;
			}

			.rule {
				display: none;
			}

			.weblink {
				font: inherit;

				img {
					display: none;
				}
			}
		}

		.rightbox_content_header {
			color: var(--color-fg-dim);
			font: var(--text--body-medium);
			padding: 0;
		}

		.rightbox_footer,
		.rightbox_header {
			display: none;
		}

		.rightbox_list_header {
			color: var(--color-fg-dim);
			font: var(--text--body-medium);
			margin-bottom: var(--spacing-sm);
		}

		.rightbox_list_option {
			@include layout.sidebar-item(".selected");

			font: var(--text--body-large);

			height: unset;

			.forum_list_postcount {
				color: var(--color-fg-dim);
				font: var(--text--body-medium);
			}
		}

		.rightbox_list_selection_background {
			display: none;
		}

		.rightcol {
			background: var(--color-bg-main);
			border-radius: var(--radius-lg);
			gap: var(--spacing-sm);
			padding: var(--spacing-md);
			margin: 0;

			display: flex;
			flex-direction: column;
			width: var(--sidebar-width);
		}

		.rightcol_minor_text {
			color: var(--color-fg-dim);
			font: var(--text--body-small);
			margin-bottom: var(--spacing-sm);
		}
	}
}

#DiscussionSearchForm {
}

.discussionSearchText {
	all: unset;

	@include controls.text-field($variant: "search");
}

.discussionSearchTextContainer {
	all: unset;

	color: var(--color-secondary);

	position: relative;

	&:after {
		content: "";

		display: block;
		position: absolute;
		top: 0;
		right: var(--spacing-md);

		@include utils.icon("search");
	}
}

.discussionSearchTextSubmitImg {
	display: none;
}

.forum_area {
	color: var(--color-fg-main);

	display: flex;
	flex-direction: column;
}

.forum_audit {
	color: var(--color-fg-dim);
	font: var(--text--body-small);
	margin-top: 20px;

	position: unset;
}

.forum_author_action_pulldown {
	@include utils.icon("arrow");

	background-image: none;
}

.forum_comment_permlink {
	right: var(--spacing-xs);
	bottom: var(--spacing-xs);

	a {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}
}

.forum_list_postcount {
	padding: 0;
}

.forum_newtopic_box {
	@extend %-forum-post;

	padding: 20px;
}

.forum_newtopic_header {
	display: none;
}

.forum_pagesize_options {
	all: unset;
	color: var(--color-fg-dim);
	margin-top: var(--spacing-sm);

	// selected
	& > span {
		color: var(--color-primary);
		margin-right: 5px;
	}
}

.forum_paging {
	all: unset;

	color: var(--color-fg-dim);
	font: var(--text--body-large);
	margin-bottom: var(--spacing-md);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.forum_paging_controls {
	@include paging.container;

	&[style="display: none;"] {
		visibility: hidden;
	}
}

.forum_paging_pagelink {
	@include paging.link($selected: "&.active");

	margin: 0;
}

.forum_op {
	@extend %-forum-post;

	padding: 20px;

	max-width: unset;

	.authorline {
		font: inherit;
		margin-left: var(--spacing-sm);
	}

	.content {
		color: var(--color-fg-main);
		font: var(--text--body-large);
	}

	.date {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}

	.topic {
		color: var(--color-fg-main);
		font: var(--text--heading-large);
		margin-block: 20px;
	}

	img[src$="/iconGames.png"] {
		display: none;
	}
}

.forum_op_author {
	color: var(--color-primary);
	font: var(--text--body-large);
}

.forum_op_avatar {
	position: unset;
}

.forum_topic {
	background: var(--color-bg-main-50);
	border-radius: var(--radius-lg);
	padding: 20px;
	margin-bottom: 20px;

	height: unset;

	&:hover {
		background: var(--color-bg-main);
	}
}

.forum_topic_icon {
	display: none;
}

.forum_topic_lastpost {
	@extend %-right-side-text;

	padding-right: var(--spacing-lg);
}

.forum_topic_name {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
}

.forum_topic_op {
	color: var(--color-primary);
	font: var(--text--body-medium);
}

.forum_topic_reply_count {
	@extend %-right-side-text;

	gap: var(--spacing-xs);

	display: flex;
	align-items: center;

	&::before {
		content: "";

		display: block;

		@include utils.icon("chat-bubble");

		color: var(--color-fg-main);
	}

	img {
		display: none;
	}
}

.forum_topics_container {
	margin-top: var(--spacing-lg);
}

.forumtopic_comments {
	&.commentthread_area {
		--avatar-gutter: var(--spacing-sm);
		--avatar-size: var(--avatar--size-sm);
	}

	.commentthread_comment {
		--spacing: 20px;

		@extend %-forum-post;
	}

	.commentthread_comment_author {
		opacity: 1;
		line-height: var(--avatar-size);
		margin-bottom: 20px;
	}

	.commentthread_author_link {
		color: var(--color-primary);
	}

	.commentthread_comment_avatar {
		top: var(--spacing);
	}

	.commentthread_comment_text {
		font: var(--text--body-large);
	}

	// #region TODO: move to commentthread ?
	.commentthread_entry_autosubscribe {
		gap: var(--spacing-xs);
		padding: 0;
		margin-right: auto;

		display: flex;
		align-items: center;

		// TODO: maybe?
		input[type="checkbox"] {
			margin: 0;
		}
	}

	.commentthread_entry_submitlink {
		gap: var(--spacing-sm);
		padding-top: var(--spacing-sm);

		display: flex;
		justify-content: start;

		.comment_breaking_space {
			display: none;
		}
	}

	.commentthread_pagination_ctn {
		margin-bottom: var(--spacing-sm);

		// HEEEEEEEEEELP fucking floats
		width: 100%;
	}
	// #endregion

	img[src$="/iconGames.png"] {
		display: none;
	}
}
