@use "shared/controls";
@use "shared/utils";
@use "web/layout";
@use "web/paging";
@use "web/store";

%-row {
	border: none;
	border-radius: var(--rounding-lg);
	padding-block: var(--spacing-block);
	padding-inline: var(--spacing-lg);
}

#BG_bottom {
	display: flex;
	flex-direction: column;
	width: var(--content--width-lg);
}

#BG_top {
	background-color: transparent;
	gap: 24px;

	display: flex;
	justify-content: space-between;
	width: var(--content--width-lg);
	height: unset;

	.user_info {
		background-color: transparent;
		border: none;
		padding: 0;

		position: unset;
		min-width: unset;
		max-width: unset;
		height: unset;

		br,
		& > span:nth-child(2) {
			display: none;
		}

		a {
			@include controls.button;

			white-space: nowrap;
		}
	}

	.user_info_text {
		font: var(--text--body-large);
		gap: var(--spacing-sm);
		margin: 0;

		display: flex;
		flex-direction: column;
	}
}

.escrow_description_link {
	color: var(--color-fg-dim);
	font: var(--text--body-small);

	a {
		text-decoration: none;
	}
}

#findItemsSearchBox {
	@include controls.text-field($variant: "search");
}

#findItemsSearchSubmit {
	@include controls.text-field-icon($name: "search");
}

.game_button,
.market_show_more_games {
	margin-top: 9px;

	width: 100%;
}

.game_button {
	line-height: unset;

	height: unset;
}

.game_button_contents {
	height: unset;
}

.game_button_game_icon > img {
	border-radius: var(--rounding-md);
}

.market_show_more_games > a,
.game_button_contents {
	@include layout.sidebar-item(".hack");

	font: var(--text--body-small);
	color: var(--color-fg-main);
	border: none;

	width: 100%;
}

.item_market_action_button_contents {
	@include controls.button($variant: "primary", $size: "sm");

	float: unset;
	height: unset;
}

.market_content_block {
	padding: 0;
}

.market_header_bg {
	background-color: transparent;

	margin-block: var(--content--spacing-block-start);
}

.market_header_logo {
	background-image: none;

	width: unset;
	height: unset;
}

.market_header_text {
	gap: 12px;
	padding: 0;

	display: flex;
	flex-direction: column;
	width: unset;
}

.market_listing_action_buttons {
	padding: 0;

	width: var(--market_column-width);
	height: unset;

	&.market_listing_right_cell {
		order: 1;
	}
}

.market_listing_buy_button {
	display: contents;

	#{controls.button-web-selector(".item_market_action_button")} {
		width: 100%;
	}
}

.market_listing_edit_buttons {
	&.actual_content {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&.placeholder {
		height: 50px;
	}

	.item_market_action_button,
	.market_listing_cancel_button {
		all: unset;
	}

	.item_market_action_button_edge,
	.item_market_action_button_preload {
		display: none;
	}
}

.market_listing_game_name {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
}

.market_listing_header_namespacer {
	width: 62px;
}

.market_listing_item_img {
	margin: 0;

	// TODO(js): size can be changed
	width: 62px;
	height: 62px;
}

.market_listing_item_name {
	font: var(--text--heading-small);

	&[style=""] {
		color: var(--color-fg-main);
	}
}

.market_listing_item_name_block {
	padding-inline-start: var(--spacing-lg);
	margin-block: 8px;
}

.market_listing_left_cell,
.market_listing_right_cell {
	color: var(--color-fg-dim);
	line-height: unset;
	border: none;

	text-align: start;
	height: unset;
}

.market_listing_num_listings,
.market_listing_their_price {
	display: flex;
	width: unset;
	min-width: var(--market_column-width);
}

.market_listing_whoactedwith,
.market_listing_row .market_listing_listed_date,
.market_listing_price,
.market_listing_num_listings_qty {
	color: inherit;
	font: var(--text--body-large);
}

// In sell listings
.market_listing_price span {
	color: inherit;
}

.market_listing_price_listings_block {
	.market_listing_row & {
		margin-block: 19px;
	}
}

.market_listing_row {
	--spacing-block: var(--spacing-lg);

	@extend %-row;

	transition: var(--transition);
	background-color: var(--color-bg-main-50);
	margin-top: var(--market_row-spacing-outer);

	clear: unset;
	width: 100%;

	&:hover {
		background-color: var(--color-bg-main);
	}

	.market_listing_their_price {
		font-size: 0;

		:is(.normal_price, .sale_price)[data-price] {
			color: var(--color-fg-main);
			font: var(--text--body-large);
		}
	}
}

.market_listing_table_header {
	--spacing-block: 8.5px;

	@extend %-row;

	background-color: var(--color-bg-main-20);
	color: var(--color-fg-dim);
	font: var(--text--body-large);
	margin: 0;
	margin-block-end: var(--market_row-spacing-outer);

	height: unset;

	.market_sortable_column {
		background-color: transparent;

		overflow: visible;
		position: relative;

		&:hover::before {
			content: "";

			position: absolute;
			inset: calc(var(--spacing-block) * -1) calc(var(--spacing-lg) * -1);
			width: 100%;
			z-index: -1;

			background-color: var(--color-bg-main);
		}
	}
}

.market_listing_table_message {
	--spacing-block: var(--spacing-lg);

	@extend %-row;

	background-color: var(--color-bg-main-20);
	margin-block: 0 var(--spacing-lg);
}

.market_page_left {
	padding: 0;
	margin-inline-start: calc(
		var(--content--sidebar-width) + var(--market_row-spacing-outer)
	);

	max-width: unset;
}

.market_paging {
	line-height: unset;
	gap: var(--spacing-xxs);
	padding: var(--spacing-xxs);
	padding-right: 0;
	margin: 0;
	margin-top: var(--market_row-spacing-outer);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	height: unset;

	#searchResults_links {
		@include paging.links-container;
	}
}

.market_paging_controls {
	@include paging.container;
}

.market_paging_pagelink {
	@include paging.link($selected: "&.active");

	margin: 0;
}

.market_paging_summary {
	font: var(--text--body-small);
}

.market_search_advanced_button {
	all: unset;

	.btn_details_arrow {
		display: none;
	}
}

#market_search_advanced_show {
	@include controls.button;

	width: 100%;
}

.market_search_box_container {
	margin-top: var(--spacing-md);
}

.market_search_input_container {
	// All React btw
	input {
		@include controls.text-field($variant: "search");
	}

	[style*="--width"] {
		width: 100%;
	}

	[data-has-value],
	[data-has-value] div {
		all: unset;
	}

	[data-has-value] > :nth-child(2) {
		@include controls.text-field-icon($name: "close");

		& > svg {
			display: none;
		}
	}
}

.market_search_results_header {
	font: inherit;
	gap: var(--spacing-xs);
	padding: 0;

	min-height: unset;

	& > div {
		margin: 0;
	}

	.market_searchedForTerm {
		@include store.tag;

		border: none;

		img {
			margin: 0;

			width: var(--icon--size-md);
			height: var(--icon--size-md);
		}

		.removeIcon {
			@include utils.icon($name: "close", $size: "sm");

			&:hover {
				filter: none;
			}
		}
	}
}

.market_search_results_title {
	font: inherit;
}

.market_search_sidebar_contents {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);

	width: var(--content--sidebar-width);
}

.market_search_sidebar_section_tip_small {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	text-transform: uppercase;

	&::after {
		content: "";

		display: block;
		width: 100%;
		height: var(--border-sm);

		background-color: var(--color-bg-hl);
		margin: var(--spacing-md) 0;
	}
}

.market_show_more_games > a {
	.arrow_down {
		display: none;
	}
}

.market_subtitle_text {
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
}

.market_tab_well_tab_contents {
	@include controls.tab(".hack");

	background-image: none;

	min-width: unset;

	.market_tab_well_tab_active > & {
		background-color: var(--color-bg-hl);
		color: var(--color-fg-main);
	}
}

.market_tab_well_tabs {
	@include controls.tabs-container;

	font-size: 0;
	border: none;
	// Divide by 2 for whitespace
	gap: calc(var(--spacing-xxs) / 2);
	margin-block-end: var(--market_row-spacing-outer);

	display: flex;
	position: unset;
}

.market_table_value {
	font: inherit;
	margin: 0;
}

.market_title_text {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
}

.my_listing_section:not([style="display:none"]) {
	margin: 0;
	margin-block-end: var(--spacing-xxl);
}

.my_market_header {
	margin-block-end: var(--spacing-sm);
}

.my_market_header_active {
	font: var(--text--heading-small);
	color: var(--color-fg-main);
}

.my_market_header_count {
	font: inherit;
	color: var(--color-fg-dim);
}

#myListings {
	margin-bottom: 89px;
}

#myMarketTabs,
.market_large_tab_well {
	padding: 0;
	margin: 0;

	height: unset;
}

.market_large_tab_well img,
.resultsbluebg {
	display: none;
}

.pick_and_sell_button {
	inset: 9px;
	inset-inline-start: unset;
}

#sideBar {
	position: absolute;
	height: 100%;
	// For clickable "security requirements" link
	z-index: 1;

	& > div {
		margin: 0;
		margin-inline-end: var(--market_row-spacing-outer);

		position: sticky;
		top: calc(var(--header-height) + var(--spacing-lg));
		width: unset;
	}
}
