@use "shared/controls";
@use "shared/style";
@use "shared/utils";
@use "web/apppage";
@use "web/layout";
@use "web/paging";
@use "web/store";

@mixin -icon($name) {
	min-width: 44px;

	&::before {
		content: "";

		@include utils.icon($name);
	}
}

@mixin -section {
	background: var(--color--bg-main-50);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-xl);
	margin-block-end: var(--spacing-md);
}

@mixin -section-header {
	color: var(--color--fg-dim);
	font: var(--text--heading-small);
	margin-block-end: var(--spacing-xxl);
}

@mixin -sidebar-header {
	color: var(--color--fg-main);
	font: var(--text--body-medium);
	text-transform: uppercase;
	margin-block-end: var(--spacing-sm);
}

@mixin -workshop-bg {
	@include style.workshop-bg;

	position: fixed;
	inset: 0;
	height: 100vh;
	z-index: -999;
}

body.apphub_blue.v6 {
	background-image: linear-gradient(
		180deg,
		var(--color--bg-hl),
		var(--color--bg-tertiary)
	);
}

.browseOption {
	@include apppage.sidebar-list-item;

	margin-inline: 0;

	.browseOptionImage ~ & {
		background-color: var(--color--bg-hover);
	}

	a {
		font: inherit;
	}
}

.browseOptionImage {
	display: none;
}

.detailBox:not(.plain) {
	@include -section;
}

.fileRatingDetails,
.parentCollectionRating,
.workshop_item_rating {
	background-color: var(--color--secondary);
	mask-image: var(--img);
	// prettier-ignore
	mask-position:
		0,
		var(--icon--size-lg),
		calc(var(--icon--size-lg) * 2),
		calc(var(--icon--size-lg) * 3),
		calc(var(--icon--size-lg) * 4);
	mask-repeat: no-repeat;

	width: calc(var(--icon--size-lg) * 5);
	height: var(--icon--size-lg);

	// prettier-ignore
	$-stars: (
		not-yet: 'icon("star"), icon("star"), icon("star"), icon("star"), icon("star")',
		1-star: 'icon("star-filled"), icon("star"), icon("star"), icon("star"), icon("star")',
		2-star: 'icon("star-filled"), icon("star-filled"), icon("star"), icon("star"), icon("star"),',
		3-star: 'icon("star-filled"), icon("star-filled"), icon("star-filled"), icon("star"), icon("star")',
		4-star: 'icon("star-filled"), icon("star-filled"), icon("star-filled"), icon("star-filled"), icon("star")',
		5-star: 'icon("star-filled"), icon("star-filled"), icon("star-filled"), icon("star-filled"), icon("star-filled")',
	);

	@each $k, $v in $-stars {
		&:has(> [src*="/#{$k}"]) {
			--img: #{$v};
		}
	}

	img {
		display: none;
	}
}

.filterOption {
	@include apppage.sidebar-list-item;

	margin-inline: 0;

	display: flex;
	align-items: center;

	&.checked {
		background-image: none;
		color: var(--color--primary);
	}

	input[type="checkbox"] {
		margin: 0;
	}

	label {
		all: unset;

		gap: var(--spacing-xxs);

		display: flex;
		align-items: center;
	}
}

.flags_incompatible_desc {
	color: var(--color--fg-dim);
	font: var(--text--body-medium);
	margin: var(--spacing-xs) 0;
}

// TODO: move???
.game_area_purchase_game {
	@include -section;

	border: none;

	align-items: center;
	justify-content: space-between;

	br {
		display: none;
	}

	& > h1 {
		color: var(--color--fg-main);
		font: var(--text--heading-medium);

		display: flex;
		flex-direction: column-reverse;
		width: unset;

		span {
			color: var(--color--fg-dim);
			font: var(--text--body-medium);
		}
	}

	.subscribeIcon {
		display: none;
	}

	.subscribeOption.selected {
		line-height: inherit;

		text-align: center;
	}
}

.game_area_purchase_margin {
	margin-bottom: var(--spacing-sm);
}

.general_btn {
	@include controls.button("primary");

	margin-right: 0;

	width: unset;
	height: unset;

	.favoriteOption.selected {
		line-height: inherit;
	}
}

.highlight_ctn {
	max-width: unset;
}

.highlight_overflow {
	margin: 0;

	max-width: unset;
}

#highlight_player_area {
	max-width: unset;
}

.highlight_selector {
	display: none;
}

#highlight_strip {
	background-color: var(--color--bg-main-50);
	border-radius: var(--rounding-md);
	padding: var(--border-lg);

	overflow: hidden;
	inset: 0;
	width: 100%;
	height: calc(65px + var(--border-lg) * 4);
}

#highlight_strip_bg {
	background-color: transparent;
	padding: 0;
	margin-block: var(--spacing-sm) var(--spacing-lg);

	.slider {
		background-color: var(--color--bg-main);
		border-radius: 40px;
		margin-block-start: var(--spacing-sm);

		height: var(--carousel--thumb-height);

		.handle {
			background: var(--color--secondary);
			border-radius: 40px;

			width: 36px;
			height: inherit;
		}
	}
}

.highlight_strip_item {
	margin: var(--border-lg);

	&.focus::before {
		content: "";

		position: absolute;
		inset: calc(var(--border-lg) * -1);

		border: var(--border-lg) solid var(--color--secondary);
		border-radius: var(--rounding-md);
	}

	img {
		border-radius: var(--rounding-md);
	}
}

#highlight_strip_scroll {
	padding-inline: var(--border-lg);

	display: flex;
	width: unset;
}

.home_tab {
	@include controls.tab(".active");

	background: none;
	box-shadow: none;
	margin: 0;

	.tab_content {
		all: unset;
	}
}

.home_tab_bg {
	display: none;
}

.home_tabs_row {
	@include controls.tabs-container;

	margin-block: var(--spacing-lg) var(--spacing-sm);
}

#ig_bottom {
	max-width: var(--content--width-sm);

	&:not(.smallheader) #mainContents {
		display: flex;
	}

	&.smallheader::before {
		@include -workshop-bg;
	}

	.browsePagePadding {
		display: none;
	}
}

.just_added_text {
	float: unset;
	width: unset;
}

.just_added_to_list {
	@include -section;

	background: color-mix(in srgb, var(--color--primary) 50%, transparent);
	color: var(--color--fg-main);
	font: var(--text--body-large);
	margin-block-start: 0;

	.close_notification {
		@include utils.icon($name: "close", $remove: true);
	}

	[style="float: left"] {
		float: unset;
	}
}

.just_subscribed_icon {
	display: none;
}

.parentCollection {
	@include -section;

	display: flex;
	align-items: center;

	&:hover {
		background-color: var(--color--bg-main);
	}

	&:last-child {
		margin: 0;
	}
}

.parentCollectionNumChildren {
	font: var(--text--body-medium);
	padding-inline: var(--spacing-sm) 0;
}

.parentCollectionsNumOthers {
	padding: 0;
	color: var(--color--fg-dim);
}

.parentCollectionTitle {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	text-transform: none;
	padding: 0;

	flex-grow: 1;
}

.parentCollections {
	padding: 0;
}

.parentCollectionsTitle {
	@include -section-header;
}

#profileBlock {
	margin: 0;

	flex-grow: 1;
	max-width: unset;

	#mainContents > & {
		// XD
		--button--secondary-bg: var(--color--bg-main);
		--color--bg-hl: var(--color--bg-main);

		@include -section;

		margin: 0;

		.dropdown,
		#{controls.button-web-selector(".btn_medium")} {
			@include controls.button-vars($size: "sm");
		}
	}
}

.requiredItem {
	background-color: var(--color--bg-hl);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);
}

.requiredItemSubscribed {
	@include utils.icon($name: "checkbox-checked", $remove: true);
}

#rightContents {
	@include layout.sidebar-container;

	margin: 0;

	width: var(--content--sidebar-width);

	.panel,
	.sidebar {
		all: unset;
	}

	select {
		@include controls.dropdown;
	}
}

.rightDetailsBlock {
	padding: 0;

	.workshop_item_header & {
		display: flex;
	}

	hr {
		display: none;
	}
}

.rightSectionMinorText {
	color: var(--color--fg-dim);
	font: var(--text--body-small);
	margin-bottom: var(--spacing-sm);
}

.rightSectionTitle {
	display: none;
}

.rightSectionTopTitle {
	@include -sidebar-header;

	padding: 0;
}

.searchedForTerm {
	all: unset;

	@include store.tag;
}

.searchedTermsContainer {
	@include -section-header;

	gap: var(--spacing-xxs);
	margin: 0;
}

#sharedfiles_content_ctn {
	.commentthread_header {
		@include -section-header;

		// TODO: move to comments.scss if I see this again
		background-color: transparent;
		padding: var(--spacing-xl);
		margin: calc(var(--spacing-xl) * -1);
		margin-block-end: 0;
	}

	#rightContents {
		background-color: transparent;
		padding: 0;
		margin-left: var(--spacing-md);

		.panel {
			background-color: var(--color--bg-main);
			border-radius: var(--rounding-lg);
			padding: var(--spacing-md);
			margin-bottom: var(--spacing-md);

			display: block;

			.hr {
				display: none;
			}

			.title {
				color: var(--color--fg-main);
				font: var(--text--body-large);
				text-transform: none;
				margin-top: 0;
			}
		}
	}
}

.slider_container {
	margin-block-start: var(--spacing-sm);

	height: var(--carousel--thumb-height);

	.handle {
		background: var(--color--secondary);
		border-radius: 40px;

		width: 36px;
		height: var(--carousel--thumb-height);
	}

	// TODO(mixins)
	.slider {
		background-color: var(--color--bg-main);

		inset: 0;
	}

	.slider_left,
	.slider_right {
		display: none;
	}
}

.slideshow_content {
	--item-margin: var(--spacing-sm);
	// Max image size
	--item-size-lg: 512px;
	--item-size-sm: 216.5px;
	--slideshow-item-width: calc(
		var(--item-size-lg) + var(--item-size-sm) + var(--item-margin)
	);

	max-width: var(--slideshow-item-width);

	.slideshow_item {
		width: var(--slideshow-item-width);
	}

	.workshop_item.square {
		background-color: var(--color--bg-main-50);
		border-radius: var(--rounding-md);

		width: var(--image-size);
		// 69px = footer height
		height: calc(var(--image-size) + 69px);

		&:hover {
			background-color: var(--color--bg-main);
		}

		&.large {
			--image-size: var(--item-size-lg);

			margin-inline-end: var(--item-margin);
		}

		&.small {
			--image-size: var(--item-size-sm);

			&:nth-child(2n) {
				margin-block-end: var(--item-margin);
			}
		}

		.preview_image {
			border: none;
			border-radius: var(--rounding-md) var(--rounding-md) 0 0;

			width: var(--image-size);
			height: var(--image-size);
		}

		.workshop_item_info {
			padding: var(--spacing-sm);

			display: flex;
			flex-direction: column-reverse;
		}

		.workshop_item_title {
			font: var(--text--heading-small);
		}
	}
}

.stats_table {
	color: var(--color--fg-dim);

	tr > td:first-child {
		color: var(--color--primary);
	}
}

.tag_category_desc {
	color: var(--color--fg-main);
	font: var(--text--body-large);
	text-transform: none;
	border-block-start: var(--border-sm) solid var(--color--bg-hl);
	padding-block-start: var(--spacing-md);
	margin-block: var(--spacing-md) var(--spacing-sm);
}

.tag_filter_control_not {
	--icon-name: icon("filter");

	@include utils.icon($remove: true);

	color: var(--color--fg-dim);
	margin: 0;
	margin-left: auto;

	&:hover {
		color: var(--color--fg-main);
	}

	&.checked {
		--icon-name: icon("filter-off");
	}
}

.user_action_history_icon {
	&[style="display: none"] {
		display: none;
	}
}

.workshop_browse_menu_area {
	@include controls.tabs-container;

	background-image: none;

	position: unset;
	height: unset;
}

.workshop_browse_search {
	all: unset;

	margin-inline-start: auto;

	&::after {
		content: "";

		@include controls.text-field-icon($name: "search");

		// TODO(vars): tabs
		margin-inline-end: 8px;
	}

	.search_text {
		all: unset;

		@include controls.text-field($variant: "search");

		// TODO(vars): tabs
		margin: -3px;

		&.default_text {
			color: var(--color--secondary);
		}
	}

	.search_text_submit_img {
		@include controls.text-field($variant: "search");

		visibility: hidden;
		// TODO(vars): tabs
		margin-inline-end: 8px;
	}
}

// TODO: simplify after unifying mixin sel args
.workshop_browse_tab {
	@include controls.tab(".active");

	&.active {
		border: none;
	}

	a {
		background-color: transparent;
		gap: var(--spacing-xxs);
		padding: var(--spacing-xs) var(--spacing-lg);
		margin: calc(var(--spacing-xs) * -1) calc(var(--spacing-lg) * -1);

		vertical-align: middle;
		display: flex;
		align-items: center;
	}

	.dropdown {
		background-image: none;

		&::after {
			content: "";

			display: block;

			@include utils.icon($name: "arrow");
		}
	}
}

.workshop_browsing {
	all: unset;

	margin-inline-end: var(--spacing-sm);
}

.workshop_browsing_section {
	all: unset;
}

.workshop_header {
	background-image: none;
	box-shadow: none;
	margin: auto;

	max-width: var(--content--width-sm);
	height: unset;

	&::before {
		@include -workshop-bg;
	}

	.browseAppDetails {
		display: block;
		height: 0;
	}

	#{controls.button-web-selector(".btnv6_blue_blue_innerfade")} {
		@include controls.button-vars($variant: "primary", $size: "sm");

		margin: 0;
		margin-inline-end: var(--spacing-sm);

		position: fixed;
		position-anchor: --apphub-top-right-buttons;
		inset-block-start: anchor(top);
		inset-inline-end: anchor(left);
	}

	.customBrowseText {
		font: 0/0 sans;
	}

	.customBrowseLink,
	.customBrowseTitle {
		display: none;
	}
}

.workshop_home_content {
	margin: auto;

	width: var(--content--width-sm);

	& > div {
		gap: var(--spacing-md);

		display: flex;
	}

	.left_column {
		padding: 0;

		width: unset;
	}

	.panel,
	.primary_panel_border {
		all: unset;
	}

	.primary_panel {
		background: none;

		.avatar_ctn,
		.current_player_workshop_title {
			display: none;
		}

		.browse_option {
			all: unset;

			a {
				@include apppage.sidebar-list-item;
			}
		}

		.current_player_files_ctn {
			display: flex;
		}

		.current_player_workshop_link {
			padding: 0;

			a {
				@include controls.dropdown;
			}
		}

		.current_player_workshop_title a {
			color: var(--color--fg-main);
			font: var(--text--heading-small);
			padding: 0;
		}

		.menu_panel {
			padding: 0;
		}
	}

	.right_column {
		@include layout.sidebar-container;

		br {
			display: none;
		}

		.browseTitle,
		.title {
			@include -sidebar-header;

			border-block-start: var(--border-sm) solid var(--color--bg-hl);
			padding-block-start: var(--spacing-md);
			margin-block-start: var(--spacing-md);
		}

		.tag_count {
			color: var(--color--fg-dim);
		}

		.tag_label {
			justify-content: space-between;
			width: 100%;
		}
	}

	.section {
		&.announcements_row h2 {
			@include -section-header();
		}

		&.popular_items_row {
			@include -section;
		}
	}

	.section_bottom_bar,
	.section_subtitle,
	.section_title,
	.section_title a {
		all: unset;
	}

	.section_title_ctn {
		@include -section-header;
	}
}

.workshop_item_header {
	@include -section;

	gap: var(--spacing-xl);
	box-shadow: none;

	.col_right {
		flex-shrink: 0;
		width: calc(var(--content--sidebar-width) - var(--spacing-xl));
	}

	.detailsStatLeft {
		color: var(--color--fg-dim);
		padding-block-start: var(--spacing-sm);
	}

	.detailsStatRight {
		color: var(--color--fg-main);
		padding-block-start: var(--spacing-sm);
	}

	.detailsStatNumChangeNotes {
		color: var(--color--fg-dim);
		font: inherit;
		padding-block-start: var(--spacing-sm);

		position: absolute;
		top: calc(3lh + var(--spacing-sm) * 3);

		a {
			font: inherit;
		}
	}

	.hr {
		display: none;
	}

	.rightDetailsBlock {
		font: inherit;
	}
}

.workshop_item_row {
	--image-size: 100px;

	background: var(--color--bg-main-50);
	border: none;
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);
	margin-bottom: var(--spacing-sm);

	&:hover {
		background-color: var(--color--bg-main);
	}

	.preview_image {
		border-radius: var(--rounding-md);
		margin-right: var(--spacing-md);

		width: var(--image-size);
		height: var(--image-size);
	}

	.workshop_item_rating {
		margin-block-start: var(--spacing-xxs);
		margin-inline-start: calc(var(--image-size) + var(--spacing-md));
	}
}

.workshop_item_tags {
	color: var(--color--fg-dim);
}

.workshop_item_title {
	color: var(--color--fg-main);
	font: var(--text--heading-medium);
	padding: 0;
}

.workshopBrowseItems {
	gap: var(--spacing-md);

	grid-template-columns: repeat(4, 1fr);
}

.workshopBrowsePaging {
	color: var(--color--fg-dim);
	font: var(--text--body-large);
	padding: 0;

	align-items: center;
	justify-content: space-between;

	.pagination_space {
		display: none;
	}
}

.workshopBrowsePagingControls {
	@include paging.links-container;

	margin: 0;

	.pagelink {
		@include paging.link($selected: "&.active");

		margin: 0;
	}
}

.workshopBrowsePagingInfo {
	color: inherit;
	font: inherit;
}

.workshopBrowsePagingWithBG {
	background-color: transparent;
	color: var(--color--fg-dim);
	font: var(--text--body-medium);
	padding: 0;
	margin-block: var(--spacing-sm) var(--spacing-xxl);

	align-items: center;

	.dropdown {
		@include controls.dropdown;

		margin: 0;
	}
}

.workshopBrowseSortingControls {
	gap: var(--spacing-xxs);

	display: flex;
	align-items: center;
}

.workshopItem {
	--image-size: 179px;

	background-color: var(--color--bg-main-50);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);
	margin: 0;

	width: calc(var(--image-size) + var(--spacing-md) * 2);

	&:has(> .workshop_checkmark:not([style="display: none;"]))::before {
		content: "";

		position: absolute;
		inset-block-end: var(--spacing-md);
		inset-inline-end: var(--spacing-md);

		color: var(--color--accent-green);

		@include utils.icon($name: "check", $size: "lg");
	}

	// BYE I'm too lazy for ts
	.fileRating {
		display: none;
	}

	.general_btn.subscribe {
		--size: calc(var(--icon--size-md) + var(--spacing-lg));

		background-color: var(--color--bg-main-50);

		min-width: var(--size);
		min-height: var(--size);

		.subscribeIcon {
			@include utils.icon("plus");

			background-image: none;
		}
	}

	.ugc {
		margin-bottom: var(--spacing-sm);
	}

	.workshop_checkmark {
		display: none;
	}
}

.workshopItemAuthorName {
	color: var(--color--fg-dim);
	font: var(--text--body-small);
	margin-top: var(--spacing-xxs);
}

.workshopItemControls {
	padding: 0;
	margin-block-start: var(--spacing-md);

	.general_btn {
		@include controls.button-vars("secondary");

		margin-right: var(--spacing-sm);

		height: unset;

		&#ReportItemBtn {
			@include -icon("flag");
		}

		&#VoteDownBtn {
			@include -icon("thumb-up");

			&::before {
				transform: rotate(180deg);
			}
		}

		&#VoteUpBtn {
			@include -icon("thumb-up");
		}
	}

	.vertical_divider {
		display: none;
	}
}

.workshopItemDescription {
	color: var(--color--fg-main);
	font: var(--text--body-large);
	padding: 0;
	margin: 0;
}

.workshopItemDescriptionTitle {
	@include -section-header;

	text-transform: none;
	margin-top: 0;

	& > .detail {
		font: inherit;
		margin: 0;
	}
}

.workshopItemDetailsHeader {
	margin-block-end: 12px;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;

	#detailsHeaderRight {
		padding: 0;
	}

	.numRatings {
		color: var(--color--fg-dim);
		font: var(--text--body-medium);
	}

	.ratingSection {
		gap: var(--spacing-sm);

		display: flex;
		align-items: center;
	}
}

.workshopItemPreviewArea {
	margin: 0;
}

.workshopItemPreviewImage {
	width: inherit;
	height: inherit;
}

// TODO(js): image size
.workshopItemPreviewImageEnlargeableContainer {
	background-color: var(--color--bg-main-50);
	border-radius: var(--rounding-lg);
}

.workshopItemPreviewImageMain {
	border-radius: var(--rounding-lg);
	padding: 0;
	margin: 0;
	margin-bottom: 12px;

	width: inherit;

	& > a {
		width: inherit;
	}
}

.workshopItemPreviewHolder {
	border-radius: var(--rounding-md);
	box-shadow: none;

	width: var(--image-size);
	height: var(--image-size);
}

.workshopItemRatings {
	padding-bottom: var(--spacing-sm);
}

.workshopItemSubscriptionControls {
	right: var(--spacing-sm);
	bottom: var(--spacing-sm);
}

.workshopItemTitle {
	color: var(--color--fg-main);
	font: var(--text--heading-small);
	margin: 0;
}

.workshopTags {
	font-size: 0;
	gap: 4px;
	padding: 0;
	margin-bottom: 8px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	a {
		@include store.tag;
	}
}

.workshopTagsTitle {
	color: var(--color--fg-dim);
	font: var(--text--body-medium);
	margin-right: 12px;
}
