@use "shared/controls";

%-menu-item {
	font: var(--text--body-small);
	border-radius: var(--rounding-md);
	padding: 6.5px 13px;

	width: 100%;

	&:hover {
		background-color: var(--color-bg-hl);
	}
}

#Buttons {
	margin: 0;
}

#Checkbox {
	@extend %-menu-item;

	&:has(> .DialogCheckbox.Active) {
		color: var(--color-primary);
	}

	.DialogCheckbox {
		display: none;
	}
}

#CompatDropDown {
	margin-block: 0 var(--spacing-xs);

	&#ValueSelected {
		--button--secondary-fg: var(--color-primary);
	}

	.DialogDropDown {
		@extend %-menu-item;

		background-color: transparent;
		font: inherit;
		border: none;

		max-width: unset;
	}
}

#CompatDropDownOption {
	align-items: center;

	svg {
		width: var(--icon--size-md);
		height: var(--icon--size-md);
	}
}

#Container {
	padding: var(--spacing-lg);

	.DialogInput_Wrapper {
		margin: 0;
	}
}

#FilterArea {
	gap: var(--spacing-lg);

	flex-grow: 1;
}

#FilterBucket {
	&:not(
		#Player,
		#PlayState,
		#LanguageAndGenre,
		#LanguageAndGenre > &:not(#Genre)
	) {
		border-top: var(--border-sm) solid var(--color-bg-hl);
		padding-top: var(--spacing-sm);
	}
}

#FilterBucketBoxes {
	padding: 0;
}

#FilterBucketLabel {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	text-transform: unset;
	margin-bottom: var(--spacing-sm);
}

#Filters {
	gap: var(--spacing-lg);
}

#Header {
	display: none;
}

#Row {
	&:not(:last-child) {
		margin-bottom: var(--spacing-xs);
	}

	& > .tool-tip-source {
		width: 100%;
	}
}
