@use "client/gamelist";

#Container {
	background: linear-gradient(
		90deg,
		var(--bg-hl) 0%,
		rgba(38, 44, 51, 0.278) 99.99%,
		rgba(38, 44, 52, 0) 100%
	);
}

#GameListHomeAndSearch {
	@include gamelist.part-container;

	box-shadow: none;

	position: absolute;
	anchor-name: --gamelisthomeandsearch;
	top: 0;
	height: unset;
}

#HomeBox {
	overflow: visible;
	flex-grow: 0;
}
