@use "client/gamelist";
@use "shared/controls";
@use "shared/utils";
@use "web/store";

@mixin -search-input {
	@include controls.search-input;

	background: var(--bg-main-20);
}

#AdvancedSearchButton {
	@include gamelist.icon-button("filter", "#ContainerHide");

	color: var(--fg-dim);

	min-width: unset;

	// Fix some bullshit CSS behavior
	& > div {
		display: flex;
	}
}

#AdvancedSearchContainer {
	background-color: transparent;

	height: unset;

	svg {
		margin: 0;
	}
}

#AdvancedSearchPane {
	background-color: var(--bg-main);
	border-radius: var(--border-radius-large);
	box-shadow: none;

	top: 100%;
	left: 0;

	&::before {
		display: none;
	}
}

#Container {
	@include gamelist.part-container;

	border-radius: 0;
	padding-block: calc(var(--spacing-sm) + 2px);
	padding-left: var(--library_gamelist-bar-spacing);
	margin: 0;

	position: absolute;
	position-anchor: --gamelisthomeandsearch;
	anchor-name: --gamelistsearchbar;
	top: anchor(top);
	left: anchor(right);

	.DialogInput {
		@include -search-input;
	}

	// TODO(shared/dialog): Is this seen elsewhere ?
	.DialogInput_ClearAction {
		@extend #SearchFilterInputClear;
	}

	.DialogInput_Wrapper {
		position: relative;

		&:has(> .DialogInput_ClearAction)::after {
			display: none;
		}

		&::after {
			content: "";

			@include utils.icon("search");

			position: absolute;
			right: var(--spacing-md);

			color: var(--color-secondary);
		}
	}
}

#FilterTag {
	@include store.tag;

	padding-block: 0;
	margin: 0;

	align-items: center;
	height: unset;

	// Fix some bullshit CSS behavior (see above), but this time make it
	// centered
	& > div {
		display: flex;
	}

	svg {
		// Not half of that, since that makes it even smaller than that for
		// whatever reason
		--icon-size: 15px;

		@include utils.icon($name: "close", $remove: true);

		opacity: 1;
		margin-left: 6px;

		&:hover {
			color: var(--fg-main);
		}
	}
}

#SearchByTypePrompt {
	color: var(--color-secondary);
	font: var(--gpText-BodyLarge);
	padding: 4px 0;
}

#SearchFilterInput {
	&:empty {
		display: none;
	}

	&:not(:empty) {
		@include -search-input;

		gap: 3px;
		--spacing-sm: var(--spacing-xs);
	}
}

#SearchFilterInputClear {
	@include utils.icon($name: "close", $remove: true);

	color: var(--color-secondary);

	top: calc(50% - var(--icon-size) / 2);
	right: var(--spacing-md);

	&:hover {
		color: var(--color-primary);
	}
}
