#Container {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	box-shadow: none;
	border: none;
	border-radius: var(--rounding-md);

	&#Selected,
	&:hover {
		background-color: var(--color-bg-hl);
	}

	&#Installed,
	&#Running {
		color: var(--color-fg-main);
	}

	&#Updating {
		color: var(--color-primary);
	}
}

#DownloadProgress {
	color: var(--color-secondary);
}

#AppIconDownloading,
#GameIcon {
	--size: 21px;

	border-radius: var(--rounding-md);
	margin-inline-end: 12px;

	width: var(--size);
	height: var(--size);
}

#GameListEntryContainer {
	padding: 3px 8px;
}
