@use "client/gamelist";
@use "shared/controls";

#Arrow {
	display: none;
}

#Bar {
	@include gamelist.part-container;

	anchor-name: --gamelistdropdown;
	padding-block: calc(var(--spacing-sm) + 2px);
	padding-left: var(--library_gamelist-bar-spacing);

	position: fixed;
	position-anchor: --gamelistsearchbar;
	top: anchor(top);
	left: anchor(right);

	&::before {
		content: "";

		position: fixed;
		position-anchor: --gamelistdropdown;
		top: anchor(top);
		bottom: anchor(bottom);
		left: anchor(right);
		width: 100%;

		background-color: var(--color-bg-tertiary);
	}
}

#CheckboxWithImage {
	@include gamelist.icon-button("name", "#Active");

	color: var(--color-fg-dim);
	margin: 0;

	width: unset;
	height: unset;

	.SVGIcon_LinuxLogo {
		--icon-name: icon("steam-circled");
	}

	.SVGIcon_SortBy {
		--icon-name: icon("clock");
	}

	.SVGIcon_ReadyToPlay {
		--icon-name: icon("play-circle");
	}
}

#Filters {
	gap: var(--spacing-xs);
}

#MenuHeader {
	@include controls.dropdown;

	width: unset;
	height: unset;
}

#ViewFiltersBar {
	margin: 0;

	svg {
		transform: unset;
	}
}
