@use "shared/controls";

#Bar {
	@include controls.button;

	background-color: transparent;
	margin: 0;

	height: unset;

	&#Selected {
		@include controls.button-vars("primary");
	}
}

#CollectionButton {
	letter-spacing: 0;
}

#CollectionIcon {
	all: unset;

	// TODO(localization):
	&::before {
		content: "Collections";
	}
}

#CollectionIconBox {
	display: none;
}

#Icon {
	display: none;
}

#Label {
	color: inherit;
	font: inherit;
	margin: 0;
}
