@use "client/gamelist";
@use "shared/controls";

#Arrow {
	display: none;
}

#Bar {
	@include gamelist.part-container;

	anchor-name: --gamelistdropdown;

	position: fixed;
	position-anchor: --gamelistsearchbar;
	top: anchor(top);
	left: anchor(right);

	&::before {
		content: "";

		position: fixed;
		position-anchor: --gamelistdropdown;
		top: anchor(top);
		bottom: anchor(bottom);
		left: anchor(right);
		width: 100%;

		background-color: var(--color-bg-tertiary);
	}
}

#CheckboxWithImage {
	@include gamelist.icon-button("name", "&#Active");

	margin: 0;

	width: unset;
	height: unset;
}

#Filters {
	gap: var(--spacing-xs);
}

#MenuHeader {
	@include controls.dropdown;

	background-color: var(--library_gamelist-bar-button-bg);
	font: var(--text--body-medium);

	width: unset;
	height: unset;
}

#ScrollToTop {
	display: none;
}

#ViewFiltersBar {
	margin: 0;

	svg {
		transform: unset;
	}
}
