@use "client/gamelist";
@use "shared/controls";
@use "shared/utils";
@use "web/store";

#AdvancedSearchButton {
	@include gamelist.icon-button(
		"filter",
		"#AdvancedSearchContainer#Extended &"
	);

	// Fix some bullshit CSS behavior
	& > div {
		display: flex;
	}
}

#AdvancedSearchContainer {
	all: unset;

	svg {
		margin: 0;
	}
}

#AdvancedSearchPane {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	box-shadow: none;

	top: 100%;
	left: 0;
}

#AdvancedSearchPaneContainer {
	&::before {
		display: none;
	}
}

#Container {
	--text-field--width: 374px;

	@include gamelist.part-container;

	border-radius: 0;
	margin: 0;

	position: absolute;
	position-anchor: --gamelisthomeandsearch;
	anchor-name: --gamelistsearchbar;
	top: anchor(top);
	left: anchor(right);

	.DialogInput {
		@include controls.text-field($variant: "search");

		background-image: none;

		height: unset;
	}

	// TODO(shared/dialog): Is this seen elsewhere ?
	.DialogInput_ClearAction {
		@extend #SearchFilterInputClear;
	}

	.DialogInput_Wrapper {
		position: relative;
		width: var(--text-field--width);

		&:has(> .DialogInput_ClearAction)::after {
			display: none;
		}

		&::after {
			content: "";

			@include controls.text-field-icon($name: "search");
		}
	}
}

#FilterTag {
	@include store.tag;

	margin: -6.5px 0;

	align-items: center;
	height: unset;

	// Fix some bullshit CSS behavior (see above), but this time make it
	// centered
	& > div {
		display: flex;
	}

	svg {
		@include utils.icon($name: "close", $remove: true, $size: "sm");

		opacity: 1;
		margin-left: var(--spacing-xxs);

		&:hover {
			color: var(--color-fg-main);
		}
	}
}

#SearchByTypePrompt {
	color: var(--color-secondary);
	font: var(--text--body-medium);
	padding: 0;
}

#SearchFilterInput {
	@include controls.text-field($variant: "search");

	gap: var(--spacing-xxs);

	align-items: center;
	width: var(--text-field--width);

	// In appfilterpane
	&:empty {
		display: none;
	}
}

#SearchFilterInputClear {
	@include controls.text-field-icon($name: "close");
}

#SearchInput {
	--text-field--search-bg: var(--library_gamelist-bar-button-bg);
}
