#Container {
	margin: var(--spacing-sm);

	width: calc(100% - var(--spacing-sm) * 2);

	.ReactVirtualized__Grid {
		padding-inline-end: var(--spacing-sm);
	}

	::-webkit-scrollbar-thumb {
		background-color: var(--color-bg-hover);
		border: none;
		border-radius: 0;

		width: 9px;

		&:hover {
			background-color: var(--color-secondary);
		}

		&:active {
			background-color: var(--color-primary);
		}
	}
}
