@use "shared/settings";

#AvatarDialogTop {
	@include settings.section;
}

#AvatarDialogUploadArea {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	margin: 0;
}

#AvatarRow {
	padding: 0;

	#size {
		padding-top: var(--spacing-md);
		font: var(--text--body-small);
	}
}
