@use "shared/settings";

#AvatarDialogTop {
	@include settings.section;
}

#AvatarDialogUploadArea {
	color: var(--color--fg-dim);
	font: var(--text--body-medium);
	margin: 0;
}

#AvatarRow {
	padding: 0;

	img {
		border-radius: var(--rounding-md);
	}

	#size {
		padding-top: var(--spacing-sm);
		font: var(--text--body-small);
	}
}
