@use "shared/settings";

#AvatarCollection {
	@include settings.section;
}

#AvatarCollectionHeader {
	margin-bottom: var(--spacing-lg);
}

#AvatarCollectionName {
	color: var(--fg-dim);
	font: var(--gpText-HeadingMedium);
}

#CollectionGroup {
	margin-bottom: 0;

	&#Primary {
		margin-bottom: var(--spacing-xl);

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		& > #Title {
			display: none;
		}
	}

	&:not(#Primary) {
		#Title {
			color: var(--fg-main);
			font: var(--gpText-HeadingSmall);
			margin-bottom: 0;
		}
	}
}

#AvatarPreview {
	margin-right: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);

	img {
		border-radius: var(--border-radius);
	}
}
