@use "shared/settings";

#AvatarDialogTop {
	@include settings.section;
}

#AvatarDialogUploadArea {
	color: var(--fg-dim);
	font: var(--gpText-BodyMedium);
	margin: 0;
}

#AvatarRow {
	padding: 0;

	#size {
		padding-top: var(--spacing-md);
		font: var(--gpText-BodySmall);
	}
}
