@use "shared/settings";

#AvatarCollection {
	@include settings.section;
}

#AvatarCollectionHeader {
	margin-bottom: var(--spacing-lg);
}

#AvatarCollectionName {
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
}

#CollectionGroup {
	margin-bottom: 0;

	&#Primary {
		margin-bottom: var(--spacing-xxl);

		display: grid;
		grid-template-columns: repeat(2, 1fr);

		& > #Title {
			display: none;
		}
	}

	&:not(#Primary) {
		#Title {
			color: var(--color-fg-main);
			font: var(--text--heading-small);
			margin-bottom: 0;
		}
	}
}

#AvatarPreview {
	margin-right: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);

	img {
		border-radius: var(--avatar--border-radius);
	}
}
