@use "shared/controls";
@use "shared/settings";

#HTMLErrorBox {
	background: var(--accent-red);
	color: var(--fg-main);
	border-radius: var(--border-radius-large);
	padding: var(--spacing-sm);
	margin-top: 0;
	margin-bottom: var(--spacing-lg);
}

#ItemPickerCtn {
	@include settings.section;
}

#ItemPickerList {
	// It fits now
	grid-template-columns: repeat(var(--columns, 4), 1fr);
}

#ProfileBox {
	@include settings.section;

	.DialogInput {
		width: 312px;
	}

	// TODO: can't use ::after here... idk man
	.react-select__control {
		@include controls.dropdown;

		width: 312px;
	}

	.react-select__indicator,
	.react-select__indicator-separator {
		display: none;
	}

	.react-select__value-container {
		padding: 0;
	}
}

#ProfileBoxContent {
	padding: 0;
	margin-top: var(--spacing-lg);
}

#ProfileBoxTitle {
	all: unset;
	color: var(--fg-dim);
	font: var(--gpText-HeadingMedium);
}
