@use "shared/controls";
@use "web";

#HTMLErrorBox {
	background: var(--color--accent-red);
	color: var(--color--fg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-sm);
	margin-top: 0;
	margin-bottom: var(--spacing-lg);
}

#ItemPickerCtn {
	@include web.section--container;
}

#ItemPickerList {
	// It fits now
	grid-template-columns: repeat(var(--columns, 4), 1fr);
}

#ProfileBox {
	@include web.section--container;
}

#ProfileBoxContent {
	padding: 0;
}

#ProfileBoxTitle {
	@include web.section--header;

	letter-spacing: 0;
	text-transform: none;
	border: none;
	padding: 0;
}

#SaveCancelButtons {
	gap: var(--spacing-sm);
}
