body.profile_edit_page {
	background: #11171e;

	.DialogBodyText,
	.DialogHeader {
		display: none;
	}

	.maincontent {
		margin-top: var(--content--spacing-block-start);
	}
}

.profile_small_header_bg {
	display: none;
}
