#GroupDetails {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
}

#Group {
	margin: 0;

	// V*lve forgot about that
	align-items: center;
}

#FavoriteGroup {
	padding: 0;
	margin-bottom: var(--spacing-lg);

	& + div {
		--columns: 3;
	}
}
