#BadgeDetails {
	color: var(--color-fg-main);
	font: var(--text--heading-small);

	#GameName {
		color: var(--color-fg-dim);
		font: var(--text--body-large);
	}
}

#BadgeOption {
	margin: 0;

	// V*lve forgot about that
	align-items: center;
}

#FavoriteBadge {
	& + div {
		--columns: 3;
	}
}
