@use "shared/controls";
@use "shared/settings";
@use "shared/utils";

.ProfilePrivacyCheckbox {
	padding: 0;

	label {
		align-items: center;
	}
}

.ProfilePrivacyCheckbox_Input {
	margin: 0;
}

.ProfilePrivacyDesc {
	@include settings.section;

	color: var(--color--fg-dim);
	border-start-start-radius: 0;
	border-start-end-radius: 0;
}

.ProfilePrivacyDropDown {
	text-decoration: none;
	margin-inline-start: var(--spacing-sm);

	&.readonly {
		color: var(--color--fg-dim);
		padding: 0;
	}
}

.ProfilePrivacyHeader {
	@include settings.section;

	color: var(--color--primary);
	font: var(--text--heading-medium);
	border-end-start-radius: 0;
	border-end-end-radius: 0;
	padding-bottom: 0;
	margin: 0;

	display: flex;
	align-items: center;
}

.ProfilePrivacyHR {
	display: none;
}

.ProfilePrivacyRoot {
	color: var(--color--fg-main);
	font: var(--text--body-large);
}

.ProfilePrivacyRoot_Indent {
	padding: 0;
}

.PrivacySaveNotice {
	color: inherit;
	font: var(--text--body-large);
}
