@use "shared/controls";
@use "shared/settings";
@use "shared/utils";

.ProfilePrivacyCheckbox {
	padding: 0;

	label {
		align-items: center;
	}
}

.ProfilePrivacyCheckbox_Input {
	margin: 0;
}

.ProfilePrivacyDesc {
	@include settings.section;

	a {
		text-decoration: underline;
	}
}

.ProfilePrivacyDropDown {
	color: var(--color-fg-dim);

	&:not(.readonly):hover {
		color: var(--color-fg-main);
	}

	&.readonly {
	}
}

.ProfilePrivacyDropDown_Arrow {
	@include utils.icon($name: "arrow", $size: "lg");

	vertical-align: sub;
}

.ProfilePrivacyHeader {
	@include settings.section;

	color: var(--color-primary);
	font: var(--text--heading-medium);
	padding-bottom: 0;
	margin: 0;

	display: flex;
	align-items: center;
}

.ProfilePrivacyHR {
	display: none;
}

.ProfilePrivacyRoot {
	color: var(--color-fg-main);
	font: var(--text--body-large);
}

.ProfilePrivacyRoot_Indent {
	padding: 0;
}

.PrivacySaveNotice {
	color: inherit;
	font: var(--text--body-large);
}
