#Details {
	padding-block: var(--spacing-xxs) 0;

	#BackgroundOption#Active & {
		#App {
			color: color-mix(
				in srgb,
				var(--color--primary) 25%,
				var(--color--fg-dim)
			);
		}

		#Title {
			color: var(--color--primary);
		}
	}

	#App {
		color: var(--color--fg-dim);
		font: var(--text--body-medium);
	}

	#Title {
		font: var(--text--heading-small);

		// AMAZING
		overflow: hidden;
		text-overflow: ellipsis;
	}
}

#ProfileBackgroundEquipOption {
	margin: 0;

	&:first-child > .DialogRoundCheckboxField_Container {
		border-radius: var(--rounding-lg) var(--rounding-lg) 0 0;
	}

	&:last-child > .DialogRoundCheckboxField_Container {
		border-radius: 0 0 var(--rounding-lg) var(--rounding-lg);
	}

	.DialogRoundCheckboxField_Container {
		&:not(.Active, :hover) {
			background-color: var(--color--bg-hl);
		}

		// Bro what
		&.Active.Disabled {
			opacity: 1;
		}
	}
}

#ProfileBackgroundEquipOptions {
	margin-block: var(--spacing-lg);
}
