#Details {
	padding-block: var(--spacing-xs) 0;

	#BackgroundOption#Active & {
		#App {
			color: color-mix(in srgb, var(--color-primary) 25%, var(--color-fg-dim));
		}

		#Title {
			color: var(--color-primary);
		}
	}

	#App {
		color: var(--color-fg-dim);
		font: var(--text--body-medium);
	}

	#Title {
		font: var(--text--heading-small);

		// AMAZING
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
