@use "shared/controls";
@use "shared/utils";
@use "web";

#BackToProfileCtn {
	padding: 0;
	margin-bottom: var(--spacing-sm);

	a {
		@include controls.button;

		text-decoration: none;
	}
}

#Navigation {
	@include web.layout--sidebar-container;
}

#NavLink {
	@include web.layout--sidebar-item("#Active");

	line-height: unset;
}

// #profilethemecolors_DefaultTheme (and others... that's why it's here)
#PageContent > div {
	--btn-background: color-mix(in srgb, var(--color--bg-hl) 50%, transparent);
	--btn-background-hover: color-mix(
		in srgb,
		var(--color--bg-hover) 50%,
		transparent
	);
	--gradient-background: color-mix(
		in srgb,
		var(--color--bg-hover) 35%,
		transparent
	);
}

#ProfileEditLine {
	border-block-start: var(--border-md) solid var(--color--bg-hover);
	margin-block: var(--spacing-sm);
}

#Shell {
	color: var(--color--fg-main);
	font: var(--text--body-large);
	margin: 0;

	.DialogCheckbox_Container {
		flex-direction: row-reverse;
		justify-content: start;
	}

	.DialogInput {
		@include controls.text-field($variant: "transparent");

		width: 312px;
	}

	.DialogDropDown {
		width: 312px;
	}

	.DialogLabel {
		color: var(--color--fg-main);
		font: var(--text--heading-small);
		margin: 0;

		flex-shrink: 0;
		display: flex;
		align-items: center;
		width: 265px;

		svg {
			@include utils.tooltip-icon;

			margin: 0;

			path {
				display: none;
			}
		}

		// wtf is this shit
		.HelperTooltip {
			margin-inline-start: var(--spacing-xxs);

			height: var(--icon--size-md);
		}
	}

	// can't fit this shit
	.DialogLabelExplainer {
		display: none;
	}

	.DialogToggle_Label {
		width: 265px;
	}
}
