@use "shared/controls";
@use "shared/utils";
@use "web/layout";

#BackToProfileCtn {
	margin-bottom: var(--spacing-lg);

	a {
		@include controls.button;

		text-decoration: none;
	}
}

#Navigation {
	@include layout.sidebar-container;
}

#NavLink {
	@include layout.sidebar-item("#Active");

	line-height: unset;
}

// #profilethemecolors_DefaultTheme (and others... that's why it's here)
#PageContent > div {
	--btn-background: color-mix(in srgb, var(--bg-hl) 50%, transparent);
	--btn-background-hover: color-mix(in srgb, var(--bg-hover) 50%, transparent);
	--gradient-background: color-mix(in srgb, var(--bg-hover) 35%, transparent);
}

#Shell {
	font: var(--gpText-BodyLarge);

	margin: 0;

	.DialogButton {
		margin-left: var(--spacing-md);
	}

	.DialogCheckbox_Container {
		flex-direction: row-reverse;
		justify-content: start;
	}

	.DialogLabel {
		all: unset;
		color: var(--fg-main);
		font: var(--gpText-HeadingSmall);
		width: 265px;

		svg {
			@include utils.tooltip-icon;

			margin: 0;

			path {
				display: none;
			}
		}
	}

	// can't fit this shit
	.DialogLabelExplainer {
		display: none;
	}

	.DialogToggle_Label {
		width: 265px;
	}
}
