@use "shared/controls";
@use "shared/utils";

.customization_controls {
	background-color: var(--color--bg-main);
	border-radius: var(--rounding-lg) var(--rounding-lg) 0 0;
	padding: var(--spacing-lg);
	margin: 0;

	display: flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;

	select {
		@include controls.dropdown;
	}

	// weird empty div
	& > [id]:empty {
		display: none;
	}
}

.customization_controls_nextprev {
	gap: var(--spacing-sm);

	display: flex;
}

.customization_edit_area {
	background: transparent;
	margin-bottom: var(--spacing-md);

	#{controls.button-web-selector(".btn_grey_black")} {
		@include controls.button;
	}

	.emoticon_container {
		@include controls.button;
	}

	.profile_customization {
		margin-bottom: 0;
	}

	.profile_customization_block {
		background-color: var(--color--bg-hl);
	}

	.showcase_content_bg {
		background-color: transparent;
		padding: 0;
	}

	[style="text-align: right;"] {
		margin-top: var(--spacing-sm);
	}

	// This looks much better
	input[type="text"],
	textarea {
		background-color: var(--color--bg-main-20);
		border: none;

		&:hover {
			background-color: var(--color--bg-main-50);
		}
	}
}

.customtext_showcase_editheader {
	background: linear-gradient(
		90deg,
		var(--gradient-showcase-header-left) 0%,
		var(--color--showcase-header) 90%
	);
	font: var(--text--body-large);
	color: var(--color--fg-main);
	padding: var(--spacing-sm);
	margin: 0;
}

.profile_showcase_drag_and_drop_highlight {
	border: var(--border-md) dashed var(--color--fg-main);
	background-color: var(--color--fg-dim);
	margin-block: 0 var(--spacing-lg);
}

.profile_showcase_drag_handle {
	@include utils.icon($name: "drag-handle", $size: "lg");

	&:not(:hover) {
		color: var(--color--fg-dim);
	}

	img {
		display: none;
	}
}

.profile_showcase_selection_options_ctn {
	gap: var(--spacing-sm);

	position: relative;
	max-width: unset;

	&::before {
		--lh: calc(var(--text--line-height) - (var(--text--line-height) - 1) / 2);

		content: "";

		position: absolute;
		inset-block-start: calc(var(--button--spacing-block-md) * var(--lh));
		inset-inline-start: calc(469px - var(--button--spacing-inline) * 2);
		z-index: 1;

		@include utils.icon($name: "arrow");
	}
}

.profile_showcase_selector {
	background: none;
	border: none;
	padding: 0;
	margin-bottom: var(--spacing-lg);
}

.profile_showcase_sort_btn {
	@include utils.icon($name: "arrow", $size: "lg");

	border: none;
	margin: 0;

	&:not(:hover) {
		color: var(--color--fg-dim);
	}
}

.profile_showcase_sort_controls {
	gap: var(--spacing-xxs);

	display: flex;
	position: unset;
}

.profile_showcase_sort_up {
	transform: rotate(180deg);
}

.showcase_preview_ctn {
	background-color: var(--color--bg-main);
	border-radius: 0 0 var(--rounding-lg) var(--rounding-lg);
	padding: var(--spacing-lg);
	padding-top: 0;

	width: unset;

	&:has(> .customization_edit.none_selected:not([style="display: none;"])) {
		display: none;
	}
}

.showcase_selection_pre,
.showcase_selection_post {
	display: none;
}
