@use "shared/controls";

#formattingButton {
	@include controls.button;

	// Yellow highlight
	.tool-tip-source > div {
		display: none;
	}
}

#summaryTextArea {
	@include controls.text-field;

	box-shadow: none;
}
