@use "shared/controls";

#formattingButton {
	@include controls.button;

	// Yellow highlight
	.tool-tip-source > div {
		display: none;
	}
}

#summaryTextArea {
	@include controls.text-field($variant: "transparent");

	box-shadow: none;

	width: 100%;
	min-height: 150px;
}
