@use "shared/controls";

%-box {
	background-color: var(--color-bg-main-50);
	border-radius: var(--rounding-md);

	min-height: 200px;
}

.community_home_app_shortcuts {
	@extend %-box;

	.appHubShortcut {
		margin-bottom: var(--spacing-xs);

		height: unset;
	}

	.appHubShortcut_Icon {
		--size: calc(var(--icon--size-sm) * 2);

		width: var(--size);
		height: var(--size);
	}

	.appHubShortcut_Title {
		font: var(--text--body-medium);
	}

	.new_items_num,
	.new_items_text {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
	}
}

.community_home_app_shortcuts_list_header {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	text-transform: none;
}

.community_home_header,
.community_home_sort_options {
	padding: 0;
	padding-block: 24px 48px;
	margin: 0 auto;

	max-width: var(--apphub_content-width);
}

.community_home_search_apps,
.community_home_search_players {
	@include controls.text-field;

	box-shadow: none;
	margin: 0;

	height: unset;

	.appHubSearchTextForm {
		all: unset;
	}

	.community_home_search_app_input,
	.community_home_search_players_input {
		all: unset;

		&::placeholder {
			color: var(--color-fg-dim);
		}
	}

	.community_home_search_apps_image,
	.community_home_search_players_image {
		background-color: transparent;
		content: icon("search");

		inset: var(--spacing-md);
		left: unset;
	}
}

.community_home_search_box {
	@extend %-box;
}

.community_home_search_divider {
	background-color: transparent;
	border-top-color: transparent;
	margin-block: var(--spacing-sm);
}

.community_home_search_title {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	text-transform: none;
	padding-bottom: var(--spacing-xs);
}

.community_home_shortcut_content {
	padding: var(--spacing-md);
}

.community_home_sort_buttons {
	@include controls.tabs-container;

	color: var(--color-fg-dim);

	align-items: center;

	#{controls.button-web-selector(".btn_small")} {
		all: unset;

		@include controls.tab(".btn_darkblue_white_innerfade");

		box-shadow: none;
	}
}

.community_home_subtitle {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
	padding: 0;
}

.community_home_tabs {
	padding: 0;

	max-width: var(--apphub_content-width);
}

.community_home_title {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
}
