@use "shared/controls";

// TODO:
// https://store.fastly.steamstatic.com/images/storepagebackground/app/2052410?t=1753952335
// https://shared.steamstatic.com/store_item_assets/steam/apps/2052410/page_bg_raw.jpg?t=1753952335

.apphub_AppName {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
}

.apphub_HeaderBottomBG_ctn {
	display: none;
}

.apphub_HeaderTop {
	background-image: none;
	padding: 0;
}

.apphub_HomeHeader {
	margin-bottom: calc(13px + var(--spacing-lg));

	max-width: var(--apphub_content-width);
}

.apphub_HomeHeaderContent {
	padding-top: var(--top-content-margin);

	width: 100%;
	max-width: var(--apphub_content-width);

	.apphub_HeaderStandardTop {
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		min-height: unset;
	}
}

.apphub_sectionTab {
	@include controls.tab(".active");

	background-image: none;
	margin: 0;

	height: unset;

	span {
		all: unset;
	}
}

.apphub_sectionTabs {
	@include controls.tabs-container;

	margin: 0;
	margin-block: 24px 48px;
}

.apphub_sectionTabsHR {
	display: none;
}

.apphub_WorkshopPistonHolder {
	display: none;
}
