.country_settings {
	font: var(--text--heading-small);

	[style="margin-top: 10px"] {
		font: var(--text--body-large);
		margin-block: var(--spacing-sm);
	}
}

.phone_header_description {
	font: var(--text--heading-small) img {
		display: none;
	}
}
