@use "shared/controls";

#ActiveNow,
#AuthorizedDevicesRecentHeader {
	color: var(--color-fg-main);
	font: var(--text--heading-medium);
	margin-top: var(--spacing-lg);
}

#ActiveNowDot {
	display: none;
}

#DetailsToggle {
	display: none;
}

#DeviceContainer {
	@include controls.button;

	margin: 0;

	&#ActiveDevice {
		@include controls.button-vars("primary");
	}
}

#DeviceContent {
	padding: 0;
}

#DeviceGroup {
	gap: var(--spacing-xs);
	padding: 0;
}

#DeviceHeaderRow {
	font: var(--text--heading-small);
}

#DeviceLogo {
	color: inherit;
	margin: 0;
}

#DeviceName {
	color: inherit;
	font: inherit;
}

#LastActive {
	color: inherit;
	font: inherit;
}

#LastSeenRow {
	color: var(--color-fg-dim);
	font: var(--text--body-large);
}

#RemoveDevicesRow {
	background-color: transparent;
	padding: 0;
	margin: 0;

	.DialogButton.DialogButton {
		@include controls.button-vars("red");

		// Some guy really thought putting an !important would be hilarious af
		&:hover {
			background-color: var(--bg2);
		}
	}
}

// yes, I know this is my current device, tyvm
#ThisDevice {
	display: none;
}
