@use "shared/controls";

#AllButton {
	@include controls.button;

	&#ButtonHighlight {
		@include controls.button-vars("primary");
	}
}

#ButtonGroup {
	background-color: transparent;
	padding: 0;
	margin: 0;

	justify-content: start;
}

#CookieGroup {
	padding: 0;
}

#NecessaryDesc {
}

#NecessaryGroup {
}

#NecessaryTitle {
}

#SectionDescription {
	color: var(--color-fg-dim);
}
