#FamilyContainer {
	margin: 0;
}

#FamilySettingsContainer {
	background-color: var(--color-bg-main);
	padding: var(--spacing-lg);
	font: inherit;
}

#OnboardSplashButton {
}

#WallOfText {
	margin: 0;
}
