@use "shared/controls";
@use "shared/utils";
@use "web/store";

.market_header_bg {
	background-color: transparent;

	margin-block: var(--top-content-margin);
}

.market_header_logo {
	background-image: none;

	width: unset;
	height: unset;
}

.market_header_text {
	gap: 12px;
	padding: 0;

	display: flex;
	flex-direction: column;
	width: unset;
}

.market_title_text {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
}

.market_search_results_header {
	font: inherit;
	gap: var(--spacing-xs);
	padding: 0;

	min-height: unset;

	& > div {
		margin: 0;
	}

	.market_searchedForTerm {
		@include store.tag;

		border: none;

		img {
			margin: 0;

			width: var(--icon--size-md);
			height: var(--icon--size-md);
		}

		.removeIcon {
			@include utils.icon($name: "close", $size: "sm");

			&:hover {
				filter: none;
			}
		}
	}
}

.market_search_results_title {
	font: inherit;
}

.market_subtitle_text {
	color: var(--color-fg-dim);
	font: var(--text--heading-medium);
}

#BG_bottom {
	display: flex;
	flex-direction: column;
	width: var(--apphub_content-width);
}

#BG_top {
	background-color: transparent;
	gap: 24px;

	display: flex;
	justify-content: space-between;
	width: var(--apphub_content-width);
	height: unset;

	.user_info {
		background-color: transparent;
		border: none;
		padding: 0;

		position: unset;
		min-width: unset;
		max-width: unset;
		height: unset;

		br,
		& > span:nth-child(2) {
			display: none;
		}

		a {
			@include controls.button;

			white-space: nowrap;
		}
	}

	.user_info_text {
		font: var(--text--body-large);
		gap: var(--spacing-sm);
		margin: 0;

		display: flex;
		flex-direction: column;
	}
}

.pick_and_sell_button {
	inset: 9px;
	inset-inline-start: unset;
}

.item_market_action_button_contents {
	@include controls.button($variant: "primary", $size: "sm");

	float: unset;
	height: unset;
}
