@use "shared/controls";
@use "web/layout";
@use "web/paging";

.market_content_block {
	padding: 0;
}

.my_listing_section {
	margin: 0;
}

.my_market_header {
	font: var(--text--heading-small);
	color: var(--color-fg-main);
}

.my_market_header_count {
	font: var(--text--body-small);
	color: var(--color-fg-dim);
}

.market_listing_table_message,
.market_listing_table_header {
	background-color: var(--color-bg-main-20);
	font: var(--text--body-large);
	border: none;
	border-radius: var(--rounding-lg);
	padding: 8.5px var(--market_row-spacing-inner);
	margin: 0;

	height: unset;
}

.market_listing_table_header {
	color: var(--color-fg-dim);
	margin: var(--market_row-spacing-outer) 0;
}

.market_listing_left_cell,
.market_listing_right_cell {
	color: var(--color-fg-dim);
	line-height: unset;
	border: none;

	height: unset;
}

.market_listing_header_namespacer {
	width: 0;
}

.market_listing_action_buttons {
	height: 1px;
}

.market_listing_row {
	background-color: var(--color-bg-main-50);
	border: none;
	border-radius: var(--rounding-lg);
	padding: var(--market_row-spacing-inner);
	margin-top: var(--market_row-spacing-outer);

	&:hover {
		background-color: var(--color-bg-main);
	}
}

.market_listing_item_img {
	margin: 0;

	width: 62px;
	height: 62px;
}

.market_listing_item_name_block {
	padding-left: var(--market_row-spacing-inner);
	margin-top: var(--spacing-sm);
}

.market_listing_item_name {
	font: var(--text--heading-small);

	&[style="color: #D2D2D2;"] {
		color: var(--color-fg-main);
	}
}

.market_listing_game_name {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
}

.market_listing_whoactedwith,
.market_listing_row .market_listing_listed_date,
.market_listing_price,
.market_listing_num_listings_qty {
	color: var(--color-fg-main);
	font: var(--text--body-large);
}

.market_listing_gainorloss,
.market_listing_whoactedwith,
.market_listing_row .market_listing_listed_date,
.market_listing_num_listings > span,
.market_listing_their_price > span {
	margin: 20.5px 0;
}

.market_listing_row .market_listing_their_price {
	font-size: 0;

	:is(.normal_price, .sale_price)[data-price] {
		color: var(--color-fg-main);
		font: var(--text--body-large);
	}
}

#sideBar {
	margin-top: calc(var(--spacing-md) * -1);

	position: absolute;

	& > div {
		margin-top: var(--spacing-md);
	}
}

.market_search_sidebar_contents {
	background-color: var(--color-bg-main);
	border-radius: var(--rounding-lg);
	padding: var(--spacing-md);

	width: var(--gpNavWidth);
}

.market_search_sidebar_section_tip_small {
	color: var(--color-fg-main);
	font: var(--text--body-medium);

	&::before {
		content: "";

		display: block;
		width: 100%;
		height: var(--border-sm);

		background-color: var(--color-bg-hl);
		margin: var(--spacing-md) 0;
	}
}

.escrow_description_link {
	font: var(--text--body-small);
}

.market_search_box_container {
	margin-top: var(--spacing-md);
}

#findItemsSearchBox {
	@include controls.text-field($variant: "search");
}

#findItemsSearchSubmit {
	@include controls.text-field-icon($name: "search");
}

.game_button,
#market_search_advanced_show,
.market_show_more_games {
	margin-top: 9px;

	width: 100%;
}

.game_button {
	line-height: unset;

	height: unset;
}

.game_button_contents {
	height: unset;
}

.game_button_game_icon > img {
	border-radius: var(--rounding-md);
}

.market_show_more_games > a,
.game_button_contents,
.market_search_advanced_button {
	@include layout.sidebar-item(".hack");

	font: var(--text--body-small);
	color: var(--color-fg-main);
	border: none;

	width: 100%;
}

.market_show_more_games > a {
	.arrow_down {
		display: none;
	}
}

.market_search_advanced_button {
	color: var(--color-fg-main);
	font: var(--text--body-medium);
	text-align: center;

	& > .btn_details_arrow {
		display: none;
	}
}

.market_page_left {
	padding: 0;
	margin-left: var(--sidebar-width);
}

.market_paging {
	line-height: unset;
	gap: var(--spacing-xxs);
	padding: var(--spacing-xxs);
	padding-right: 0;
	margin: 0;
	margin-top: var(--market_row-spacing-outer);

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
	height: unset;

	#searchResults_links {
		@include paging.links-container;
	}
}

.market_paging_controls {
	@include paging.container;
}

.market_paging_pagelink {
	@include paging.link($selected: "&.active");

	margin: 0;
}
