@use "shared/controls";

#myMarketTabs,
.market_large_tab_well {
	padding: 0;
	margin: 0;

	height: unset;
}

.market_large_tab_well img,
.resultsbluebg {
	display: none;
}

.market_tab_well_tabs {
	@include controls.tabs-container;

	font-size: 0;
	border: none;
	// Divide by 2 for whitespace
	gap: calc(var(--spacing-xs) / 2);

	display: flex;
	position: unset;
}

.market_tab_well_tab_contents {
	@include controls.tab(".hack");

	min-width: unset;

	.market_tab_well_tab_active > & {
		background-color: var(--color-bg-hl);
		color: var(--color-fg-main);
	}
}

#myListings {
	margin-top: 18px;
	margin-bottom: 89px;
}
