@use "shared/controls";
@use "web/layout";

.workshop_home_content {
	width: var(--apphub_content-width);

	& > div {
		gap: var(--spacing-md);

		display: flex;
	}

	.left_column {
		padding: 0;

		width: unset;
	}

	.panel,
	.primary_panel_border {
		all: unset;
	}

	.primary_panel {
		background: none;

		.browse_option {
			@include layout.sidebar-item(".hack");

			color: inherit;
			font: inherit;
			margin-inline: 0;

			a {
				background: none;
				padding: 0;
			}
		}

		.current_player_files_ctn {
			gap: var(--spacing-sm);

			display: flex;

			.avatar_workshop_overlay {
				display: none;
			}

			.playerAvatar {
				--size: var(--avatar--size-md);
			}
		}

		.current_player_workshop_link {
			padding: 0;

			a {
				@include controls.dropdown;
			}
		}

		.current_player_workshop_title a {
			color: var(--color-fg-main);
			font: var(--text--heading-small);
			padding: 0;
		}

		.menu_panel {
			padding: 0;
		}
	}

	.right_column {
		@include layout.sidebar-container;

		.browseTitle {
			display: none;
		}

		.filterOption {
			@include layout.sidebar-item(".TODO");

			margin-inline: 0;

			.tag_count {
				color: var(--color-fg-dim);
			}

			.tag_label {
				all: unset;

				display: flex;
				justify-content: space-between;
			}
		}

		.title {
			color: var(--color-fg-main);
			font: var(--text--body-large);
			text-transform: none;
			border-block-start: var(--border-sm) solid var(--color-bg-hl);
			padding-block-start: var(--spacing-md);
			margin-block: var(--spacing-md) var(--spacing-sm);
		}
	}

	.section {
		padding: 0;
		margin-bottom: var(--spacing-sm);

		&:not(.tabbed) {
			background: var(--color-bg-main);
			border-radius: var(--rounding-md);
			padding: var(--spacing-lg);
		}
	}

	.section_bottom_bar {
		all: unset;
	}

	.section_title {
		color: var(--color-fg-main);
		font: var(--text--heading-medium);

		a {
			color: inherit;
			font: inherit;
		}
	}

	.section_title_ctn {
		padding: 0;
		margin-bottom: var(--spacing-lg);

		.section_subtitle {
			color: var(--color-fg-dim);
			font: var(--text--heading-medium);
		}
	}
}

.workshop_item_row {
	background: var(--color-bg-main);
	border: none;
	border-radius: var(--rounding-md);
	padding: var(--spacing-md);
	margin-bottom: var(--spacing-sm);

	&:hover {
		background-color: var(--color-bg-hover);
	}

	.preview_image {
		border-radius: var(--rounding-md);
		margin-right: var(--spacing-md);
	}
}

.workshop_item_tags {
	color: var(--color-fg-dim);
}

.workshop_item_title {
	color: var(--color-fg-main);
	font: var(--text--heading-medium);
	padding: 0;
}
