@use "shared/controls";
@use "shared/utils";
@use "web/store";

@mixin -icon($name) {
	min-width: 44px;

	&::before {
		content: "";

		@include utils.icon($name);
	}
}

@mixin -section {
	background: var(--color-bg-main-50);
	border-radius: var(--radius-lg);
	padding: 25px;
}

@mixin -section-header {
	color: var(--color-fg-dim);
	font: var(--text--heading-small);
	margin-block-end: 30px;
}

#sharedfiles_content_ctn {
	.commentthread_header {
		@include -section-header;

		// TODO: move to comments.scss if I see this again
		background-color: transparent;
		padding: 25px;
		margin: -25px;
		margin-block-end: 30px;
	}

	#rightContents {
		background-color: transparent;
		padding: 0;
		margin-left: var(--spacing-sm);

		.panel {
			background-color: var(--color-bg-main);
			border-radius: var(--radius-lg);
			padding: var(--spacing-md);
			margin-bottom: var(--spacing-sm);

			display: block;

			.hr {
				display: none;
			}

			.title {
				color: var(--color-fg-main);
				font: var(--text--body-large);
				text-transform: none;
				margin-top: 0;
			}
		}
	}
}

.detailBox:not(.plain) {
	@include -section;

	margin-bottom: var(--spacing-md);
}

.game_area_purchase_game {
	@include -section;

	border: none;

	align-items: center;
	justify-content: space-between;

	br {
		display: none;
	}

	& > h1 {
		color: var(--color-fg-main);
		font: var(--text--heading-medium);

		display: flex;
		flex-direction: column-reverse;
		width: unset;

		span {
			color: var(--color-fg-dim);
			font: var(--text--body-medium);
		}
	}

	.subscribeIcon {
		display: none;
	}

	.subscribeOption.selected {
		line-height: inherit;
	}
}

.game_area_purchase_margin {
	margin-bottom: var(--spacing-sm);
}

.just_added_text {
	float: unset;
	width: unset;
}

.just_added_to_list {
	@include -section;

	background: color-mix(in srgb, var(--color-primary) 50%, transparent);
	color: var(--color-fg-main);
	font: var(--text--body-large);
	margin-block: 0 var(--spacing-sm);

	.close_notification {
		@include utils.icon($name: "close", $remove: true);
	}

	[style="float: left"] {
		float: unset;
	}
}

.just_subscribed_icon {
	display: none;
}

.parentCollection {
	// just reuse it lol
	@include -section;

	margin-bottom: 20px;

	&:hover {
		background-color: var(--color-bg-main);
	}
}

.parentCollectionNumChildren {
	font: var(--text--body-large);
}

.parentCollectionsNumOthers {
	padding: 0;
	color: var(--color-fg-dim);
}

.parentCollectionTitle {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	padding: 0;
}

.parentCollections {
	padding: 0;
}

.parentCollectionsTitle {
	@include -section-header;
}

.requiredItem {
	background-color: var(--color-bg-hl);
	border-radius: var(--radius-lg);
	padding: var(--spacing-sm);
	margin-bottom: var(--spacing-sm);
}

.requiredItemSubscribed {
	@include utils.icon($name: "checkbox-checked", $remove: true);
}

.stats_table {
	color: var(--color-fg-dim);

	tr > td:first-child {
		color: var(--color-primary);
	}
}

.workshopItemControls {
	.general_btn {
		@include controls.button-vars("secondary");

		margin-right: var(--spacing-sm);

		&#ReportItemBtn {
			@include -icon("flag");
		}

		&#VoteDownBtn {
			@include -icon("thumb-up");
		}

		&#VoteUpBtn {
			@include -icon("thumb-up");
		}
	}

	.vertical_divider {
		display: none;
	}
}

.workshopItemDescription {
	color: var(--color-fg-main);
	font: var(--text--body-large);
	padding: 0;
	margin: 0;
}

.workshopItemDescriptionTitle {
	@include -section-header;

	text-transform: none;
	margin-top: 0;

	& > .detail {
		font: inherit;
		margin: 0;
	}
}

.workshopItemDetailsHeader {
	margin: 0;

	display: flex;
	flex-direction: column-reverse;
	align-items: start;

	#detailsHeaderRight {
		padding: 0;
	}

	.numRatings {
		color: var(--color-fg-dim);
		font: var(--text--body-medium);
	}

	.ratingSection {
		gap: var(--spacing-xs);

		display: flex;
		align-items: center;
	}
}

.workshop_item_header {
	@include -section;

	gap: 25px;
	box-shadow: none;

	.col_right {
		// TODO(js): original is 416px
		//width: 416px;
	}

	.detailsStatLeft,
	.detailsStatRight {
		color: var(--color-fg-dim);
	}

	.detailsStatNumChangeNotes {
		color: var(--color-fg-dim);
		font: inherit;

		a {
			font: inherit;
		}
	}

	.highlight_ctn {
		max-width: unset;
	}

	.hr {
		background: var(--color-bg-hover);
		margin-block: 8px;
	}

	.rightDetailsBlock {
		font: inherit;
	}
}

.workshopItemPreviewArea {
	margin: 0;
}

.workshopItemPreviewImageMain {
	border-radius: var(--rounding-md);
	padding: 0;
	margin: 0;
	margin-bottom: 8px;
}

.workshopItemRatings {
	padding-bottom: var(--spacing-sm);
}

.workshopTags {
	font-size: 0;
	gap: 4px;
	padding: 0;
	margin-bottom: 8px;

	display: flex;
	flex-wrap: wrap;
	align-items: center;

	a {
		@include store.tag;
	}
}

.workshopTagsTitle {
	color: var(--color-fg-dim);
	font: var(--text--body-medium);
	margin-right: 12px;
}
