@use "shared/extends/controls";

#AllButton {
	@include controls.button;

	color: inherit;
	font: inherit;

	&#ButtonHighlight {
		background-color: var(--color-primary);
	}
}

#ButtonGroup {
	background-color: transparent;
	padding: 0;
	margin: 0;

	justify-content: start;
}

#CookieGroup {
	padding: 0;
}

#NecessaryDesc {
}

#NecessaryGroup {
}

#NecessaryTitle {
}

#SectionDescription {
	color: var(--fg-dim);
}
