@use "shared/extends/controls";

body:is(.account, .account_preferences) {
	background: #11171e;
}

.two_column {
	font: var(--gpText-BodyLarge);

	&.left {
		background-color: var(--bg-main);
		border-radius: var(--border-radius-large);
		padding: var(--spacing-md);

		min-width: var(--sidebar-width);
	}

	&.right {
		margin-left: var(--spacing-md);
	}

	[style="clear: both"] {
		display: none;
	}
}

.accountData {
	--fg-main: var(--color-primary);
	font: var(--gpText-HeadingSmall);

	position: unset;
}

.accountRow {
	color: var(--fg-main);
	font: var(--gpText-HeadingSmall);
	margin: 0;

	height: unset;
}

.account_data_field {
	color: var(--fg-dim);
	font: var(--gpText-BodyLarge);

	&[href] {
		color: var(--color-primary);
	}
}

.account_header_line {
	background-color: var(--bg-main);
	color: var(--fg-dim);
	font: var(--gpText-HeadingMedium);
	border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
	padding: var(--spacing-lg);
	padding-bottom: 0;

	height: unset;

	img,
	svg {
		display: none;
	}

	span {
		margin: 0;
	}
}

.account_manage_label {
	font: var(--gpText-HeadingSmall);
	padding: 0;
}

.account_manage_link {
	@include controls.button;

	text-align: center;
	margin: 0;

	&.delete_link {
		@include controls.button-colors("red");
	}
}

.account_security_block {
	margin: 0;

	& > [style="float: left"] {
		font: var(--gpText-HeadingSmall);
	}
}

.account_setting_block_short,
.account_setting_block {
	background-color: var(--bg-main);
	padding: var(--spacing-lg);
	margin-bottom: var(--spacing-md);

	display: flex;
	flex-direction: column;
}

.account_settings_container {
	@extend .account_setting_block;

	font: var(--gpText-BodyLarge);

	.h3_content {
		margin: 0;
	}

	.hspacer {
		height: var(--spacing-xl);
	}

	blockquote {
		margin: 0;
		margin-top: var(--spacing-sm);
	}

	h3 {
		letter-spacing: 0;
		text-transform: unset;
	}

	label {
		color: inherit;
		font: inherit;
	}

	p {
		padding: 0;
	}
}

.account_setting_sub_block_long,
.account_setting_sub_block {
	color: var(--fg-main);
	gap: var(--spacing-lg);
	padding: 0;

	width: 100%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.gray_bevel {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	margin: 0;
	all: unset;

	input[type="text"],
	textarea {
		background: transparent;
		border: 1px solid var(--bg-hover);
		border-radius: var(--border-radius);
		padding: var(--spacing-sm) var(--spacing-md);

		font: inherit;

		&::placeholder {
			color: var(--bg-hover);
			font: var(--gpText-BodyMedium);
		}
	}

	input[type="text"] {
		height: unset;
	}
}

.inner_rule {
	border-top: 2px solid var(--bg-hl);
	margin-block: var(--spacing-lg);
}

.youraccount_steamid {
	color: var(--fg-dim);
	font: var(--gpText-BodyLarge);
}
