#HeaderContainer {
	all: unset;
}

#ProductActivationInfoContainerDesktop {
	padding-block-end: var(--spacing-lg);

	#InfoExample {
		color: var(--color-fg-dim);
		font: var(--text--body-small);
		letter-spacing: 0;
	}

	#InfoExampleHeader {
		color: var(--color-fg-main);
		font: var(--text--heading-small);
		letter-spacing: 0;
		text-transform: none;
		margin-block-start: var(--spacing-lg);
	}
}
