@use "shared/utils";

%-points-icon {
	--icon-link: url("https://steamloopback.host/skins/juxtopposed-steam-redesign/assets/images/points.png");

	background-image: var(--icon-link);
	background-size: var(--icon-size);
	padding: 0;
	margin-inline-end: var(--spacing-sm);

	width: var(--icon-size);
	height: var(--icon-size);

	* {
		display: none;
	}
}

#ButtonContainer {
	gap: 0;

	#Button {
		transition: var(--transition);
		border: none;
		border-radius: var(--rounding-lg);

		&:hover {
			background-color: var(--color-bg-hover);
		}

		&#Selected {
			background-color: var(--color-primary);
			color: var(--color-bg-main);

			#Label {
				color: inherit;
			}
		}
	}

	#Label {
		color: var(--color-primary);
		font: var(--text--heading-small);
		letter-spacing: 0;
	}

	#Points {
		font: var(--text--body-medium);
		letter-spacing: 0;
	}

	#PointsAmountIcon {
		--icon-size: var(--icon--size-sm);
		@extend %-points-icon;
	}
}

#Description {
	color: var(--color-fg-dim);
	font: inherit;
}

#Divider {
	display: none;
}

#Footer {
	& > :first-child {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
	}

	#BalanceAmount {
		color: var(--color-primary);
		font: var(--text--heading-small);
		letter-spacing: 0;
	}

	#BalanceIcon {
		--icon-size: 32px;
		@extend %-points-icon;
	}

	#BalanceLabel {
		display: none;
	}
}

#FooterLink {
	font: inherit;
	text-decoration: none;
	padding: 0;
}

#GrantAwardModal {
	color: var(--color-fg-main);

	.DialogContent_InnerWidth {
		gap: var(--spacing-sm);
	}
}

#Title {
	font: var(--text--heading-large);
	letter-spacing: 0;
	text-transform: none;
}
