#ClipProgressDialog {
	gap: var(--spacing-sm);
	padding: 0;

	.DialogButton {
		margin-block-start: calc(
			var(--dialog--spacing-content) - var(--spacing-sm)
		);
	}
}

#Error {
	color: var(--color-accent-red);
}

#Title {
	color: var(--color-fg-main);
	font: var(--text--heading-large);
	margin-block-end: var(--spacing-sm);
}
