#ClipProgressDialog {
	gap: var(--spacing-sm);
	padding: 0;

	.DialogButton {
		margin-block-start: calc(30px - var(--spacing-sm));
	}
}

#Error {
	color: var(--accent-red);
}

#Title {
	color: var(--fg-main);
	font: var(--gpText-HeadingLarge);
	margin-block-end: var(--spacing-sm);
}
