@use "shared/controls";
@use "shared/style";
@use "shared/utils";

%-folder-icon {
	color: inherit;
	margin: 0;

	position: absolute;
	width: var(--icon-size);
	height: var(--icon-size);

	svg {
		width: inherit;
		height: inherit;
	}
}

#AppLogo {
	margin-inline-end: var(--spacing-md);

	width: 115px;
	height: 58px;

	img {
		border-radius: var(--border-radius);
	}
}

#AppName {
	color: var(--fg-main);
	font: var(--gpText-HeadingSmall);
}

#AppSizeRequired {
	color: var(--fg-dim);
	font: var(--gpText-BodyMedium);
}

#AppToInstall {
	border: none;
	padding: 0;

	align-items: center;
}

#AppsToInstall {
	border: none;
	margin: 0;
}

#CreateShortcuts {
	gap: var(--spacing-xs);
	margin: 0;

	flex-direction: column;
}

#FolderOption {
	@include controls.radio("&#Active");

	background-color: var(--bg-hl);
	color: var(--fg-main);
	gap: 0;
	margin: 0;

	flex-direction: column;
	align-items: start;
	position: relative;

	svg {
		@include utils.icon("name", true);
	}

	#FolderFlag {
		@extend %-folder-icon;
		--icon-name: icon("info");

		inset-inline-end: var(--spacing-md);

		&:not(#Warning) {
			display: none;
		}
	}

	#FolderFlagStar {
		--icon-name: icon("star");
		@extend %-folder-icon;

		inset-inline-end: calc(
			var(--spacing-md) + var(--spacing-sm) + var(--icon-size)
		);
	}

	#FolderName {
		color: inherit;
	}

	#FreeSpace {
		@include controls.radio-description;

		text-transform: none;
	}
}

#FolderSelector {
	padding: 0;

	#Header {
		color: var(--fg-main);
		font: var(--gpText-BodyLarge);
		letter-spacing: 0;
		text-transform: none;

		align-items: end;

		// TODO
		.tool-tip-source {
			display: flex;
		}
	}
}

#FolderSettings {
	@include controls.icon-button($w: 36px, $child: "svg", $name: "settings");

	width: unset;
	height: unset;
}

#NoticeInstallFolder:not(:has(> span:empty)) {
	@include style.alert;

	text-transform: none;

	justify-content: start;
	min-height: 1lh;

	#FolderFlag {
		display: none;
	}
}
