@use "shared/utils";

#Explainer {
	color: var(--color-fg-main);
	font: var(--text--heading-small);
	margin-block-end: var(--spacing-xs);
}

#KeyCaptureBottomRow {
	gap: var(--spacing-sm);
}

#Subhead {
	color: var(--color-fg-dim);
	font: inherit;
}

#UnbindButton {
	@include utils.icon("close", true, "lg");

	inset-block-start: 12px;
	inset-inline-end: 15px;

	&:not(:hover) {
		color: var(--color-fg-dim);
	}
}
