@use "shared/controls";

// "Share on Steam" modal

#CaptionField {
	@include controls.text-field;
}

#CloudStorageImpact {
	color: var(--fg-main);
	font: inherit;
}

#ScreenshotShareDialog {
	gap: var(--spacing-sm);

	// TODO(vars): dialog
	#Buttons {
		gap: var(--spacing-sm);
		margin-block-start: calc(30px - var(--spacing-sm));
	}
}

#ShareDialogRow {
	gap: var(--spacing-sm);

	flex-direction: column;
	align-items: start;
}

#SpoilerField,
#VisibilityField {
	gap: var(--spacing-xs);

	#Label {
		color: var(--fg-dim);
		font: inherit;
	}
}
