@use "shared/controls";
@use "shared/utils";

#DescribeGame {
	color: var(--color-fg-dim);
	margin-block: 0 var(--spacing-xxs);
}

#Header {
	display: none;
}

#OptionButton {
	@include controls.button;

	span {
		padding: 0;
	}
}

#OptionsContainer {
	background-color: transparent;
	gap: var(--spacing-lg);
	padding: 0;

	& > div {
		border: none;
		padding: 0;
	}
}

#OptionDesc {
	text-align: start;
	padding: 0;
	margin-block-start: var(--spacing-sm);
}

#OptionSvg {
	display: none;
}

#ReviewSettingsChecks {
	gap: var(--spacing-xxs);
	margin: 0;

	// #partnereventshared_HelperTooltip
	.HelperTooltip {
		@include utils.tooltip-icon;

		// TODO: gap in .DialogCheckbox_Container instead ?
		margin-inline-start: var(--spacing-xxs);
	}
}

#ReviewSettingsRow {
	display: block;

	& > span {
		line-height: calc(1lh + var(--spacing-xxs));
	}
}

#ReviewTextArea {
	@include controls.text-field;

	width: 100%;
}

#ReviewThumbButton {
	@include controls.button;

	margin-inline: var(--spacing-sm) 0;

	&#Selected {
		@include controls.button-vars("primary");
	}

	#ThumbIcon {
		display: none;
	}
}

#WriteReviewContainer {
	font: inherit;

	#RatingContainer {
		background-color: transparent;
		padding: 0;
		margin-block: 0 var(--spacing-lg);
	}
}
